<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Usuários | CDE</title>
        <link rel="icon" href="{{ url_for('static', filename='cde-logo-only.svg') }}" type="image/x-icon">

        {% include 'shared/header/cde-header.html' %}

    <!-- TABELA -->
        <div draggable="false" class="forms-container" style="display: unset;">
                <div>
                    <div>
                        <form>
                            <h1 class="cor-web">Editar Usuário</h1>
                            {% for item in user_data %}
                                <div>
                                    <div style="margin-bottom: 10px; margin-top: 8px;" class="centralizado">
                                        <div class="user-button bigger">
                                            {{ item['nome_user'][0] }}{{ item['sobrenome_user'][0] }}
                                        </div>
                                    </div>
                                    <h3>{{ item['nome_user'] }} {{ item['sobrenome_user'] }}</h3>
                                    <h4 style="margin-top: 0; margin-bottom: 18px; text-align: center">
                                        {{ 'Administrador' if item['privilege_user'] <= 2 else 'Usuário Padrão' }}
                                    </h4>
                                    <a class="btn-fancy" href="{{ url_for('users') }}">Voltar</a>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>

        </div>
        <div draggable="false" class="tables-container" style="width: 600px">

            <div class="split-horizontal">
                <div style="width: 100%; max-height: 535px;">

                    <h1>Permissões do Sistema</h1>
                    <div class="table-overflow" style="max-height: 440px;">
                        <table id="filterTable">
                            <tr>
                                <th>Permissão (Cód.)</th>
                                <th>Permissão (Desc.)</th>
                                <th>Acesso</th>
                            </tr>
                            {% for permission in permissions %}
                                <tr>
                                    <td>{{ permission['id_perm'] }}</td>
                                    <td>{{ permission['desc_perm'] }}</td>
                                    <td class="tb-checkbox">
                                        {% if user_permissions %}
                                            {% set perm_ids = user_permissions|map(attribute='id_perm')|list %}
                                            {% if permission['id_perm'] in perm_ids %}
                                                <input type="checkbox" class="check" checked oninput="confirmRemover('{{ req_id_user }}','{{ permission['id_perm'] }}', this)">
                                            {% else %}
                                                <input type="checkbox" class="check" oninput="confirmAdicionar('{{ req_id_user }}','{{ permission['id_perm'] }}', this)">
                                            {% endif %}
                                        {% else %}
                                            <input type="checkbox" class="check" oninput="confirmAdicionar('{{ req_id_user }}','{{ permission['id_perm'] }}', this)">
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <br>
                </div>
                <div class="box-case">
                    <img class="svg-hover" src="{{ url_for('static', filename='svg/user.svg') }}" alt="">
                    <div class="centralizado" style="width: 450px; height: 450px;">
                        <div>
                            <img class="side-banner" style="height: 450px; width: 450px; border-radius: 20px; " src="{{ url_for('static', filename='img/side-user.jpg') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script>
        /*
        function confirmRemover(idUser, idPerm, checkbox) {
            window.location.href = "remove-perm/" + idUser + "/" + idPerm

        }
        function confirmAdicionar(idUser, idPerm, checkbox) {
            window.location.href = "/users/add-perm/" + idUser + "/" + idPerm;
        }
        */


        function confirmRemover(idUser, idPerm, checkbox) {
            if (confirm("Você tem certeza que deseja remover esta permissão?")) {
                window.location.href = "remove-perm/" + idUser + "/" + idPerm
            } else {
                checkbox.checked = true;
            }
        }
        function confirmAdicionar(idUser, idPerm, checkbox) {
            if (confirm("Você tem certeza que deseja adicionar esta permissão?")) {
                window.location.href = "/users/add-perm/" + idUser + "/" + idPerm;
            } else {
                checkbox.checked = false;
            }
        }



    </script>




    {% include 'shared/footer.html' %}