<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Usuários {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | CDE</title>
        <link rel="icon" href="{{ url_for('static', filename='cde-logo-only.svg') }}" type="image/x-icon">

        {% include 'shared/header/cde-header.html' %}

    <!-- TABELA -->
    <div class="titles-container flex-row title-centerer">
        <h1>
            <a href="{{ url_for('home') }}">CDE</a>
            <span class="dash">/</span>
            <span>USUARIOS</span>
            <span class="id-page">{{session['id_page']}}</span>
        </h1>
        <div class="aux-buttons">
            {% if 'user_grant' in session %}
                {% if session['user_grant'] <= 2 %}
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/cog.svg') }}" title="EDITAR USUÁRIOS" alt="" onclick="toggleEdit()">
                {% endif %}
            {% endif %}
            <hr class="vert">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="VOLTAR" alt="" onclick="goBack()">
        </div>
    </div>
    <div class="flex-row" style="min-width: 100%;">
        <div class="forms-container" style="padding: 12px 30px;display: unset; max-height: 550px; min-height: unset;">
            {% if session['user_grant'] <= 2 %}
                <div class="split-horizontal">
                    <div>
                        <h2 style="justify-content: flex-start">Cadastrar Usuário</h2>
                        <form action="/users/inserting" method="post">
                            <label for="login_user">Login: <span style="color: red">*</span></label>
                            <input type="text" id="login_user" name="login_user" placeholder="E-mail, telefone ou usuário..." required>
                            <div class="split-horizontal">
                                <label for="password_user">Senha: <span style="color: red">*</span></label><label class="cor-web" style="text-align: right;" id="password_strength"></label>
                            </div>
                            <input class="disabled" id="password_user" name="password_user" placeholder="Senha de usuário..." value="12345" disabled required>
                            <div class="split-horizontal">
                                <div>
                                    <label for="nome_user">Nome: <span style="color: red">*</span></label><br>
                                    <input class="address" type="text" id="nome_user" name="nome_user" placeholder="Nome..." required>
                                </div>
                                <div>
                                    <label for="sobrenome_user">Sobrenome: <span style="color: red">*</span></label><br>
                                    <input class="address" type="text" id="sobrenome_user" name="sobrenome_user" placeholder="Sobrenome..." required>
                                </div>
                            </div>

                            <label for="privilege_user">Privilégios: <span style="color: red">*</span></label>
                            <select id="privilege_user" name="privilege_user" required>
                                {% if 'user_grant' in session %}
                                    <option value="3">Padrão</option>
                                    <option value="2">Administrador</option>
                                    {% if session['user_grant'] <= 1 %}
                                        <option value="1" style="color: red">Desenvolvedor</option>
                                    {% endif %}
                                {% endif %}
                            </select>
                            <p style="color: red">Campos com * são obrigatórios.</p>
                            <div style="display: flex;width: 100%;">
                                <input class="btn-fancy" style="max-width: none;" type="submit" value="Cadastrar">
                                
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
            <div style="margin-top: 50%; padding: 0 80px;">
                <p class="disabled">Seu usuário não possui privilégios para esta ação.</p>
            </div>
            {% endif %}
        </div>
        <div draggable="false" class="tables-container" style="width: 600px">
            <h1>Usuários do Sistema</h1>
            <div class="split-horizontal">
                <div style="width: 100%;">
                    <div class="table-overflow" style="max-height: 620px;">
                        <table id="filterTable">
                            <tr>
                                <th>Usuário (Cód.)</th>
                                <th>Usuário (Desc.)</th>
                                <th>Usuário (Tipo)</th>
                                <th>Último Acesso (Data)</th>
                            </tr>
                            {% for item in users %}
                                <tr>
                                    <td>{{ item['cod_user'] }}</td>
                                    <td>{{ item['user_name'] }}</td>
                                    <td>{{ item['user_grant'] }}</td>
                                    <td>{% if not item['ult_acesso'] %} - {% else %} {{ item['ult_acesso'] }} {% endif %} </td>
                                    <td class="td-more hidden-button" data-toggle="tooltip" ><img class="svg-link table-more" src="{{ url_for('static', filename='svg/edit-link.svg') }}" onclick="redirectToEdit('{{ item['cod_user'] }}')" alt=""></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function redirectToEdit(idUser) {
            window.location.href = "/users/edit?id_user=" + idUser;
        }
    </script>

    {% include 'shared/footer.html' %}