{% extends 'base.html' %}

{% block title %}Requisição{% endblock title %}

{% block content %}

    <div class="titles-ruler">
        
        {% from 'components/title-route.html' import title_container %}
        {{ title_container(
            id_page=session['id_page'],
            breadcrumbs=[
                {'text': 'LOGI', 'url': 'home_logi', 'title': 'LOGISTICA'},
                {'text': 'REQUISIÇÕES'}
            ],
            aux_buttons=[
                {'type': 'link', 'url': 'mov_request', 'icon': 'svg/hand-helping.svg', 'title': 'REQUISICOES', 'active': True},
                {'type': 'divider'},
                {'type': 'form', 'url': 'mov_request', 'method': 'post', 'icon': 'svg/list-restart.svg', 'title': 'RECARREGAR LISTA DE REQUISIÇÕES'},
                {'type': 'divider'},
                {'type': 'link', 'url': 'req_sep_done', 'param_name': 'id_req', 'param': '0', 'icon': 'svg/grid-2x2.svg', 'title': 'SEPARACAO (CONCLUIDOS)'},
                {'type': 'divider'},
                {'type': 'disabled', 'icon': 'svg/filter.svg', 'title': 'FILTROS'},
                {'type': 'action', 'icon': 'svg/circle-arrow-left.svg', 'title': 'VOLTAR', 'onclick': 'goBack()'}
            ]
        ) }}
        
    </div>

    <div id="divContent" style="flex-wrap: wrap;">
        {% if id_req %}
            <div class="tables-container" style="max-width: 55%; min-width: 55%;">
                <div class="flex-v">
                    <div class="split-h">
                        <h1 style="margin-bottom: 8px">Número de Requisição <input id="idCargaContainer" class="text-main-color" value="{{ id_req }}"></h1>
                        <div class="flex-h" style="gap: 30px">
                            <div class="cart-container" style="display: none">
                                <button class="cart-button" onclick="toggleCart()">Subtotais<span class="item-count" id="item-count">0</span></button>
                                <div class="cart-dropdown hidden" id="cart-dropdown">
                                    <ul class="cart-items">
                                        <!-- Itens serão renderizados aqui -->
                                    </ul>
                                    <button class="checkout-button" onclick="window.location.href='{{ url_for('mov_request') }}';">Visualizar Separação</button>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: column; gap: 6px">
                                <form action="{{ url_for('mov_request') }}" method="post">
                                    <button type="submit" style="all: unset" onclick="showLoading()">
                                        <a class="button-mini btn-fancy" style="margin: 0" onclick="window.location.href='{{ url_for('mov_request') }}';" title="FECHAR">
                                            <img class="svg-invert" src="{{ url_for('static', filename='svg/xmark.svg') }}" alt="">
                                        </a>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% if result %}
                        <h1 class="subtitle">Responsável: <span class="text-main-color">{{ result[0][columns.index('USUARIO')] }}</span></h1>
                    {% endif %}
                </div>
                <div class="hidden" id="alert-message"></div>
                {% if result %}
                    <div id="detailedTable" class="hidden">
                        <div style="display: flex; justify-content: space-between; align-items: flex-end;">
                            <p>Lista Detalhada</p>
                            <div class="btn-fancy" style="width: 45px; height: 45px; margin: 0" onclick="toggleTableSubtotal()">
                                <img class="svg-invert" src="{{ url_for('static', filename='svg/panel-top-close.svg') }}" alt="">
                            </div>
                        </div>
                        <table style="max-height: 500px; overflow-y: auto;">
                            <thead>
                                <tr>
                                    <th>Promob (Log)</th>
                                    <th>Item (Código)</th>
                                    <th>Item (Descrição)</th>
                                    <th style="width: 100px;">QTDE (Solicitada)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set items = [] %}
                                {% set subtotals = {} %}
                                
                                {% for row in result %}
                                    {% set cod_item   = row[columns.index('COD_ITEM')] %}
                                    {% set qtde_solic = row[columns.index('QTDE')] | int %}
                                    {% set subtotal   = subtotals.get(cod_item, 0) + qtde_solic %}
                                    {% set subtotals  = subtotals.update({cod_item: subtotal}) or subtotals %}
                                    {% set items      = items.append(row) or items %}
                                {% endfor %}
                                
                                {% for row_cod_item, subtotal in subtotals.items() %}
                                    {% for row in items %}
                                        {% if row[columns.index('COD_ITEM')] == row_cod_item %}
                                            <tr class="unselectable-row">
                                                <td class="over-row">{{ row[columns.index('LOG_PROMOB')] }}</td>
                                                <td>{{ row[columns.index('COD_ITEM')] }}</td>
                                                <td style="text-wrap: balance;">{{ row[columns.index('DESC_ITEM')] }}</td>
                                                <td>{{ row[columns.index('QTDE')] | int }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <tr 
                                        class="selectable-row sub-total {% if row_cod_item == cod_item %}active{% endif %}"
                                        onclick="sendCodItem('requisicao', '{{ row_cod_item }}', '{{ id_req }}', '{{ subtotal }}')"
                                    >
                                        <td colspan="3" style="text-align: right;">{{ row_cod_item }}</td>
                                        <td>{{ subtotal }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="standardTable">
                        <div style="display: flex; justify-content: space-between; align-items: flex-end;">
                            <p>Lista Subtotal</p>
                            <div class="btn-fancy" style="width: 45px; height: 45px; margin: 0" onclick="toggleTableSubtotal()">
                                <img class="svg-invert" src="{{ url_for('static', filename='svg/list-tree.svg') }}" alt="">
                            </div>
                        </div>
                        <table style="max-height: 500px; overflow-y: auto;">
                            <thead>
                                <tr>
                                    <th>Item (Código)</th>
                                    <th>Item (Descrição)</th>
                                    <th style="width: 100px;">QTDE (Solicitada)</th>
                                    <th style="width: 100px;">QTDE (Separada)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set items = {} %}
                                
                                {% for row in result %}
                                    {% set row_cod_item = row[columns.index('COD_ITEM')] %}
                                    {% set desc_item = row[columns.index('DESC_ITEM')] %}
                                    {% set qtde_solic = row[columns.index('QTDE')] | int %}
                                    
                                    {% if row_cod_item in items %}
                                        {% set items = items.update({row_cod_item: {'desc': desc_item, 'qtde': items[row_cod_item]['qtde'] + qtde_solic}}) or items %}
                                    {% else %}
                                        {% set items = items.update({row_cod_item: {'desc': desc_item, 'qtde': qtde_solic}}) or items %}
                                    {% endif %}
                                {% endfor %}
                                
                                {% for row_cod_item, item in items.items() %}
                                    <tr 
                                        class="selectable-row sub-total {% if row_cod_item == cod_item %}active{% endif %}" 
                                        data-cod-item="{{ row_cod_item }}"
                                        onclick="sendCodItem('requisicao', '{{ row_cod_item }}', '{{ id_req }}', '{{ item.qtde }}')"
                                    >
                                        <td>{{ row_cod_item }}</td>
                                        <td style="text-wrap: balance;">{{ item.desc }}</td>
                                        <td>{{ item.qtde }}</td>
                                        <td class="subtotal-cell"></td>
                                    </tr> 
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="btn-fancy" onclick="window.location.href='{{ url_for('req_sep_pend', id_req=id_req) }}';">VISUALIZAR</div>
                {% else %}
                    <div class="msg-success">
                        <details>
                            <summary>A requisição selecionada já foi finalizada.</summary>
                            Caso necessite visualizá-la, clique no botão abaixo.
                        </details>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if 'user_grant' in session %}
            {% if id_req %}
                {% if cod_item and cod_item in cod_item_list %}
                    <div class="tables-container glow-logi">
                        <span>
                            <h1>Item <span class="text-main-color">{{ cod_item }}</span> em Estoque:</h1>
                        </span>
                        {% if result %}
                            <table>
                                {% if not result_local %}
                                    <div class="msg-error">
                                        <details>
                                            <summary>Não há saldo disponível para este item!</summary>
                                            Atualmente, não existe saldo suficiente para suprir esta requisição.
                                        </details>
                                    </div>
                                {% else %}
                                    <thead>
                                        <tr>
                                            <th>Endereço</th>
                                            <th>Item (Código)</th>
                                            <th>Lote (Código)</th>
                                            <th>Validade (Dias)</th>
                                            <th>QTDE (Efetiva)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in result_local %}
                                        {% set qtde_solic = request.args.get('qtde_solic') %}
                                            <tr class="selectable-row" onclick="pushItemIntoSeparacao(
                                                '{{ row['saldo'] }}', '{{ qtde_solic }}',
                                                '{{ row['address'] }}',
                                                '{{ row['cod_lote'] }}'
                                            )">
                                                <td>{{ row['address'] }}</td>
                                                <td>{{ row['cod_item'] }}</td>
                                                <td>{{ row['cod_lote'] }}</td>
                                                <td title="Data Fab.: {{ row['date_fab'] }}">{{ row['validade'] }}</td>
                                                <td {% if qtde_solic|int <= row['saldo'] %} style="color: green"{% else %} style="color: red"{% endif %}>
                                                    {{ row['saldo'] }}
                                                </td>    
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <div id="inputContainer" class="hidden"></div>
                                {% endif %}
                            </table>
                        {% endif %}
                        <br>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        
        <form class="hidden" id="cod_item_form" method="GET" action="">
            <input type="hidden" id="cod_item_input" name="cod_item">
            <input type="hidden" id="id_req_input" name="id_req">
            <input type="hidden" id="qtde_item_input" name="qtde_solic">
        </form>

        {% if not id_req %}
            {% if 'user_grant' in session %}
                <div class="tables-container" id="sepContainer" style="min-width: 40vw;">
                    {% if alert %}
                        {% if class_alert == 'error' %}
                        <div class="msg-error">
                            <details>
                                <summary>A lista não pôde ser carregada!</summary>
                                {{ alert | safe }}
                            </details>
                        </div>
                        {% elif class_alert == 'success' %}
                        <div class="msg-success flex-v" style="margin: 0; gap: 0">
                            <span style="font-weight: 600">A lista foi atualizada com sucesso!</span>
                            <span style="font-size: 12px">
                                {{ alert | safe }}
                            </span>
                        </div>
                        <h1 class="subtitle">Selecione a <span class="text-main-color">requisição</span> para iniciar a <span class="text-main-color">separação</span>:</h1>
                        {% endif %}
                    {% else %}
                        <div style="display: flex; justify-content: center; height: 100%;">
                            <p class="disabled">
                                Carregue a lista de requisições clicando no ícone <img class="svg msg-svg" src="{{ url_for('static', filename='svg/list-restart.svg') }}"> acima...
                            </p>
                        </div>
                    {% endif %}
                    {% if result %}
                        <div style="max-height: 540px; overflow-y: auto; width: 100%;">
                            {% if class_alert == 'success' %}
                                {% if result %}
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="width: 100px">Requisição (Código)</th>
                                                <th>Item (Código)</th>
                                                <th>Item (Descrição)</th>
                                                <th>Quantidade</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% set grouped_data = {} %}
                                            
                                            {# Agrupa os itens por data #}
                                            {% for row in result %}
                                                {% set data = row[columns.index('DATA')] %}
                                                
                                                {# Inicializa a lista de itens para essa data se não existir #}
                                                {% if data not in grouped_data %}
                                                    {% set grouped_data = grouped_data.update({data: []}) or grouped_data %}
                                                {% endif %}
                                                
                                                {# Adiciona o item à lista de itens da data atual #}
                                                {% set _ = grouped_data[data].append(row) %}
                                            {% endfor %}
                                            
                                            {# Exibe os itens agrupados por data #}
                                            {% for data, items in grouped_data.items() %}
                                                
                                                {% for row in items %}
                                                    <tr class="selectable-row js_query_selector" data-id="{{ row[columns.index('DOC_ORIGEM')] }}">
                                                        <td>{{ row[columns.index('DOC_ORIGEM')] }}</td>
                                                        <td style="text-align: right">{{ row[columns.index('COD_ITEM')] }}</td>
                                                        <td>{{ row[columns.index('DESC_ITEM')] }}</td>
                                                        <td style="text-align: right">{{ row[columns.index('QTDE')] | int }}</td>
                                                    </tr>
                                                {% endfor %}
                                                <tr class="unselectable-row sub-total">
                                                    <td colspan="4" style="text-align: right;">{{ data }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            {% endif %}
                        </div>
                        <br>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
        {% if not cod_item %}
            <div class="tables-container" id="sepListContainer" style="max-width: 20vw">
                <h1 class="subtitle" style="margin: 0;">Buscar separações...</h1>
                <select class="address-three inline-input" style="color: var(--main-color); font-size: 12px" onchange="window.location.href='/logi/req/separacao/f/{{ id_req | default(0) }}'">
                    <option style="color: var(--main-color);">Pendentes</option>
                    <option style="color: green;">Finalizadas</option>
                </select>
                {% block all_separation_status %}
                
                {% endblock all_separation_status %}
                <div class="table-overflow" style="max-height: 700px">
                    <form onsubmit="preQuickRouting('req');">
                        <div class="flex-h" style="margin: 8px 0; width: 100%;">
                            <input class="address-one" style="margin: 0; height: 32px" type="number" id="navigatorInput" min="1" placeholder="Requisição...">
                            <button type="submit" class="button-mini btn-fancy" style="height: 32px; width: 32px;" title="IR PARA REQUISIÇÃO..." >
                                <img class="svg-invert" style="height: 18px; width: 18px;" src="{{ url_for('static', filename='svg/arrow-right.svg') }}" alt="">
                            </button>
                        </div>
                    </form>
                    <table id="allSeparationsTable"  style="border-top: 4px solid var(--main-color)">
                        <tbody>
                            <!-- executa listCargasLocalStorage(); -->
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        <!-- PopUp -->
        {% include "components/menus/quantity-popup.html" %}
        </div>
    </div>
    
{% endblock content %}

{% block route_script %}

    <script>
        const nroReq = '{{ id_req }}';

        var codItem = '{{ cod_item }}';
        var userID  = '{{ session['id_user'] }}';
        var itemCount = 0;

        
        function getSeparacao() {
            return new Promise((resolve, reject) => {
                const localStorageData = localStorage.getItem(getStorageKey());
                if (localStorageData) {
                    resolve(JSON.parse(localStorageData));
                } else {
                    fetch(`/get/request/load-table-data?filename=${getStorageKey()}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erro ao carregar dados do servidor');
                        }
                        return response.json();
                    })
                    .then(data => {
                        reject(new Error('A requisição selecionada já foi finalizada.'));
                    })
                    .catch(error => {
                        reject(new Error('Nenhuma requisição pendente ou iniciada neste código.'));
                    });
                }
            });
        }
        

        function toggleTableSubtotal() {
            const detailedTable = document.getElementById('detailedTable');
            const standardTable = document.getElementById('standardTable');

            detailedTable.classList.toggle('hidden');
            standardTable.classList.toggle('hidden');
        }


        async function getAndCompareItems() {
            try {
                const sepReq = await getSeparacao();
                const storageKey = getStorageKey();
        
                itemsList = [];
        
                for (const item of sepReq) {
                    const { cod_item, qtde_solic } = item;
                    const qtde_sep = getQtdeItemLS(storageKey, cod_item);
        
                    itemsList.push({ cod_item, qtde_solic, qtde_sep });
                }
        
                console.log('Lista de Itens:', itemsList);
        
            } catch (error) {
                console.error('Erro ao obter separação:', error);
            }
        }
        

        document.addEventListener('DOMContentLoaded', function() {
            var rows = document.querySelectorAll('.js_query_selector');
            rows.forEach(function(row) {
                row.addEventListener('click', function() {
                    var idReq = this.getAttribute('data-id');
                    window.location.href = '/logi/req/' + idReq;
                });
            });
            if (!codItem) {
                listSeparationsLocalStorage('requisicao');
            }
        });

    </script>

    <!-- lib for requests logic -->
    <script src="{{ url_for('static', filename='js/lb-requests.js') }}"></script>

{% endblock route_script %}