{% extends "pages/mov/mov-request/mov-request-separacao.html" %}


{% block title %}
    <title>Requisição Sep. (🟠) {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | TRANSLÉGUA</title>
{% endblock title %}


{% block sep_status %}
    <span>SEPARAÇÃO <span style="font-size: 16px">(🟠)</span></span>
{% endblock sep_status %}


{% block aux_buttons %}
    <form onsubmit="routeMovRedirect('requisicao/separacao/p'); return false;">
        <div class="flex-row" style="margin: 8px 0; width: 100%;">
            <input class="address-three" style="margin: 0; height: 14px" id="idInputBrow" min="1" placeholder="Requisição...">
            <button type="submit" class="button-mini btn-fancy" style="height: 26px; width: 26px;" title="IR PARA REQUISIÇÃO..." >
                <img class="svg-invert" style="height: 14px; width: 14px;" src="{{ url_for('static', filename='svg/arrow-right.svg') }}" alt="">
            </button>
        </div>
    </form>
    <hr class="vert">
{% endblock aux_buttons %}


{% block separation_buttons %}
    <div class="flex-row">
        <div class="button-mini btn-fancy" onclick="reloadTables()" title="RECARREGAR REGISTROS" >
            <img class="svg-invert" src="{{ url_for('static', filename='svg/reload.svg') }}" alt="">
        </div>
        <div class="button-mini btn-fancy" onclick="clearItems()" title="APAGAR ITENS DA SEPARAÇÃO">
            <img class="svg-invert" src="{{ url_for('static', filename='svg/eraser.svg') }}" alt="">
        </div>
        {% if session['user_grant'] == 1 %}
        <div class="button-mini btn-fancy" onclick="genRequestReport()" title="GERAR RELATÓRIO" >
            <img class="svg-invert" src="{{ url_for('static', filename='svg/file-text.svg') }}" alt="">
        </div>
        {% endif %}
    </div>
    <div id="finalizarBtn" class="btn-fancy safe" style="height: 45px; margin: 0; max-width: 200px;" onclick="concludeSeparacao()">
        <img class="svg-invert" style="height: 22px; width: 22px;" src="{{ url_for('static', filename='svg/circle-check.svg') }}" alt="Finalizar...">
    </div>
{% endblock separation_buttons %}


{% block all_separation_status %}
    <select class="address-three inline-input" style="color: var(--cor-destaque); font-size: 12px" onchange="window.location.href='/mov/requisicao/separacao/f/{{ id_req }}'">
        <option style="color: var(--cor-destaque);">Pendentes</option>
        <option style="color: green;">Finalizadas</option>
    </select>
{% endblock all_separation_status %}


{% block script %}
    <script>

        const nroReq = '{{ id_req }}';

        function getSeparacao() {
            return new Promise((resolve, reject) => {
                const localStorageData = localStorage.getItem(getStorageKey());
                if (localStorageData) {
                    const payload = {
                        report_dir: 'requests'
                    };
                    fetch('/get/list-all-separations', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(payload),
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.includes(getStorageKey() + '.json')) {
                            // encontrado registro nos reports
                            reject(new Error(304));
                        } else {
                            // não foi encontrado registro nos reports (envia o json da tabela)
                            resolve(JSON.parse(localStorageData));
                        }
                    })
                } else {
                    fetch(`/get/request/load-table-data?filename=${getStorageKey()}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erro ao carregar dados do servidor');
                        }
                        return response.json();
                    })
                    .then(data => {
                        reject(new Error(304));
                    })
                    .catch(error => {
                        reject(new Error(404));
                    });
                }
            });
        }

        
        async function renderItems() {
            showLoading();
            const itemsTable = document.getElementById('itemsTable').getElementsByTagName('tbody')[0];
            const statusElements = document.getElementsByClassName('separation_status');
            itemsTable.innerHTML = '';

            try {
                const sepReq = await getSeparacao();

                // Obter itens da req
                let itens_req;
                try {
                    const response = await fetch(`/api/itens_req?id_req=${nroReq}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    });
        
                    if (!response.ok) {
                        throw new Error(`Erro HTTP: ${response.status}`);
                    }
        
                    const result = await response.json();
                    itens_req = result.itens;
                } catch (error) {
                    console.error('Erro ao obter itens_req:', error);
                    return;
                }
        
                // Agrupar os itens por código de item
                const groupedItems = sepReq.reduce((acc, item) => {
                    if (!acc[item.cod_item]) {
                        acc[item.cod_item] = [];
                    }
                    acc[item.cod_item].push(item);
                    return acc;
                }, {});

                // Iterar sobre os grupos de itens
                for (const [cod_item, items] of Object.entries(groupedItems)) {
                    let subtotal = 0;

                    for (const [index, item] of items.entries()) {
                        await visualDelay(100);

                        const row = itemsTable.insertRow();
                        row.insertCell(0).textContent = `${item.rua_letra}.${item.rua_numero}`;
                        row.insertCell(1).textContent = item.cod_item;

                        const descCell = row.insertCell(2);
                        row.insertCell(3).textContent = item.lote_item;
                        row.insertCell(4).textContent = item.qtde_sep;

                        subtotal += item.qtde_sep;

                        try {
                            const descricao = await fetchItemDescription(item.cod_item);
                            descCell.style.textWrap = "pretty";
                            descCell.textContent = descricao;
                        } catch (error) {
                            console.error('Erro ao obter descrição:', error);
                            descCell.textContent = 'Erro ao obter descrição';
                        }
                    }

                    const qtde_solic = await fetchQtdeSolic(nroReq, cod_item);
                    const subtotalRow = itemsTable.insertRow();

                    subtotalRow.insertCell(0);
                    subtotalRow.insertCell(1);
                    const cell0 = subtotalRow.insertCell(2);

                    cell0.textContent = cod_item;
                    cell0.style.textAlign = 'right';

                    const cell1 = subtotalRow.insertCell(3);
                    cell1.textContent = 'Subtotal:';
                    subtotalRow.insertCell(4).innerHTML = `<span class="cor-web">${subtotal}</span> / ${qtde_solic}`;
        
                    subtotalRow.classList.add('sub-total');
                }
        
                // Criar linhas de subtotal para itens zerados que não estão em sepReq
                for (const item of itens_req) {
                    if (!groupedItems[item]) {
                        const subtotalRow = itemsTable.insertRow();

                        subtotalRow.insertCell(0);
                        subtotalRow.insertCell(1);
                        const cell0 = subtotalRow.insertCell(2);

                        cell0.textContent = item;
                        cell0.style.textAlign = 'right';

                        const cell1 = subtotalRow.insertCell(3);
                        cell1.textContent = 'Subtotal:';

                        const qtde_solic = await fetchQtdeSolic(nroReq, item);
                        subtotalRow.insertCell(4).innerHTML = '<span class="cor-web">0</span> / ' + qtde_solic;

                        subtotalRow.classList.add('sub-total');
                    }
                }

            } catch (error) {
                const alert = document.getElementById('alert-message');
                const content = document.getElementById('contentTable');

                let errorMessage = `<div class="msg-error">Erro: ${error.message}</div>`;

                if (error.message == 304) {
                    errorMessage = `
                        <div class="msg-success">
                            <details>
                                <summary>A requisição selecionada já foi finalizada.</summary>
                                Para visualizá-la, filtre por 'finalizados' clicando no ícone <img class="svg msg-svg" src="{{ url_for('static', filename='svg/grid-2x2.svg') }}"> acima.
                            </details>
                        </div>
                    `;
                    alert.innerHTML = errorMessage;
                    
                    Array.from(statusElements).forEach(element => {
                        element.innerHTML = '<span style="color: green">Finalizada</span>';
                    });

                } else if (error.message == 404) {
                    errorMessage = `
                        <div class="msg-error">
                            <details>
                                <summary>Nenhuma separação pendente ou iniciada neste código!</summary>
                                Inicie a <a class="hyperlink" style="font-size: unset" href="/mov/requisicao">separação da requisição</a> para realizar o faturamento.
                            </details>
                        </div>`
                    ;
                    alert.innerHTML = errorMessage;
                }
                alert.classList.toggle('hidden');
                content.classList.add('hidden');
            }
            await visualDelay(500);
            hideLoading();
        }


        function reloadTables() {
            listSeparationsLocalStorage('requisicao/separacao/p');
            renderItems();
            renderCartSubtotals();
        }


        document.addEventListener('DOMContentLoaded', () => {
            reloadTables();
        });
        
    </script>
{% endblock script %}