{% extends "pages/mov/mov-request/mov-request-separacao.j2" %}

{% block title %}
    Requisição Sep. (🟠)
{% endblock title %}


{% block separation_buttons %}
    <div class="flex-h">
        <div class="button-mini btn-fancy" onclick="reloadTables()" title="RECARREGAR REGISTROS" >
            <img class="svg-invert" src="{{ url_for('static', filename='svg/reload.svg') }}" alt="">
        </div>
        <div class="button-mini btn-fancy" onclick="clearItems()" title="APAGAR ITENS DA SEPARAÇÃO">
            <img class="svg-invert" src="{{ url_for('static', filename='svg/eraser.svg') }}" alt="">
        </div>
        {% if session['user_grant'] == 1 %}
        <div class="button-mini btn-fancy" onclick="genRequestReport()" title="GERAR RELATÓRIO" >
            <img class="svg-invert" src="{{ url_for('static', filename='svg/file-text.svg') }}" alt="">
        </div>
        {% endif %}
    </div>
    <div id="finalizarBtn" class="btn-fancy safe" style="height: 45px; margin: 0; max-width: 200px;" onclick="concludeSeparacao()">
        <img class="svg-invert" style="height: 22px; width: 22px;" src="{{ url_for('static', filename='svg/circle-check.svg') }}" alt="Finalizar...">
    </div>
{% endblock separation_buttons %}


{% block all_separation_status %}
    <select class="address-three inline-input" style="color: var(--main-color); font-size: 12px" onchange="window.location.href='/logi/req/separacao/f/{{ id_req }}'">
        <option style="color: var(--main-color);">Pendentes</option>
        <option class="text-green">Finalizadas</option>
    </select>
{% endblock all_separation_status %}


{% block add_script %}
    <script src="{{ url_for('static', filename='js/pages/mov/mov-request/mov-request-separacao-pend.js') }}"></script>
    <script>
        initMovRequestSeparacaoPend({
            nroReq: {{ id_req | tojson }}
        });
    </script>
{% endblock add_script %}