{% extends 'base.j2' %}

{% block title %}Requisição Sep.{% endblock title %}

{% block content %}

    <div class="titles-ruler">
        
        {% from 'components/title-route.j2' import title_container %}
        {{ title_container(
            id_page=session['id_page'],
            breadcrumbs=[
                {'text': 'LOGI', 'url': 'home_logi', 'title': 'LOGISTICA'},
                {'text': 'REQUISIÇÕES'}
            ],
            aux_buttons=[
                {'type': 'link', 'url': 'mov_request', 'icon': 'svg/hand-helping.svg', 'title': 'REQUISICOES'},
                {'type': 'divider'},
                {'type': 'form', 'url': 'mov_request', 'method': 'post', 'icon': 'svg/list-restart.svg', 'title': 'RECARREGAR LISTA DE REQUISIÇÕES'},
                {'type': 'divider'},
                {'type': 'link', 'url': 'req_sep_done', 'param_name': 'id_req', 'param': '0', 'icon': 'svg/grid-2x2.svg', 'title': 'SEPARACAO (CONCLUIDOS)', 'active': True},
                {'type': 'divider'},
                {'type': 'disabled', 'icon': 'svg/filter.svg', 'title': 'FILTROS'},
                {'type': 'action', 'icon': 'svg/circle-arrow-left.svg', 'title': 'VOLTAR', 'onclick': 'goBack()'}
            ]
        ) }}
        
    </div>

    <div id="divContent" class="flex-wrap">
        <div class="tables-container" id="sepContainer" style="min-width: 40vw;">
            <div style="{% if id_req == '0' %}display: none;{% endif %}">
                <div class="split-h">
                    <div class="flex-v">
                        <h1>Número de Requisição <input id="idCargaContainer" class="text-main-color" value="{{ id_req }}"></span></h1>
                        {% if result %}
                            <h1 class="subtitle">Responsável: <span class="text-main-color">{{ result[0][columns.index('USUARIO')] }}</span></h1>
                        {% endif %}
                    </div>
                    <div class="cart-container">
                        <button class="cart-button" onclick="toggleCart()">Subtotais<span class="item-count" id="item-count">0</span></button>
                        <div class="cart-dropdown hidden" id="cart-dropdown">
                            <ul class="cart-items">
                            </ul>
                        </div>
                    </div>
                </div>
                {% if obs_carga %}
                    {% set obs_carga = obs_carga|trim %}
                    {% if obs_carga and obs_carga | length > 0 %}
                        <div class="msg-info">
                            <details>
                                <summary>A carga possui uma observação!</summary>
                                <span id="obs_carga">{{ obs_carga }}</span>
                            </details>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="split-h">
                    <p style="justify-content: flex-start">
                        Status:<span class="separation_status" style="color: var(--logi-color); margin-left: 4px">Pendente</span>
                    </p>
                    <p style="justify-content: flex-start">
                        Separador: <span id="separador-info" style="color: var(--logi-color); margin-left: 4px">carregando...</span>
                    </p>
                </div>
                <div class="hidden" id="alert-message"></div>
                <div id="contentTable">
                    <div class="table-overflow" style="max-height: revert-layer;">
                        <table id="itemsTable">
                            <thead>
                                <tr>
                                    <th>Endereço</th>
                                    <th>Item (Código)</th>
                                    <th>Item (Descrição)</th>
                                    <th>Lote (Código)</th>
                                    <th>QTDE (Separado)</th>
                                </tr>
                            </thead>
                                <!-- executa renderItems(); -->
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="split-h flex-h" style="margin: 8px 0">
                        {% block separation_buttons %}
                            
                        {% endblock separation_buttons %}
                    </div>
                </div>
            </div>
            {% if id_req == '0' %}
                <div style="display: flex; justify-content: center; height: 100%;">
                    <p class="disabled">Informe ou selecione um código no menu ao lado...</p>
                </div>
            {% endif %}
        </div>
        <div class="tables-container" id="sepListContainer" style="max-width: 20vw">
            <h1 class="subtitle m-0">Buscar separações...</h1>
            {% block all_separation_status %}
            
            {% endblock all_separation_status %}
            <div class="table-overflow" style="max-height: 700px">
                <form onsubmit="preQuickRouting('req/separacao/{{ status }}'); return false">
                    <div class="flex-h" style="margin: 8px 0; width: 100%;">
                        <input class="address-one" style="margin: 0; height: 32px; width: 100%" type="number" id="navigatorInput" min="1" placeholder="Requisição...">
                        <button type="submit" class="button-mini btn-fancy" style="height: 32px; width: 32px;" title="IR PARA REQUISIÇÃO..." >
                            <img class="svg-invert" style="height: 18px; width: 18px;" src="{{ url_for('static', filename='svg/arrow-right.svg') }}" alt="">
                        </button>
                    </div>
                </form>
                <table id="allSeparationsTable" style="border-top: 4px solid var(--main-color)">
                    <tbody>
                        <!-- executa listSeparationsLocalStorage(); -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}

{% block route_script %}

    <!-- additional script from each separation -->
    {% block add_script %}
    {% endblock add_script %}

    <!-- lib for requests logic -->
    <script src="{{ url_for('static', filename='js/lb-requests.js') }}"></script>

{% endblock route_script %}