{% extends 'base.j2' %}

{% block title %}Ajustes{% endblock title %}

{% block content %}

    <div class="titles-ruler">
        
        {% from 'components/title-route.j2' import title_container %}
        {{ title_container(
            id_page=session['id_page'],
            breadcrumbs=[
                {'text': 'AJUSTES'}
            ],
            aux_buttons=[
                {'type': 'link', 'url': 'cde_cfg', 'icon': 'svg/cog.svg', 'title': 'AJUSTES'},
                {'type': 'link', 'url': 'cde_profile', 'icon': 'svg/circle-user.svg', 'title': 'PERFIL'},
                {'type': 'divider'},
                {'type': 'link', 'url': 'about', 'icon': 'svg/circle-help.svg', 'title': 'AJUDA'},
                {'type': 'divider'},
                {'type': 'action', 'icon': 'svg/circle-arrow-left.svg', 'title': 'VOLTAR', 'onclick': 'goBack()'}
            ]
        ) }}
        
    </div>
    
    <div id="divContent" style="flex-wrap: wrap;">
        {% include "components/advert.j2" %}
        {% if 'user_grant' in session %}
            <div class="forms-container" style="max-width: 500px; min-height: unset; border: none;">
                <div class="settings-list">
                    <a href="{{ url_for('api') }}" class="settings-item">
                        <img class="svg-gray" src="{{ url_for('static', filename='svg/database-zap.svg') }}" alt="">
                        <div class="settings-item-text">
                            <span class="settings-item-title">Database</span>
                            <span class="settings-item-desc">Faça consultas no banco de dados</span>
                        </div>
                        <img class="svg-gray settings-arrow" src="{{ url_for('static', filename='svg/arrow-right.svg') }}" alt="">
                    </a>
                    <a href="{{ url_for('cde_notifications') }}" class="settings-item">
                        <img class="svg-gray" src="{{ url_for('static', filename='svg/bell.svg') }}" alt="">
                        <div class="settings-item-text">
                            <span class="settings-item-title">Notificações</span>
                            <span class="settings-item-desc">Verifique suas notificações</span>
                        </div>
                        <img class="svg-gray settings-arrow" src="{{ url_for('static', filename='svg/arrow-right.svg') }}" alt="">
                    </a>
                    <a href="{{ url_for('cde_query_list') }}" class="settings-item">
                        <img class="svg-gray" src="{{ url_for('static', filename='svg/list.svg') }}" alt="">
                        <div class="settings-item-text">
                            <span class="settings-item-title">Queries</span>
                            <span class="settings-item-desc">Listagem de queries</span>
                        </div>
                        <img class="svg-gray settings-arrow" src="{{ url_for('static', filename='svg/arrow-right.svg') }}" alt="">
                    </a>
                    <a href="{{ url_for('users') }}" class="settings-item">
                        <img class="svg-gray" src="{{ url_for('static', filename='svg/user-gear.svg') }}" alt="">
                        <div class="settings-item-text">
                            <span class="settings-item-title">Usuários</span>
                            <span class="settings-item-desc">Gerencie usuários e permissões</span>
                        </div>
                        <img class="svg-gray settings-arrow" src="{{ url_for('static', filename='svg/arrow-right.svg') }}" alt="">
                    </a>
                </div>

                <h3 style="margin-top: 24px; color: #888;">Developer Tools</h3>

                <div class="settings-list">
                    <a href="{{ url_for('permissions') }}" class="settings-item">
                        <img class="svg-gray" src="{{ url_for('static', filename='svg/cog.svg') }}" alt="">
                        <div class="settings-item-text">
                            <span class="settings-item-title">Contratos</span>
                            <span class="settings-item-desc">Gerencie os IDs das páginas</span>
                        </div>
                        <img class="svg-gray settings-arrow" src="{{ url_for('static', filename='svg/arrow-right.svg') }}" alt="">
                    </a>
                    <a href="{{ url_for('admin_migrations') }}" class="settings-item">
                        <img class="svg-gray" src="{{ url_for('static', filename='svg/database.svg') }}" alt="">
                        <div class="settings-item-text">
                            <span class="settings-item-title">Migrations</span>
                            <span class="settings-item-desc">Gerencie as migrations</span>
                        </div>
                        <img class="svg-gray settings-arrow" src="{{ url_for('static', filename='svg/arrow-right.svg') }}" alt="">
                    </a>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock content %}