<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Ajustes | CDE</title>
        <link rel="icon" href="{{ url_for('static', filename='cde-logo-only.svg') }}" type="image/x-icon">

        {% include 'shared/header/cde-header.html' %}
        <div style="all: unset; display: flex; min-width: 100%; flex-wrap: wrap; gap: 16px; margin: 0 0 16px 0;">
            <div class="titles-container flex-h title-centerer">
                <h1>
                    <a class="id-page filled" href="{{ url_for('home') }}">CDE</a>
                    <span style="margin: 0 8px;"></span> AJUSTES
                    <span class="id-page">{{session['id_page']}}</span>
                </h1>
                <div class="aux-buttons">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/cog.svg') }}" title="AJUSTES" alt="" onclick="window.location.href='{{ url_for('cde_cfg') }}';">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-user.svg') }}" title="USUÁRIO" alt="" onclick="window.location.href='{{ url_for('cde_account') }}';">
                    <hr class="vert">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-help.svg') }}" title="AJUDA" alt="" onclick="window.location.href='{{ url_for('about') }}';">
                    <hr class="vert">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/exit.svg') }}" title="SAIR" alt="" onclick="confirmLogout()">
                </div>
            </div>
        </div>
        <span class="ad-container">
            {% include "components/advert.html" %}
        </span>
        
        <div id="divContent" style="flex-wrap: wrap;">
            {% if 'user_grant' in session %}
                <div class="tables-container flex-v" style="border-radius: 44px; min-height: unset; height: fit-content; padding: 24px;">
                        <div style="display: flex; flex-direction: column; justify-content: space-between">
                            <div class="container-grid cfg" style="margin-bottom: 32px; padding: 10px 0">
                                <div class="item featured" onclick="window.location.href='{{ url_for('api') }}';">
                                    <div class="split-h algn-cntr">
                                        <div style="text-align: left">
                                            <h2 class="text-default">Database</h2>
                                            <p class="text-default bold">Faça consultas no banco de dados</p>
                                        </div>
                                        <a class="btn-fancy button-mini">
                                            <img class="svg-invert" src="{{ url_for('static', filename='svg/database-zap.svg') }}" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item featured" onclick="window.location.href='{{ url_for('cde_notifications') }}';">
                                    <div class="split-h algn-cntr">
                                        <div style="text-align: left">
                                            <h2 class="text-default">Notificações</h2>
                                            <p class="text-default bold">Verifique suas notificações</p>
                                        </div>
                                        <a class="btn-fancy button-mini">
                                            <img class="svg-invert" src="{{ url_for('static', filename='svg/bell.svg') }}" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item featured" onclick="window.location.href='{{ url_for('cde_query_list') }}';" >
                                    <div class="split-h algn-cntr">
                                        <div style="text-align: left">
                                            <h2 class="text-default">Queries</h2>
                                            <p class="text-default bold">Listagem de queries</p>
                                        </div>
                                        <a class="btn-fancy button-mini">
                                            <img class="svg-invert" src="{{ url_for('static', filename='svg/database-zap.svg') }}" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item featured" onclick="window.location.href='{{ url_for('users') }}';" >
                                    <div class="split-h algn-cntr">
                                        <div style="text-align: left">
                                            <h2 class="text-default">Usuários</h2>
                                            <p class="text-default bold">Gerencie os usuários e suas permissões</p>
                                        </div>
                                        <a class="btn-fancy button-mini">
                                            <img class="svg-invert" src="{{ url_for('static', filename='svg/user-gear.svg') }}" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <p>Developer Tools</p>
                            <div class="container-grid cfg" style="margin-bottom: 32px; padding: 10px 0">
                                <div class="item featured" onclick="window.location.href='{{ url_for('cde_query_list') }}';" >
                                    <div class="split-h algn-cntr">
                                        <div style="text-align: left">
                                            <h2 class="text-default">Permissões</h2>
                                            <p class="text-default bold">Gerencie os IDs das páginas</p>
                                        </div>
                                        <a class="btn-fancy button-mini">
                                            <img class="svg-invert" src="{{ url_for('static', filename='svg/cog.svg') }}" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endif %}
        </div>

        {% include 'shared/footer.html' %}

        <script>
            loadRecentPages();
        </script>