<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Processamento {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | PRODUÇÃO</title>
        <link rel="icon" href="{{ url_for('static', filename='hp-logo-only.svg') }}" type="image/x-icon">

        {% include "shared/header/hp-header.html" %}

        <div style="all: unset; display: flex; min-width: 100%; flex-wrap: wrap; gap: 16px; margin: 0 0 16px 0;">
            <div class="titles-container flex-h title-centerer">
            <h1>
                <a href="{{ url_for('producao') }}">PROCESS</a>
                <span class="dash">/</span>
                <span>EDITAR</span>
                <span class="id-page">{{session['id_page']}}</span>
            </h1>
            <div class="aux-buttons">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/xmark.svg') }}" alt="" onclick="window.location.href='{{ url_for('producao') }}';">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/calendar.svg') }}" alt="" onclick="window.location.href='{{ url_for('calendar_producao') }}';">
            </div>
        </div>
        </div>
        <div id="divContent">
        {% if mode == 'singleRow' %}
                <div id="floating-container" draggable="false" class="forms-container" style="position: relative">
                    <div class="centralizado">
                        <div>
                            {% for item in prod_edit %}
                                <form style="display: flex;" id="form-field" method="post" action="/processamento/edit">
                                    <hr>
                                    <label for="liq_tipo"></label>
                                    <input id="liq_tipo" name="liq_tipo" value="{{ item['liq_tipo'] }}" disabled readonly>
                                    <hr>
                                    <div class="two-split">
                                        <div>
                                            <label for="desc_item">Produto<img id="label-desc" class="svg-label" src="{{ url_for('static', filename='svg/lock.svg') }}" alt=""><br></label>
                                            <input class="address" value="{{ item['liq_linha'] }}" name="desc_item" id="desc_item" required disabled readonly>
                                        </div>
                                        <div>
                                            <label for="desc_item">Cor<img id="label-desc" class="svg-label" src="{{ url_for('static', filename='svg/lock.svg') }}" alt=""><br></label>
                                            <input class="address" value="{{ item['liq_cor'] }}" name="desc_item" id="desc_item" required disabled readonly>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="three-split">
                                        <div>
                                            <label for="cod_item">Embalagem<img id="label-cod_item" class="svg-label" src="{{ url_for('static', filename='svg/lock.svg') }}" alt=""></label><br>
                                            <input id="cod_item" value="{{ item['embalagem'] }}" name="codinterno" class="address-three" required disabled readonly>
                                        </div>
                                        <div>
                                            <label for="linha">Linha<img id="label-linha" class="svg-label" src="{{ url_for('static', filename='svg/lock.svg') }}" alt=""></label><br>
                                            <input name="linha" value="{{ item['linha'] }}" id="linha" class="address-three" required disabled readonly>
                                        </div>
                                        <div>
                                            <label for="litros">Litros</label><br>
                                            <input class="address-three" value="{{ item['litros'] }}" type="number" id="litros" name="litros" min="1" required placeholder="Litros..." {% if 'PRC013' in user_perm %} readonly{% endif %}>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="two-split">
                                        <div>
                                            <label for="data_antec">Entrada Antec.</label><br>
                                            <input name="data_antec" value="{{ item['data_entr_antec'] }}"  id="data_antec" type="date" placeholder="DD/MM/AAAA" class="address" {% if 'PRC013' in user_perm %} readonly{% endif %}>
                                        </div>
                                        <div>
                                            <label for="data_producao">Processamento</label><br>
                                            <input name="data_producao" value="{{ item['data_producao'] }}"  id="data_producao" type="date" class="address" {% if 'PRC013' in user_perm %} readonly{% endif %}>
                                        </div>
                                    </div>
                                    <div>
                                        {% if 'user_grant' in session %}
                                            {% if 'PRC010' in user_perm or 'PRC013' in user_perm or session['user_grant'] <= 2 %}
                                                <div>
                                                    <label for="observacao">Observação</label><br>
                                                    <textarea class="address-observ" id="observacao" name="observacao" placeholder="Observações...">{{ item['observacao'] }}</textarea>
                                                </div>
                                            {% endif %}
                                        {% endif %}
    
                                    </div>
                                    <label for="id_producao" style="display: none"></label>
                                    <input value="{{ item['id_producao'] }}" name="id_producao" id="id_producao" style="display: none">
                                    <div style="display: flex;width: 100%;">
                                        <input class="btn-fancy" style="max-width: none;" type="submit" value="Confirmar edição...">
    
                                        {% if 'user_grant' in session %}
                                            {% if session['user_grant'] <= 2 %}
                                                <img class="btn-fancy" style="height: 30px; width: 30px; padding: 15px;margin-left: 15px" src="{{ url_for('static', filename='svg/trash.svg') }}" alt="" onclick="confirmDelete('{{ item['id_producao'] }}')">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </form>
                            {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="tables-container" id="tables-container">
                <div class="table-overflow" id="linha1_table">
                    <h4>Faça as edições necessárias:</h4>
                    <table id="filterTable">
                        <tr>
                            <th>Linha</th>
                            <th>Produto (Linha)</th>
                            <th>Embalagem (Tipo)</th>
                            <th>Peso Líquido (Litros)</th>
                            <th>Data Entrada Antec.</th>
                            <th>Data Processamento</th>
                            <th>Concluído</th>
                            <td class="td-more"></td>
                            <td class="td-more"></td>
                        </tr>
                        {% for item in prod_edit %}
                            <tr>
                                <td>{{ item['linha'] }}</td>
                                <td style="width: 180px;">{{ item['liq_linha'] }} {{ item['liq_cor'] }}</td>
                                <td>{{ item['embalagem'] }}</td>
                                <td>{{ item['litros'] }}</td>
                                <td>{{ item['data_entr_antec'] }}</td>
                                <td>{{ item['data_producao'] }}</td>
                                <td class="tb-checkbox"><input type="checkbox" oninput="confirmConcluir('{{ item['id_producao'] }}', this)" style=" width: 16px; height: auto" {% if not item['flag_concluido'] %} disabled {% endif %} {% if item['flag_concluido'] %} checked {% endif %}></td>
                                <td class="td-more" data-toggle="tooltip" title="obs.:&#10;{{ item['observacao'] }} "><img class="svg-gray table-more" src="{{ url_for('static', filename='svg/info.svg') }}" alt=""></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <br>
                <a class="btn-fancy" href="{{ url_for('producao') }}">Cancelar</a>
            </div>
        </div>


            <script>
                $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip();
                });

                function confirmDelete(codProducao) {
                    if (confirm("Você tem certeza que deseja excluir esta programação?")) {
                        window.location.href = "delete/" + codProducao;
                    }
                }
                function confirmConcluir(codProducao, checkbox) {
                    if (confirm("Você tem certeza que deseja desfazer a conclusão desta programação?")) {
                        window.location.href = "/processamento/pending/" + codProducao;

                    } else {
                        checkbox.checked = true;
                    }
                }


            </script>

        <!-- SUPLEMENTO P/ FILTRO [LB-FILTER] -->
            <script src="{{ url_for('static', filename='js/lb-filter.js') }}"></script>

        {% include 'shared/footer.html' %}