{% extends 'base.j2' %}

{% block title %}Processamento{% endblock title %}

{% block content %}

    <div class="titles-ruler">
        
        {% from 'components/title-route.j2' import title_container %}
        {{ title_container(
            id_page=session['id_page'],
            breadcrumbs=[
                {'text': 'PROD', 'url': 'home_prod', 'title': 'PRODUÇÃO'},
                {'text': 'PROCESSAMENTO'}
            ],
            aux_buttons=[
                {'type': 'link', 'url': 'producao', 'icon': 'svg/producao.svg', 'title': 'PROCESSAMENTO', 'active': True},
                {'type': 'link', 'url': 'edit_producao', 'icon': 'svg/book-open-check.svg', 'title': 'PROGRAMAÇÃO (CONCLUÍDOS)'},
                {'type': 'link', 'url': 'calendar_producao', 'icon': 'svg/calendar.svg', 'title': 'MODO: CALENDÁRIO'},
                {'type': 'divider'},
                {'type': 'action', 'icon': 'svg/clipboard-list.svg', 'title': 'MOSTRAR/OCULTAR FORMULÁRIO', 'onclick': 'toggleContainer()'},
                {'type': 'divider'},
                {'type': 'action', 'icon': 'svg/filter.svg', 'title': 'FILTROS', 'onclick': 'toggleFilter()'},
                {'type': 'action', 'icon': 'svg/circle-arrow-left.svg', 'title': 'VOLTAR', 'onclick': 'goBack()'}
            ]
        ) }}
        
        <div id="filter-container">
            <div class="hidden flex-h" id="table-filter">
                <input type="date" class="address" id="filterDate1" onchange="filterByDate()">
                <div id="period-date" style="display: contents">
                    <input type="date" class="address" id="filterDate2" onchange="filterByDate()">
                </div>
                <a class="button-mini btn-fancy" onclick="getHoje()" title="HOJE">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/calendar-day.svg') }}" alt="">
                </a>
                <a class="button-mini btn-fancy" onclick="getSemana()" title="SEMANA">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/calendar-week.svg') }}" alt="">
                </a>
                <a class="button-mini btn-fancy" onclick="limpaData()" title="LIMPAR">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/eraser.svg') }}" alt="">
                </a>
            </div>
        </div>

    </div>

    <div id="divContent">
        <div id="floating-container" draggable="false" class="forms-container" style="position: relative">
            <div class="centralizado">
                <div>
                    <div>
                        <form class="flex" id="form-field" method="post" action="/processamento/insert">
                            <hr>
                            <label for="liq_tipo"></label>
                            <select id="liq_tipo" name="liq_tipo">
                                <option>SUCO</option>
                                <option>NECTAR</option>
                            </select>
                            <hr>
                            <div class="two-split" id="two_split_field" class="w-100">
                                <div>
                                    <label for="liq_linha">Produto<br></label>
                                    <select class="address" name="liq_linha" id="liq_linha" onchange="updateCorOptions()" required>
                                        <option>UVA</option>
                                        <option>MACA</option>
                                        <option>LARANJA</option>
                                        <option>MISTO</option>
                                    </select>
                                </div>
                                <div id="liq_cor_field">
                                    <label for="liq_cor">Cor<br></label>
                                    <select class="address" name="liq_cor" id="liq_cor">
                                        <option>TINTO</option>
                                        <option>BRANCO</option>
                                        <option>ROSE</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="three-split">
                                <div>
                                    <label for="embalagem">Embalagem</label><br>
                                    <select id="embalagem" name="embalagem" class="address-three" required onchange="updateLinhaOptions()">
                                        <option value="PET">PET</option>
                                        <option value="VIDRO">VIDRO</option>
                                        <option value="BAG">BAG</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="linha">Linha</label><br>
                                    <select name="linha" id="linha" class="address-three" required>
                                        <option>2</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="litros">Litros</label><br>
                                    <input class="address-three" type="number" id="litros" name="litros" min="1" required placeholder="Litros...">
                                </div>
                            </div>
                            <hr>
                            <div class="two-split">
                                <div>
                                    <label for="data_antec">Entrada Antec.</label><br>
                                    <input name="data_antec" id="data_antec" type="date" class="address">
                                </div>
                                <div>
                                    <label for="data_producao">Processamento</label><br>
                                    <input name="data_producao" id="data_producao" type="date" class="address">
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for="observacao">Observação</label><br>
                                    <textarea class="address-observ" id="observacao" name="observacao" placeholder="Observações..."></textarea>
                                </div>
                            </div>
                            <div style="display: flex;width: 100%;">
                                <input class="btn-fancy max-w-none" type="submit" value="Registrar...">
                                {% if 'user_grant' in session %}
                                    {% if 'PRC010' in user_perm or 'PRC013' in user_perm or session['user_grant'] <= 2 %}
                                        <img class="btn-fancy" style="height: 30px;width: 30px; padding: 15px;margin-left: 15px" src="{{ url_for('static', filename='svg/pen-line.svg') }}" alt="" onclick="toggleEdit()">
                                    {% endif %}
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="tables-container" id="tables-container">
            <!--
                <div id="filterBreak" style="justify-content: flex-end">
                    <label for="filterDate1"></label>
                    <div id="table-filter" style="position: absolute; display: none; right: 25px">
                        <div class="back-modal" onclick="toggleFilter()"></div>
                            <div class="form-filter generic" style="">
                                <div style="padding: 5px;display: flex;max-height: 40px;align-items: center;justify-content: center;">
                                    <div class="split-h" style="align-items: center">
                                        <h3 style="font-size: 24px">Filtros</h3>
                                        <div style="scale: 0.7">
                                            <div class="pin" id="fix-move-btn" onclick="toggleFilter()">
                                                <img style="height: 30px;width: 30px" class="svg-gray" src="{{ url_for('static', filename='svg/xmark.svg') }}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div style="padding: 20px;">
                                    <p class="text-main-color">Linhas</p>
                                    <div style="display: flex; flex-direction: column">
                                        <div>
                                            <input type="checkbox" class="check" id="toggle_linha1" onclick="toggleTable('linha1')" checked>
                                            <label for="toggle_linha1">Linha 1</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" class="check" id="toggle_linha2" onclick="toggleTable('linha2')" checked>
                                            <label for="toggle_linha2">Linha 2</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" class="check" id="toggle_linha3" onclick="toggleTable('linha3')" checked>
                                            <label for="toggle_linha3">Linha 3</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" class="check" id="toggle_linha4" onclick="toggleTable('linha4')" checked>
                                            <label for="toggle_linha4">Linha 4</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" class="check" id="toggle_linha5" onclick="toggleTable('linha5')" checked>
                                            <label for="toggle_linha5">Linha 5</label>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                    </div>
                </div>
                -->
            {% for linha_indice in range(1, 6) %}
                <div class="table-overflow section-linhas alt-color-{{ linha_indice }}" id="linha{{ linha_indice }}_table">
                    <h4>Linha {{ linha_indice }}</h4>
                    <table id="filterTable">
                        <tr>
                            <th>Produto (Tipo)</th>
                            <th>Item (Descrição)</th>
                            <th>Peso Líquido (Litros)</th>
                            <th>Data Entrada Antec.</th>
                            <th>Data Processamento</th>
                            <th>Concluído</th>
                        </tr>
                        {% for item in producao %}
                            {% if item['linha'] == linha_indice and not item['flag_concluido'] %}
                                <tr>
                                    <td style="width: 100px;">{{ item['liq_tipo'] }}</td>
                                    <td style="width: 100px;">{{ item['liq_linha'] }} {{ item['liq_cor'] }}</td>
                                    <td style="width: 100px;">{{ '{:,.0f}'.format(item['litros']).replace(',', '.') }}</td>
                                    <td style="width: 80px;">{{ item['data_entr_antec'] }}</td>
                                    <td style="width: 80px;">{{ item['data_producao'] }}</td>
                                    <td class="tb-checkbox"><input type="checkbox" oninput="confirmConcluir('{{ item['id_producao'] }}', this)" style="width: 16px; height: auto" {% if item['flag_concluido'] %} checked {% endif %} {% if item['flag_concluido'] %} disabled {% endif %}></td>
                                    <td class="td-more"><img class="svg-gray table-more" style="height: 15px;width: 15px; padding: 2px" src="{{ url_for('static', filename='svg/info.svg') }}" alt="">
                                        <span class="tooltiptext">{% if item['observacao'] %}{{ item['observacao'] }}{% else %}...{% endif %}</span>
                                    </td>
                                    <td class="td-more hidden-button" data-toggle="tooltip"><img class="svg-link table-more" src="{{ url_for('static', filename='svg/edit-link.svg') }}" onclick="redirectToEdit('{{ item['id_producao'] }}')" alt=""></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    <br>
                </div>
            {% endfor %}
            <a href="{{ url_for('export_csv_type', type='producao') }}">Baixar tabela...</a>
        </div>
    </div>

{% endblock content %}

{% block route_script %}
    <script src="{{ url_for('static', filename='js/pages/processamento/processamento.js') }}"></script>
{% endblock route_script %}