# databases
cde.db
dbg_cde.db

# dirs
/old/
/logs/
/report/

# sensitive files
/db/queries/queries.txt
app/presets/item-whitelist.txt

# others
__pycache__
.history
.vscode
.idea
.env
venv

# macOS folder cfg file
.DS_Store

off-repo/