blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
Flask==3.1.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
passlib==1.7.4
pillow==11.1.0
pyodbc==5.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
qrcode==8.0
requests==2.32.3
six==1.17.0
urllib3==2.3.0
waitress==3.0.2
Werkzeug==3.1.3
