{% extends 'base.html' %}

{% block title %}Debug{% endblock title %}

{% block content %}

    <div class="titles-ruler">
        
        {% from 'components/title-route.html' import title_container %}
        {{ title_container(
            id_page=session['id_page'],
            breadcrumbs=[
                {'text': 'DEBUG'}
            ],
            aux_buttons=[
                {'type': 'link', 'url': 'cde_cfg', 'icon': 'svg/cog.svg', 'title': 'AJUSTES'},
                {'type': 'link', 'url': 'cde_profile', 'icon': 'svg/circle-user.svg', 'title': 'PERFIL'},
                {'type': 'divider'},
                {'type': 'link', 'url': 'about', 'icon': 'svg/circle-help.svg', 'title': 'AJUDA'},
                {'type': 'divider'},
                {'type': 'action', 'icon': 'svg/circle-arrow-left.svg', 'title': 'VOLTAR', 'onclick': 'goBack()'}
            ]
        ) }}
        
    </div>

    <div id="divContent">
    </div>

{% endblock content%}

{% block route_script %}
{% endblock route_script %}