<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Debug | PRODUÇÃO</title>
        <link rel="icon" href="{{ url_for('static', filename='hp-logo-only.svg') }}" type="image/x-icon">

        {% include "shared/header/hp-header.html" %}

    <div>
        
    </div>

    <script>
        let docTitle = document.title;

        window.addEventListener("blur", () => {
            document.title = "CDE | PRODUÇÃO";
        })
        window.addEventListener("focus", () => {
            document.title = docTitle;
        })
    </script>

    {% include 'shared/footer.html' %}
