<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>{% block title %}Oops!{% endblock title %} | CDE</title>
        <link rel="icon" href="{{ url_for('static', filename='cde-logo-only.svg') }}" type="image/x-icon">


    <!-- TABELA -->
    {% include 'components/head.html' %}    
    </head>
    <div id="toast-container" class="toast-container"></div>
    <div style="min-width: min-content;">
        <style>
            details {
                font-family: 'Poppins', sans-serif;
                font-size: 10px;
            }
            h3 {
                font-size: 45px
            }
        </style>
        <div class="navigation-bar" style="background-color: var(--strong-dark-h)">
            <div style="height: 48px; width: auto; display: flex; justify-content: center; align-items: center; padding: 0 10px; cursor: pointer;" onclick="window.location.href='/cde/home/';">
                <img style="height: 20px; width: auto;" class="svg" src="{{ url_for('static', filename='img/cde-logo-w.png') }}" alt="">
            </div>
            <div style="margin: 4px; display: flex;">
                <hr class="vert" style="width: 0;">
            </div>
            <div class="split-h">
                <div style="display: flex;flex-wrap: nowrap;">
                </div>
                <div class="flex-h" style="gap: 0">
                    <div style="margin: 4px;display: flex;">
                        <hr class="vert" style="width: 0;">
                    </div>
                    <div class="user-button" onclick=" window.location.href='{{ url_for('cde_account') }}';">
                        {{ session.get('user_initials', '') }}
                    </div>
                </div>
            </div>
        </div>

        <!-- (content) -->
        <div class="view-width">
            <div class="container" style="display: flex; align-items: center; justify-content: center;">
                <div class="flex-v" style="shadow-box: 1px 10px #000000">
                    <h1 style="font-size: 60px; margin-top: 30px; text-align: left;">
                        Oops! 
                        {% block type %}
                            Not Ready Yet!
                        {% endblock type %}
                    </h1>
                    <div class="flex-h">
                        <div id="tables-container" style="max-width: 500px;">
                            <div class="centralizado">
                                <div class="centralizado">
                                    <div>
                                        <img 
                                            class="side-banner" 
                                            style="height: 300px; filter: unset; border-radius: 20px;" 
                                            src="{{ url_for('static', filename='img/error.jpg') }}" 
                                            alt=""
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="log" style="width: 340px; padding: 20px">
                            <div style="margin-bottom: 20px;">
                                {% block error_code %}
                                    <h3 style="color: #d13636; text-align: left">ERRO CDE</h3>
                                {% endblock error_code %}
                                {% block message %}
                                    <details>
                                        <summary><h4 style="display: contents; margin-top: 0; margin-bottom: 18px; text-align: center">A página que você tentou acessar, está em desenvolvimento no momento.</h4>
                                        </summary>
                                        <span style="opacity: 0.6;">DEV006 Under Develop (CDE): The requested URL is currently under development.</span>
                                    </details>
                                {% endblock message %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>