<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Estoque {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | LOGÍSTICA</title>
        <link rel="icon" href="{{ url_for('static', filename='tl-logo-only.svg') }}" type="image/x-icon">

        {% include 'shared/header/tl-header.html' %}
        <div style="all: unset; display: flex; min-width: 100%; flex-wrap: wrap; gap: 16px; margin: 0 0 16px 0;">
            <div class="titles-container flex-row title-centerer">
            <h1>
                <a class="id-page filled" href="/home">CDE</a>
                <span style="margin: 0 8px;"></span>
                <a href="{{ url_for('home_tl') }}">LOG</a>
                <span class="dash">/</span>
                <a href="{{ url_for('mov') }}">MOV</a>
                <span class="dash">/</span>
                <span>ESTOQUE</span>
                <span class="id-page">{{session['id_page']}}</span>
            </h1>
            <div class="aux-buttons">
                <a class="aux-button">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/arrow-up-down.svg') }}" title="MOVIMENTAR" alt="" onclick="window.location.href='{{ url_for('mov') }}';">
                </a>
                <a class="aux-button active">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/boxes.svg') }}" title="ESTOQUE" alt="" onclick="window.location.href='{{ url_for('estoque') }}';">
                </a>
                    <a class="aux-button">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/history.svg') }}" title="HISTÓRICO" alt="" onclick="window.location.href='{{ url_for('historico') }}';">
                </a>
                <hr class="vert">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/filter.svg') }}" alt="" title="FILTROS" onclick="toggleFilter()">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="VOLTAR" alt="" onclick="goBack()">
            </div>
        </div>
        <div id="filterBreak" style="justify-content: flex-end">
            <div id="table-filter" style="display: none">
                <input type="text" class="filterInput address" id="filterInput" oninput="filterTable()" placeholder="Filtrar por...">
                <select class="address" id="filterSelect" onchange="updateFilterIndex()">
                {% block filter_options %}
                    <option value=0>Item (Código)</option>
                    <option value=1>Item (Descrição)</option>
                    <option value=2>QTDE (Efetiva)</option>
                    <option value=3>Últ. Movimen. (Data/Hora)</option>
                {% endblock filter_options %}
                </select>
            </div>
        </div>
        </div>
        <div id="divContent" style="flex-wrap: wrap;">
            <div draggable="false" class="forms-container" style="position: relative; max-width: max-content; padding: 16px;">
                <div class="btn-fancy {% if request.endpoint == 'estoque' %}active{% endif %}" style="height: 60px; width: 60px; margin: 8px" title="ESTOQUE (AGRUPADO)" onclick="window.location.href='{{ url_for('estoque') }}';">
                    <img class="svg-inv" src="{{ url_for('static', filename='svg/group.svg') }}" alt="">
                </div>
                <div class="btn-fancy {% if request.endpoint == 'estoque_enderecado' %}active{% endif %}" style="height: 60px; width: 60px; margin: 8px" title="ESTOQUE (ENDEREÇADO)" onclick="window.location.href='{{ url_for('estoque_enderecado') }}';">
                    <img class="svg-inv" src="{{ url_for('static', filename='svg/land-plot.svg') }}" alt="">
                </div>
                <div class="btn-fancy {% if request.endpoint == 'estoque_preset' %}active{% endif %}" style="height: 60px; width: 60px; margin: 8px" title="ESTOQUE (PRESET)" onclick="window.location.href='{{ url_for('estoque_preset') }}';">
                    <img class="svg-inv" src="{{ url_for('static', filename='svg/blend.svg') }}" alt="">
                </div>
            </div>
            <div class="tables-container" style="max-width: 100vw;">
                {% block table %}
                    <div class="split-horizontal">
                        <span>
                            <h1 class="subtitle">Estoque</h1>
                            <p class="cor-web">Visualização de Estoque (Agrupado)</p>
                        </span>
                        <div class="table-filter" style="display: none">
                            <div>
                                <form action="/estoque" method="post">
                                    <div class="flex-row">
                                        <input type="date" class="address" id="date" name="date" value="{{ search_term }}">
                                        <button class="button-mini btn-fancy" type="submit">
                                            <img class="svg-invert" src="{{ url_for('static', filename='svg/calendar-search.svg') }}" title="CARREGAR ESTOQUE NO DIA">
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% if search_term %}
                        <div class="split-horizontal">
                            <h1 style="font-size: 22px">Estoque na data <span class="cor-web">{{ search_term }}</span>.</h1>
                            <a class="button-mini btn-fancy" style="margin: 0" onclick="window.location.href='{{ url_for('estoque') }}';" title="Limpar">
                                <img class="svg-invert" src="{{ url_for('static', filename='svg/eraser.svg') }}" alt="">
                            </a>
                        </div>
                    {% endif %}
                    <div class="table-overflow">
                        <table id="filterTable">
                            <thead>
                                <tr>
                                    <th>Item (Código)</th>
                                    <th>Item (Descrição)</th>
                                    <th>QTDE (Efetiva)</th>
                                    <th>Últ. Movimentação (Data/Hora)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in saldo_visualization %}
                                    <tr>
                                        <td class="number">{{ item.cod_item }}</td>
                                        <td>{{ item.desc_item }}</td>
                                        <td class="number">{{ item.saldo }},0</td>
                                        <td>{{ item.ult_mov }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="split-horizontal">
                        <a href="{{ url_for('export_csv_tipo', tipo='estoque') }}">Baixar tabela...</a>
                        <a href="{{ url_for('export_csv_tipo', tipo='export_promob') }}">Exportar para PROMOB (ESM009)...</a>
                    </div>
                {% endblock table %}
            </div>
        </div>

        {% include 'shared/footer.html' %}
