{% extends "pages/estoque.html" %}

    {% block svg %}
        <img class="svg-gray" src="{{ url_for('static', filename='svg/map-pin.svg') }}" title="ESTOQUE (ENDEREÇADO)" alt="" onclick="window.location.href='{{ url_for('estoque_enderecado') }}';">
        <img class="svg-gray" src="{{ url_for('static', filename='svg/map-pin-off.svg') }}" title="ESTOQUE (NÃO-ENDEREÇADO)" alt="" onclick="window.location.href='{{ url_for('estoque') }}';">
    {% endblock svg %}

    {% block filter_options %}
        <option value=0>Item (Código)</option>
        <option value=1>Item (Descrição)</option>
        <option value=2>QTDE (Efetiva)</option>
        <option value=3>Últ. Movimen. (Data/Hora)</option>
    {% endblock filter_options %}

    {% block table %}
        <div class="split-horizontal">
            <p>Visualização de Estoque (Preset)</p>
            {% if session.get('user_grant') <= 1 %}
                <div class="table-filter" style="display: none;">
                    <div>
                        <form action="/estoque-presets" method="post">
                            <div class="flex-row">
                                <select class="address" id="preset_id" name="preset_id" value="{{ search_term }}">
                                    <option value="1">FILTRO 01</option>
                                    <option value="2">FILTRO 02</option>
                                </select>
                                <button class="button-mini btn-fancy" type="submit">
                                    <img class="svg-invert" src="{{ url_for('static', filename='svg/list-restart.svg') }}" title="CARREGAR ESTOQUE NO DIA">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if search_term %}
            <div class="split-horizontal">
                <h1 style="font-size: 22px">Predefinição: <span class="cor-web"> FILTRO 0{{ search_term }}</span>.</h1>
                <a class="button-mini btn-fancy" style="margin: 0" onclick="window.location.href='{{ url_for('estoque') }}';" title="Limpar">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/eraser.svg') }}" alt="">
                </a>
            </div>
        {% endif %}
        <div class="table-overflow">
            <table id="filterTable">
                <thead>
                    <tr>
                        <th>Item (Código)</th>
                        <th>Item (Descrição)</th>
                        <th>QTDE (Efetiva)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in saldo_atual %}
                        <tr>
                            <td>{{ item['cod_item'] }}</td>
                            <td>{{ item['desc_item'] }}</td>
                            <td>{{ item['saldo'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ url_for('export_csv_tipo', tipo='saldo_preset') }}">Baixar tabela...</a>
    {% endblock table %}
