<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Estoque {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | TRANS LÉGUA</title>
        <link rel="icon" href="{{ url_for('static', filename='tl-logo-only.svg') }}" type="image/x-icon">

            {% include 'shared/header/tl-header.html' %}
        <div class="titles-container flex-row title-centerer">
            <h1>
                <a href="{{ url_for('mov') }}">MOV</a>
                <span class="dash">/</span>
                <span>ESTOQUE</span>
                <span class="id-page">{{session['id_page']}}</span>
            </h1>
            <div class="aux-buttons">
                {% block svg %}
                <img class="svg-gray" src="{{ url_for('static', filename='svg/map-pin.svg') }}" title="ESTOQUE (ENDEREÇADO)" alt="" onclick="window.location.href='{{ url_for('estoque_enderecado') }}';">
                {% endblock svg %}
                <hr class="vert">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/package-check.svg') }}" title="FATURADOS" alt="" onclick="window.location.href='{{ url_for('faturado') }}';">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/history.svg') }}" title="HISTÓRICO" alt="" onclick="window.location.href='{{ url_for('historico') }}';">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/truck.svg') }}" title="SEPARACÃO DE CARGAS" alt="" onclick="window.location.href='{{ url_for('cargas') }}';">
                <hr class="vert">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/filter.svg') }}" alt="" onclick="toggleFilter()">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="VOLTAR" alt="" onclick="goBack()">
            </div>
        </div>
        <div style="justify-content: flex-end">
            <div id="table-filter" style="display: none">
                <input type="text" class="filterInput address" id="filterInput" oninput="filterTable()" placeholder="Filtrar por...">
                <select class="address" id="filterSelect" onchange="updateFilterIndex()">
                {% block filter_options %}
                    <option value=0>Item (Código)</option>
                    <option value=1>Item (Descrição)</option>
                    <option value=2>QTDE (Efetiva)</option>
                    <option value=3>Últ. Movimen. (Data/Hora)</option>
                {% endblock filter_options %}
                </select>
            </div>
        </div>
        <div class="flex-row" style="min-width: 100%; justify-content: center;">
            <div class="tables-container" style="max-width: 100vh;">
                {% block table %}
                    <div class="split-horizontal">
                        <p>Visualização de Estoque</p>
                        {% if session.get('user_grant') <= 1 %}
                            <div class="table-filter" style="display: none">
                                <div>
                                    <form action="/estoque" method="post">
                                        <div class="flex-row">
                                            <input type="date" class="address" id="date" name="date" value="{{ search_term }}">
                                            <button class="button-mini btn-fancy" type="submit">
                                                <img class="svg-invert" src="{{ url_for('static', filename='svg/calendar-search.svg') }}" title="CARREGAR ESTOQUE NO DIA">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if search_term %}
                        <div class="split-horizontal">
                            <h1 style="font-size: 22px">Estoque na data <span class="cor-web">{{ search_term }}</span>.</h1>
                            <a class="button-mini btn-fancy" style="margin: 0" onclick="window.location.href='{{ url_for('estoque') }}';" title="Limpar">
                                <img class="svg-invert" src="{{ url_for('static', filename='svg/eraser.svg') }}" alt="">
                            </a>
                        </div>
                    {% endif %}
                    <div class="table-overflow">
                        <table id="filterTable">
                            <thead>
                                <tr>
                                    <th>Item (Código)</th>
                                    <th>Item (Descrição)</th>
                                    <th>QTDE (Efetiva)</th>
                                    <th>Últ. Movimentação (Data/Hora)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in saldo_visualization %}
                                    <tr>
                                        <td>{{ item.cod_item }}</td>
                                        <td>{{ item.desc_item }}</td>
                                        <td>{{ item.saldo }}</td>
                                        <td>{{ item.ult_mov }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="split-horizontal">
                        <a href="{{ url_for('export_csv_tipo', tipo='estoque') }}">Baixar tabela...</a>
                        {% if session['user_grant'] <= 1 %}
                            <a href="{{ url_for('export_csv_tipo', tipo='export_promob') }}">Exportar para ajuste (PROMOB)...</a>
                        {% endif %}
                    </div>
                {% endblock table %}
            </div>
        </div>

        {% include 'shared/footer.html' %}
