{% extends 'base.j2' %}

{% block title %}Etiquetas{% endblock title %}

{% block content %}

    <div class="titles-ruler">

        {% from 'components/title-route.j2' import title_container %}
        {{ title_container(
            id_page=session['id_page'],
            breadcrumbs=[
                {'text': 'OUTROS', 'url': 'home', 'title': 'OUTROS'},
                {'text': 'ETIQUETA'}
            ],
            aux_buttons=[
                {'type': 'link', 'url': 'supply_losses', 'icon': 'svg/wine-off.svg', 'title': 'PERDAS'},
                {'type': 'link', 'url': 'etiqueta', 'icon': 'svg/sticky-note.svg', 'title': 'ETIQUETA', 'active': True},
                {'type': 'link', 'url': 'rotulo', 'icon': 'svg/roll.svg', 'title': 'RÓTULO'},
                {'type': 'divider'},
                {'type': 'action', 'icon': 'svg/circle-arrow-left.svg', 'title': 'VOLTAR', 'onclick': 'goBack()'}
            ]
        ) }}

    </div>
    
    <div id="divContent">
        <div class="forms-container">
            <!-- leitor de códigos (qrcode, código de barras ou codigo de item) -->
            <form id="formBuscarItens" style="width: 100%;" method="post" onsubmit="showLockLabel()">
                <label for="input_code"></label>
                <div class="inputs">
                    <input class="address-one" type="text" id="input_code" maxlength="14" name="input_code" required placeholder="QR-Code ou Código de Barras...">
                    <input class="btn-fancy" style="width: 42px; height: 42px;" type="image" src="{{ url_for('static', filename='svg/scan-barcode.svg') }}" alt="">
                </div>
                <hr>
            </form>

            <form id="form-field" method="post" action="{{ url_for('etiqueta') }}">
                <div class="flex-v">
                    <div class="inputs">
                        <div class="flex-v">
                            {% from 'components/lock-label.j2' import lock_label %}
                            {{ lock_label('Produto', 'desc_item') }}
    
                            <input 
                                id="desc_item" 
                                name="desc_item" 
                                class="address-one"
                                type="text" 
                                value="{{ json_desc_item }}" 
                                onclick="maximizeText(this)" 
                                required 
                                readonly 
                                placeholder="Produto..."
                            >
                        </div>
                    </div>

                    <div class="inputs">
                        <div class="flex-v">
                            {% from 'components/lock-label.j2' import lock_label %}
                            {{ lock_label('Código', 'cod_item', '<span class="text-red" id="json_cod_item_ocurr"></span>' | safe) }}
                            
                            <select 
                                id="cod_item" 
                                name="cod_item" 
                                class="address-two" 
                                required 
                                onchange="showLockLabel()"
                            >
                            </select>
                        </div>
                        <div class="flex-v">
                            {% from 'components/lock-label.j2' import lock_label %}
                            {{ lock_label('Lote', 'cod_lote') }}

                            <input 
                                id="lote_item" 
                                name="cod_lote" 
                                class="address-two" 
                                pattern="[A-Z0-9]{6}" 
                                maxlength="6" 
                                type="text" 
                                value="{{ json_cod_lote }}" 
                                required 
                                readonly 
                                placeholder="Lote..."
                            >
                        </div>
                    </div>
                    <div class="inputs">
                        <input 
                            class="btn-fancy" 
                            type="submit" 
                            value="GERAR"
                        >
                        <button 
                            class="btn-fancy" 
                            style="
                                max-height: 60px; 
                                max-width: 60px; 
                                padding: 12px; 
                            " 
                            onclick="toggleCheckbox('imgCheckbox','imgDownload')" 
                        >
                            <img class="svg-inv" id="imgCheckbox" src="{{ url_for('static', filename='svg/download.svg') }}" alt="">
                        </button>
                    </div>

                    <!-- checkbox real oculta -->
                    <input class="check_box hidden" type="checkbox" id="imgDownload" name="imgDownload">

                </div>
            </form>
        </div>

        <div class="tables-container" style="max-height: 600px">
            <div class="centralizado">
                <div class="qr-item featured">
                    <img id="qrCodeImage" title="Última etiqueta gerada" src="" alt="">
                </div>
            </div>
            <p id="label-success" style="font-weight: 500; color: var(--main-color);">Aguardando dados...</p>
        </div>

        <div id="tables-container" class="tables-container glow-cde" style="max-height: 600px">
            <div class="centralizado">
                <div id="qr-grid" class="qr-grid">
                    <div class="qr-item">
                        <img id="qrCodeImage2" src="">
                    </div>
                    <div class="qr-item">
                        <img id="qrCodeImage3" src="">
                    </div>
                    <div class="qr-item">
                        <img id="qrCodeImage4" src="">
                    </div>
                    <div class="qr-item">
                        <img id="qrCodeImage5" src="">
                    </div>
                    <div class="qr-item">
                        <img id="qrCodeImage6" src="">
                    </div>
                    <div class="qr-item">
                        <img id="qrCodeImage7" src="">
                    </div>
                    <div class="qr-item">
                        <img id="qrCodeImage8" src="">
                    </div>
                    <div class="qr-item">
                        <img id="qrCodeImage9" src="">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block route_script %}
    <script src="{{ url_for('static', filename='js/pages/etiqueta.js') }}"></script>
{% endblock route_script %}