<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Etiquetas {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | CDE</title>
        <link rel="icon" href="{{ url_for('static', filename='cde-logo-only.svg') }}" type="image/x-icon">

        {% include 'shared/header/cde-header.html' %}

        <div class="titles-container flex-row title-centerer">
            <h1>
                <a href="{{ url_for('home') }}">CDE</a>
                <span class="dash">/</span>
                <span>ETIQUETA</span>
                <span class="id-page">{{session['id_page']}}</span>
            </h1>
            <div class="aux-buttons">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="VOLTAR" alt="" onclick="goBack()">
            </div>
        </div>
        <div class="flex-row" style="min-width: 100%;">
            <div draggable="false" class="form-login">
                <div class="flex-row">
                    <div class="log">
                        <div style="max-width: 400px; justify-content: flex-start; margin: auto">
                            <div>
                                <form id="formBuscarItens" method="post" onsubmit="lockIcoShow()">
                                    <label for="input_code"></label>
                                    <div class="split-horizontal">
                                        <input type="text" style="width: 320px;" id="input_code" maxlength="14" name="input_code" required placeholder="Leia o QR-Code ou o DUN-14...">
                                        <input class="btn-fancy" style="width: 42px; height: 42px; margin-left: 4px; padding: 8px;" type="image" src="{{ url_for('static', filename='svg/scan-barcode.svg') }}" alt="">
                                    </div>
                                    <hr>
                                </form>
                            </div>
                            <form style="display: flex; justify-content: flex-start" id="form-field" method="post" action="{{ url_for('etiqueta') }}">
                                <div>
                                    <label for="desc_item">Produto
                                        <img id="label-desc" class="svg-label" src="{{ url_for('static', filename='svg/lock.svg') }}" alt="">
                                    </label><br>
                                    <input name="desc_item" id="desc_item" type="text" value="{{ json_desc_item }}" onclick="maximizeText(this)" required readonly placeholder="Produto...">
                                </div>
    
                                <div class="two-split">
                                    <div>
                                        <label for="cod_item">Código <span style="color: red" id="json_cod_item_ocurr"></span>
                                            <img id="label-cod_item" class="svg-label" src="{{ url_for('static', filename='svg/lock.svg') }}" alt="">
                                        </label><br>
                                        <select class="address" id="cod_item" name="cod_item" required onchange="lockIcoShow()"></select>
                                    </div>
    
                                    <div>
                                        <label for="lote_item">Lote
                                            <img id="label-cod_lote" class="svg-label" src="{{ url_for('static', filename='svg/lock.svg') }}" alt="">
                                        </label><br>
                                        <input class="address" pattern="[A-Z0-9]{6}" maxlength="6" id="lote_item" type="text" name="cod_lote" value="{{ json_cod_lote }}" required readonly placeholder="Lote...">
                                    </div>
                                </div>
                                <br>
                                <div style="display: flex;width: 100%;">
                                    <input class="btn-fancy" style="max-width: none;" type="submit" value="Emitir Etiqueta">
                                    <img class="btn-fancy" id="img_checkbox" style="height: 35px;width: 35px; padding: 12px;margin-left: 15px" src="{{ url_for('static', filename='svg/image-down.svg') }}" onclick="toggleCheckbox('img_checkbox','img_download')" alt="">
                                </div>
    
                                <div class="split-horizontal">
                                    <input class="check_box" style="display: none" type="checkbox" id="img_download" name="img_download">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="tables-cont" style="max-width: 580px;margin: 10px; margin-left: 40px;">
                        <div class="centralizado">
                            <div class="centralizado" style="background-color: var(--cor-destaque); border-radius: 20px; width: 450px; height: 450px;">
                                <img id="qrCodeImage" style="border-radius: 10px;" src="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>

            let ultimoCodigo = '';

            $(function() {
                $("#formBuscarItens").submit(function(event) {
                    event.preventDefault();
                    var codigo = $("#input_code").val();
                    buscarItens(codigo);
                    $("#input_code").val('');
                });
            });

            $("#cod_item").change(function(event) {
                event.preventDefault();
                var codigo = $("#cod_item").val();
                buscarItens(codigo);
                $("#input_code").val(ultimoCodigo);
            });

            function buscarItens(codigo) {
                $.ajax({
                    type: "POST",
                    url: "/get/item",
                    data: { input_code: codigo },
                    success: function(response) {
                        $("#desc_item").val(response.json_desc_item);
                        $("#cod_item").empty();
                        if (response.json_cod_item_ocurr) {
                            $("#json_cod_item_ocurr").text('( ' + response.json_cod_item_ocurr + ' )');
                        } else {
                            $("#json_cod_item_ocurr").text('');
                        }

                        if (response.json_cod_item.length > 1) {
                            lockIcoHide("label-cod_item");
                            ultimoCodigo = codigo
                        }

                        if (response.json_cod_item) {
                            response.json_cod_item.forEach(function(item) {
                                $("#cod_item").append("<option value='" + item + "'>" + item + "</option>");
                            });
                        } else {
                            $("#cod_item").append("<option value=''></option>");
                        }
                        $("#lote_item").val(response.json_cod_lote);
                        
                        if (response.json_cod_lote === "") {
                            lockIcoHide("label-cod_lote")
                            $("#lote_item").prop("readonly", false);
                        } else {
                            $("#lote_item").prop("readonly", true);
                        }
                    },
                    error: function(error) {
                        console.error("Erro ao buscar itens:", error);
                    }
                });
            }

            document.getElementById("form-field").addEventListener("submit", function() {
                document.getElementById("submitform").disabled = true;
            });

                $("#form-field").submit(function(event) {
                     event.preventDefault();

                     var qr_text = $("#cod_item").val() + ";" + $("#lote_item").val();
                     var desc_item = $("#desc_item").val();
                     var cod_item = $("#cod_item").val();
                     var lote_item = $("#lote_item").val();
                     var check = $("#img_download").prop('checked');

                     exibirQRCode(qr_text, desc_item, lote_item, cod_item, check);

                });

                function exibirQRCode(qr_text, desc_item, lote_item, cod_item, check) {
                    $.ajax({
                        type: "POST",
                        url: "/etiqueta",
                        data: { qr_text: qr_text, desc_item: desc_item, lote_item: lote_item, cod_item: cod_item, check: check },
                        success: function(response) {
                            if (check === false) {
                                $("#qrCodeImage").attr("src", "data:image/img;base64," + response);
                            }
                            else {
                                $("#qrCodeImage").attr("src", "data:image/img;base64," + response);

                                var link = document.createElement('a');
                                link.href = "data:image/img;base64," + response;
                                link.download = qr_text + ".png";
                                document.body.appendChild(link);
                                link.click();
                                document.body.removeChild(link);
                            }
                        },
                        error: function(error) {
                            console.error("Erro ao exibir QR Code:", error);
                        }
                    });
                }

    </script>



    {% include 'shared/footer.html' %}