<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Histórico | TRANS LÉGUA</title>

        {% include 'shared/header.html' %}

            <div class="tables-mobile">

                <div class="split-horizontal">
                    <h1>Histórico</h1>
                    <div>
                        <img class="svg-gray" src="{{ url_for('static', filename='icons/xmark.svg') }}" alt="" onclick="window.location.href='{{ url_for('mov') }}';">
                        <img class="svg-gray" src="{{ url_for('static', filename='icons/filter.svg') }}" alt="" onclick="toggleFilter()">

                   </div>
                </div>
                    <div style="justify-content: flex-end" >
                        <label for="searchInput1"></label>
                        <label for="filterSelect"></label>
                        <div id="table-filter" style="display: none" >
                            <input type="text" class="searchInput" id="searchInput1" oninput="filterTable()" placeholder="Filtrar por...">
                            <select class="address" id="filterSelect" onchange="updateFilterIndex()">
                                <option value="2">Produto (Descrição)</option>
                                <option value="0">Endereço (Letra)</option>
                                <option value="1">Endereço (Número)</option>
                                <option value="3">Operação (Descrição)</option>
                                <option value="4">Quantidade</option>
                                <option value="5">Lote (Código)</option>
                                <option value="6">Usuário (Nome)</option>
                                <option value="7">Horário (Data/Hora)</option>

                            </select>
                        </div>
                    </div>
                <div style="max-height: 500px; overflow-y: auto;">
                    <table class="saldoTable">
                        <tr>
                            <th>Rua</th>
                            <th>Número</th>
                            <th>Produto</th>
                            <th>Operação</th>
                            <th>Quantidade</th>
                            <th>Lote</th>
                            <th>Usuário</th>
                            <th>Horário</th>
                        </tr>
                        {% for item in estoque %}
                        <tr>
                            <td>{{ item['letra'] }}</td>
                            <td>{{ item['numero'] }}</td>
                            <td>{{ item['produto'] }}</td>
                            <td>{{ item['operacao'] }}</td>
                            <td>{{ item['quantidade'] }}</td>
                            <td>{{ item['lote'] }}</td>
                            <td>{{ item['user_name'] }}</td>
                            <td>{{ item['timestamp'] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <a href="{{ url_for('export_csv_tipo', tipo='historico') }}">
                    Baixar tabela...
                </a>

            </div>

        {% include 'shared/footer.html' %}