<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Página Inicial | TRANS LÉGUA</title>

        {% include 'shared/header.html' %}

            <div class="form-container split-horizontal menu-container">
                <div style="display: flex; flex-direction: column">
                    <div>
                        <h1 class="saudacao" id="saudacao" style="text-align: center;margin-bottom: 8px;"></h1>
                        <hr style="margin-bottom: 14px;">
                    </div>
                    <div class="container-grid">
                        <div class="item featured" onclick="window.location.href='{{ url_for('mov') }}';">
                            <div class="split-horizontal algn-cntr">
                                <div style="text-align: left">
                                    <h2 class="text-default">Movimentar</h2>
                                    <p class="text-default bold">Faça movimentações no seu estoque.</p>
                                </div>
                                <a class="subm button-mini">
                                    <img class="svg-invert" src="{{ url_for('static', filename='icons/boxes-packing.svg') }}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="item" onclick="window.location.href='{{ url_for('saldo') }}';">
                            <div class="split-horizontal algn-cntr">
                                <div style="text-align: left">
                                    <h2 class="text-default">Estoque</h2>
                                    <p class="text-default bold"></p>
                                </div>
                                <a class="subm button-mini">
                                    <img class="svg-invert" src="{{ url_for('static', filename='icons/estoque.svg') }}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="item" onclick="window.location.href='{{ url_for('produtos') }}';">
                            <div class="split-horizontal algn-cntr">
                                <div style="text-align: left">
                                    <h2 class="text-default">Produtos</h2>
                                    <p class="text-default bold"></p>
                                </div>
                                <a class="subm button-mini">
                                    <img class="svg-invert" src="{{ url_for('static', filename='icons/produtos.svg') }}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="item" onclick="window.location.href='{{ url_for('producao') }}';">
                            <div class="split-horizontal algn-cntr">
                                <div style="text-align: left">
                                    <h2 class="text-default">Produção</h2>
                                    <p class="text-default bold"></p>
                                </div>

                                <a class="subm button-mini">
                                    <img class="svg-invert" src="{{ url_for('static', filename='icons/producao.svg') }}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="item" onclick="window.location.href='{{ url_for('envase') }}';">
                            <div class="split-horizontal algn-cntr">
                                <div style="text-align: left">
                                    <h2 class="text-default">Envase</h2>
                                    <p class="text-default bold"></p>
                                </div>
                                <a class="subm button-mini">
                                    <img class="svg-invert" src="{{ url_for('static', filename='icons/recep-drop.svg') }}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="item" onclick="window.location.href='{{ url_for('etiqueta') }}';">
                            <div class="split-horizontal algn-cntr">
                                <div style="text-align: left">
                                    <h2 class="text-default">Etiquetas</h2>
                                    <p class="text-default bold"></p>
                                </div>
                                <a class="subm button-mini">
                                    <img class="svg-invert" src="{{ url_for('static', filename='icons/tags.svg') }}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="item featured" onclick="window.location.href='{{ url_for('users') }}';" >
                            <div class="split-horizontal algn-cntr">
                                <div style="text-align: left">
                                    <h2 class="text-default">Usuários</h2>
                                    <p class="text-default bold">Crie ou gerencie seus usuários no sistema...</p>
                                </div>

                                <a class="subm button-mini">
                                    <img class="svg-invert" src="{{ url_for('static', filename='icons/user-gear.svg') }}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <img class="side-banner" src="{{ url_for('static', filename='png/side-banner.jpg') }}" alt="">
                </div>
            </div>
            <script>
                function getSaudacao() {
                let saudacao;
                let horaAtual = new Date().getHours();

                if (horaAtual >= 5 && horaAtual < 12) {
                    saudacao = "Bom dia, ";
                } else if (horaAtual >= 12 && horaAtual < 18) {
                    saudacao = "Boa tarde, ";
                } else {
                    saudacao = "Boa noite, ";
                }
                return saudacao;
            }
            let saudacaoCompleta = getSaudacao() + "<span class='cor-web'>{{ session.get('user_name') }}</span>!";
            document.getElementById("saudacao").innerHTML = saudacaoCompleta;
            </script>

           {% include 'shared/footer.html' %}