{% extends "pages/estoque.j2" %}

    {% block svg %}
        <a class="aux-button {% if request.endpoint == 'estoque' %}active{% endif %}">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/group.svg') }}" title="ESTOQUE" alt="" onclick="window.location.href='{{ url_for('estoque') }}';">
        </a>
        <a class="aux-button {% if request.endpoint == 'estoque_enderecado' %}active{% endif %}">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/land-plot.svg') }}" title="ESTOQUE (ENDEREÇADO)" alt="" onclick="window.location.href='{{ url_for('estoque_enderecado') }}';">
        </a>
            <a class="aux-button {% if request.endpoint == 'estoque_preset' %}active{% endif %}">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/blend.svg') }}" title="ESTOQUE (PRESET)" alt="" onclick="window.location.href='{{ url_for('estoque_preset') }}';">
        </a>
    {% endblock svg %}

    {% block table %}
        {% if search_term %}
            <div class="split-h">
                <h1 style="font-size: 22px">Estoque na data <span class="text-main-color">{{ search_term }}</span>.</h1>
                <a class="button-mini btn-fancy" style="margin: 0" onclick="window.location.href='{{ url_for('estoque_enderecado') }}';" title="Limpar">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/eraser.svg') }}" alt="">
                </a>
            </div>
        {% endif %}
        <div class="table-overflow">
            <table id="filterTable">
                <thead>
                    <tr>
                        <th>Endereço</th>
                        <th>Item (Código)</th>
                        <th>Item (Descrição)</th>
                        <th>Lote (Código)</th>
                        <th>Validade (Dias)</th>
                        <th>Self-Life (%)</th>
                        <th>Fabricacão (Data)</th>
                        <th>Vencimento (Data)</th>
                        <th>Saldo (Quant.)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in inv_data %}
                        <tr>
                            <td>{{ item['address'] }} </td>
                            <td class="number">{{ item['cod_item'] }}</td>
                            <td>{{ item['desc_item'] }}</td>
                            <td 
                                {% if 'CS' not in item['cod_lote']|string %}
                                    style="color:rgb(113, 113, 113);"
                                {% endif %}
                            >
                                {{ item['cod_lote'] }}
                            </td>
                                {% if '/' in item['validade']|string  and 'CS' in item['cod_lote']%}
                                <td 
                                    style="color:rgb(113, 113, 113);"
                                    title="Validade não informada!"
                                >
                                    -
                                </td>
                                {% elif '/' in item['validade']|string %}
                                    <td 
                                        style="color:rgb(113, 113, 113);"
                                    >
                                    {{ item['validade'] }}
                                    </td>
                                {% else %}
                                <td 
                                    title="{{ item['validade_str'] }} ({{ item['validade_perc_str'] }}%)"
                                    style="font-weight: bold"
                                >
                                    {{ item['validade'] | int }}
                                </td>
                                {% endif %}
                                {% if '/' in item['validade']|string and 'CS' in item['cod_lote']%}
                                    <td 
                                        style="color:rgb(113, 113, 113);"
                                        title="Validade não informada!"
                                    >
                                        <span>-</span>
                                    </td>
                                {% elif '/' in item['validade']|string %}
                                    <td style="color:rgb(113, 113, 113);">
                                        {{ item['validade'] }}
                                    </td>
                                {% else %}
                                <td 
                                    title="{{ item['validade_str'] }} ({{ item['validade_perc_str'] }}%)"
                                    {% if item['validade_perc_str'] < 50 %}
                                        style="color: rgb(255, 0, 0); font-weight: bold"
                                    {% elif item['validade_perc_str'] < 70 %}
                                        style="color: rgb(255, 145, 0); font-weight: bold"
                                    {% else %}
                                        style="color: rgb(10, 128, 10); font-weight: bold"
                                    {% endif %}
                                >
                                    {{ item['validade_perc_str'] }}
                                </td>
                                {% endif %}
                                {% set data_fab = item['date_fab'].split(' ') %}
                                <td>{{ data_fab[0] }}</td>
                                {% if '/' in item['validade']|string  and 'CS' in item['cod_lote']%}
                                <td 
                                    style="color:rgb(113, 113, 113);"
                                    title="Validade não informada!"
                                >
                                    -
                                </td>
                                {% elif '/' in item['validade']|string %}
                                    <td 
                                        style="color:rgb(113, 113, 113);"
                                    >
                                    N/A
                                    </td>
                                {% else %}
                                <td 
                                    title="{{ item['validade_str'] }} ({{ item['validade_perc_str'] }}%)"
                                    style="color: var(--cde-color); font-weight: bold"
                                >
                                    {% set date_venc = item['date_venc'].split(' ') %}
                                    {{ date_venc[0] }}
                                </td>
                                {% endif %}
                            
                            <td class="number">{{ item['saldo'] }}.0</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock table %}
