{% extends 'base.j2' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div id="divContent">
        <div class="form-login" style="padding: 20px">
            <div class="two-split" style="grid-gap: 30px">
                <div class="side-banner login">
                    <img class="side-banner login" src="{{ url_for('static', filename='img/side-log-in.jpg') }}" alt="">
                </div>
                {% if 'logged_in' not in session %}
                    <div class="log w-100">
                        <h1 style="font-size: 46px; margin-bottom: 10px" class="text-main-color title">Entrar</h1>
                        <form id="form-field" action="/login" method="post" onsubmit="showLoading()">
                            <div class="flex-v">

                                <div class="inputs">
                                    <div class="flex-v">
                                        <label for="login_user">Usuário <span class="text-red">*</span></label>
                                        <input type="text" id="login_user" name="login_user" placeholder="usuário / seu@email.com" required>
                                    </div>
                                </div>

                                <div class="inputs">
                                    <div class="flex-v">
                                        <label for="password_user">Senha <span class="text-red">*</span></label>
                                        <input type="password" id="password_user" name="password_user" placeholder="*****" required>
                                    </div>
                                </div>

                                <div class="inputs">
                                    <p class="alert" id="custom-alert">{% if alert_msge %}{{ alert_msge }}{% else %}Sua sessão expirou, entre novamente!{% endif %}</p>
                                </div>

                                <div class="inputs">
                                    <button class="btn-fancy" type="submit" id="submitform">
                                        <img class="svg-inv" style="height: 22px; width: 22px;" src="{{ url_for('static', filename='svg/arrow-right.svg') }}" alt="">
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content%}

{% block route_script %}
    <script src="{{ url_for('static', filename='js/pages/login.js') }}"></script>
{% endblock route_script %}