<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Login | TRANS LÉGUA</title>

        {% include 'shared/header.html' %}

    <!-- TABELA -->
        <div draggable="false" class="form-login">
            <div class="split-horizontal">
                {% if 'logged_in' not in session %}
                    <div class="log">
                        <h1 class="cor-web">Entrar</h1>
                        <form action="/login" method="post">
                            <div>
                                <div>
                                    <label for="login_user">Usuário</label><br>
                                    <input type="text" id="login_user" name="login_user" placeholder="E-mail, telefone ou usuário..." required>
                                </div>
                                <div>
                                    <label for="password_user">Senha</label><br>
                                    <input type="password" id="password_user" name="password_user" placeholder="Senha..." required>
                                </div>
                                <br>
                            </div>
                            <div class="form-login-input">
                                <p class="alert">Sua sessão expirou, entre novamente!</p>
                                <input class="subm" type="submit" value="Entrar">
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="log">
                        <h1 class="cor-web">Usuário</h1>
                        <div>
                            <div style="margin-bottom: 10px; margin-top: 8px;" class="centralizado">
                                <div style="position: static;height: 80px;width: 80px;font-size: 45px;line-height: 80px" class="user-button">
                                    {{ session.get('user_initials', '') }}
                                </div>
                            </div>
                            <h3>{{ session.get('user_name', 'Faça seu Login!') }}</h3>
                            <h4 style="margin-top: 0; margin-bottom: 18px; text-align: center">{{ 'Administrador' if session.get('privilegio') <= 2 else 'Usuário Padrão' }}</h4>
                            <a class="subm" href="{{ url_for('index') }}">
                                <img class="svg" src="{{ url_for('static', filename='icons/user-edit.svg') }}" alt="">
                            </a>
                        </div>
                        <div class="form-login-input">
                            <p class="alert">Você já está conectado.</p>
                            <a class="subm" href="{{ url_for('logout') }}">Sair...</a>
                        </div>
                    </div>
                {% endif %}
                <div class="tables-container" id="tables-cont" style="max-width: 580px; margin: 10px;">
                    <img class="svg-none" src="{{ url_for('static', filename='icons/user.svg') }}" alt="">
                    <div class="centralizado">
                        <div>
                            <img class="side-banner" style="height: 450px; width: 450px; border-radius: 20px;" src="{{ url_for('static', filename='png/side-log-in.jpg') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% include 'shared/footer.html' %}