<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Processamento | TRANS LÉGUA</title>

        {% include "shared/header.html" %}

            <div id="floating-container" draggable="false" class="form-container" style="position: relative">
                <div class="centralizado">
                    <div>
                        <div>
                            <form style="display: flex;" id="field" method="post" action="/producao/insert">
                                <hr>
                                <label for="liq_tipo"></label>
                                <select id="liq_tipo" name="liq_tipo">
                                    <option>SUCO</option>
                                    <option>NÉCTAR</option>
                                </select>
                                <hr>
                                <div class="two-split" id="two_split_field" style="width: 100%">
                                    <div>
                                        <label for="liq_linha">Produto<br></label>
                                        <select class="address" name="liq_linha" id="liq_linha" onchange="updateCorOptions()" required>
                                            <option>UVA</option>
                                            <option>MACA</option>
                                            <option>LARANJA</option>
                                            <option>MISTO</option>
                                        </select>
                                    </div>
                                    <div id="liq_cor_field">
                                        <label for="liq_cor">Cor<br></label>
                                        <select class="address" name="liq_cor" id="liq_cor">
                                            <option>TINTO</option>
                                            <option>BRANCO</option>
                                            <option>ROSÉ</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="three-split">
                                    <div>
                                        <label for="embalagem">Embalagem</label><br>
                                        <select id="embalagem" name="embalagem" class="address-three" required onchange="updateLinhaOptions()">
                                            <option value="PET">PET</option>
                                            <option value="VIDRO">VIDRO</option>
                                            <option value="BAG">BAG</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="linha">Linha</label><br>
                                        <select name="linha" id="linha" class="address-three" required>
                                            <option>2</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="litros">Litros</label><br>
                                        <input class="address-three" type="number" id="litros" name="litros" min="1" required placeholder="Litros...">
                                    </div>
                                </div>
                                <hr>
                                <div class="two-split">
                                    <div>
                                        <label for="data_antec">Entrada Antec.</label><br>
                                        <input name="data_antec" id="data_antec" type="date" class="address">
                                    </div>
                                    <div>
                                        <label for="data_producao">Processamento</label><br>
                                        <input name="data_producao" id="data_producao" type="date" class="address">
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <label for="observacao">Observação</label><br>
                                        <textarea class="address-observ" id="observacao" name="observacao" placeholder="Observações..."></textarea>
                                    </div>
                                </div>
                                <div style="display: flex;width: 100%;">
                                    <input class="subm" style="max-width: none;" type="submit" value="Registrar...">
                                    {% if 'privilegio' in session %}
                                        {% if session['privilegio'] <= 2 %}
                                            <img class="subm" style="height: 30px;width: 30px; padding: 15px;margin-left: 15px" src="{{ url_for('static', filename='icons/pen-to-square.svg') }}" alt="" onclick="toggleEdit()">
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tables-container" id="tables-cont">
                <div class="split-horizontal">
                    <h1>Programação de Processamento</h1>
                    <div style="display: flex">
                        <img class="svg-gray" src="{{ url_for('static', filename='icons/clipboard-list.svg') }}" title="Mostrar/Ocultar Formulário" alt="" onclick="toggleContainer()">
                        <img class="svg-gray" src="{{ url_for('static', filename='icons/calendar.svg') }}" alt="" title="Calendário de Producao" onclick="window.location.href='{{ url_for('calendar_producao') }}';">
                        <img class="svg-gray" src="{{ url_for('static', filename='icons/filter.svg') }}" alt="" title="Filtros para a tabela..." onclick="toggleFilter()">
                    </div>
                </div>
                <div style="justify-content: flex-end" >
                    <label for="filterDate"></label>
                    <div id="table-filter" style="position: absolute;display: none;right: 25px" >
                        <div class="back-modal" onclick="toggleFilter()"></div>
                        <div class="form-filter generic" style="z-index: 9999;top: 30%; left: 45%; position: fixed">
                            <div style="padding: 5px;display: flex;max-height: 40px;align-items: center;justify-content: center;">
                                <div class="split-horizontal" style="align-items: center">
                                    <h3 style="font-size: 24px">Filtros</h3>
                                    <div style="scale: 0.7">
                                        <button class="pin" id="fix-move-btn" onclick="toggleFilter()">
                                            <img style="height: 30px;width: 30px" class="svg-gray" src="{{ url_for('static', filename='icons/xmark.svg') }}" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div style="padding: 20px;">
                                <p class="cor-web">Data</p>
                                <div class="split-horizontal" style="display: flex;max-height: 40px;border: 0;align-items: center;justify-content: center;">
                                    <div class="split-horizontal">
                                        <input type="date" class="address" id="filterDate" onchange="filterByDate()">
                                        <a class="button-mini subm" style="margin: 0" onclick="getHoje()">
                                            <img class="svg-invert" src="{{ url_for('static', filename='icons/calendar-day.svg') }}" alt="">
                                        </a>
                                        <a class="button-mini subm" style="margin: 0" onclick="limpaData()">
                                            <img class="svg-invert" src="{{ url_for('static', filename='icons/calendar-xmark.svg') }}" alt="">
                                        </a>
                                    </div>
                                </div>
                                <br>
                                <p class="cor-web">Linhas</p>
                                <div style="display: flex; flex-direction: column">
                                    <div>
                                        <input type="checkbox" class="checkbox" id="toggle_linha1" onclick="toggleTable('linha1')" checked>
                                        <label for="toggle_linha1">Linha 1</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" class="checkbox" id="toggle_linha2" onclick="toggleTable('linha2')" checked>
                                        <label for="toggle_linha2">Linha 2</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" class="checkbox" id="toggle_linha3" onclick="toggleTable('linha3')" checked>
                                        <label for="toggle_linha3">Linha 3</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" class="checkbox" id="toggle_linha4" onclick="toggleTable('linha4')" checked>
                                        <label for="toggle_linha4">Linha 4</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" class="checkbox" id="toggle_linha5" onclick="toggleTable('linha5')" checked>
                                        <label for="toggle_linha5">Linha 5</label>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-overflow section-linhas programmed-l1" id="linha1_table">
                    <h4>Linha 1</h4>
                    <table class="saldoTable">
                        <tr>
                            <th>Produto (Tipo)</th>
                            <th>Produto (Descrição)</th>
                            <th>Peso Líquido (Litros)</th>
                            <th>Data Entrada Antec.</th>
                            <th>Data Processamento</th>
                            <th>Concluído</th>
                        </tr>
                        {% for item in producao %}
                            {% if item['linha'] == 1 %}
                                <tr>
                                    <td style="width: 100px;">{{ item['liq_tipo'] }}</td>
                                    <td style="width: 100px;">{{ item['liq_linha'] }} {{ item['liq_cor'] }}</td>
                                    <td style="width: 100px;">{{ '{:,.0f}'.format(item['litros']).replace(',', '.') }}</td>
                                    <td style="width: 80px;">{{ item['data_entr_antec'] }}</td>
                                    <td style="width: 80px;">{{ item['data_producao'] }}</td>
                                    <td class="tb-checkbox"><input type="checkbox" oninput="confirmConcluir('{{ item['id_producao'] }}', this)" style="width: 16px; height: auto" {% if item['concluido'] %} checked {% endif %} {% if item['concluido'] %} disabled {% endif %}></td>
                                    <td class="td-more" data-toggle="tooltip" title="obs.:&#10;{{ item['observacao'] }}"><img class="svg-gray table-more" style="height: 15px;width: 15px; padding: 2px" src="{{ url_for('static', filename='icons/info.svg') }}" alt=""></td>
                                    <td class="td-more" data-toggle="tooltip" ><img class="svg-link table-more" src="{{ url_for('static', filename='icons/edit-link.svg') }}" onclick="redirectToEdit('{{ item['id_producao'] }}')" alt=""></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    <br>
                </div>
                <br>
                <div class="table-overflow section-linhas programmed-l2" id="linha2_table">
                    <h4>Linha 2</h4>
                    <table class="saldoTable">
                        <tr>
                            <th>Produto (Tipo)</th>
                            <th>Produto (Descrição)</th>
                            <th>Peso Líquido (Litros)</th>
                            <th>Data Entrada Antec.</th>
                            <th>Data Processamento</th>
                            <th>Concluído</th>
                        </tr>
                        {% for item in producao %}
                            {% if item['linha'] == 2 %}
                                <tr>
                                    <td style="width: 100px;">{{ item['liq_tipo'] }}</td>
                                    <td style="width: 100px;">{{ item['liq_linha'] }} {{ item['liq_cor'] }}</td>
                                    <td style="width: 100px;">{{ '{:,.0f}'.format(item['litros']).replace(',', '.') }}</td>
                                    <td style="width: 80px;">{{ item['data_entr_antec'] }}</td>
                                    <td style="width: 80px;">{{ item['data_producao'] }}</td>
                                    <td class="tb-checkbox"><input type="checkbox" oninput="confirmConcluir('{{ item['id_producao'] }}', this)" style="width: 16px; height: auto" {% if item['concluido'] %} checked {% endif %} {% if item['concluido'] %} disabled {% endif %}></td>
                                    <td class="td-more" data-toggle="tooltip" title="obs.:&#10;{{ item['observacao'] }}"><img class="svg-gray table-more" style="height: 15px;width: 15px; padding: 2px" src="{{ url_for('static', filename='icons/info.svg') }}" alt=""></td>
                                    <td class="td-more" data-toggle="tooltip" ><img class="svg-link table-more" src="{{ url_for('static', filename='icons/edit-link.svg') }}" onclick="redirectToEdit('{{ item['id_producao'] }}')" alt=""></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    <br>
                </div>
                <br>
                <div class="table-overflow section-linhas programmed-l3" id="linha3_table">
                    <h4>Linha 3</h4>
                    <table class="saldoTable">
                        <tr>
                            <th>Produto (Tipo)</th>
                            <th>Produto (Descrição)</th>
                            <th>Peso Líquido (Litros)</th>
                            <th>Data Entrada Antec.</th>
                            <th>Data Processamento</th>
                            <th>Concluído</th>
                        </tr>
                        {% for item in producao %}
                            {% if item['linha'] == 3 %}
                                <tr>
                                    <td style="width: 100px;">{{ item['liq_tipo'] }}</td>
                                    <td style="width: 100px;">{{ item['liq_linha'] }} {{ item['liq_cor'] }}</td>
                                    <td style="width: 100px;">{{ '{:,.0f}'.format(item['litros']).replace(',', '.') }}</td>
                                    <td style="width: 80px;">{{ item['data_entr_antec'] }}</td>
                                    <td style="width: 80px;">{{ item['data_producao'] }}</td>
                                    <td class="tb-checkbox"><input type="checkbox" oninput="confirmConcluir('{{ item['id_producao'] }}', this)" style="width: 16px; height: auto" {% if item['concluido'] %} checked {% endif %} {% if item['concluido'] %} disabled {% endif %}></td>
                                    <td class="td-more" data-toggle="tooltip" title="obs.:&#10;{{ item['observacao'] }}"><img class="svg-gray table-more" style="height: 15px;width: 15px; padding: 2px" src="{{ url_for('static', filename='icons/info.svg') }}" alt=""></td>
                                    <td class="td-more" data-toggle="tooltip" ><img class="svg-link table-more" src="{{ url_for('static', filename='icons/edit-link.svg') }}" onclick="redirectToEdit('{{ item['id_producao'] }}')" alt=""></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    <br>
                </div>
                <br>
                <div class="table-overflow section-linhas programmed-l4" id="linha4_table">
                    <h4>Linha 4</h4>
                    <table class="saldoTable">
                        <tr>
                            <th>Produto (Tipo)</th>
                            <th>Produto (Descrição)</th>
                            <th>Peso Líquido (Litros)</th>
                            <th>Data Entrada Antec.</th>
                            <th>Data Processamento</th>
                            <th>Concluído</th>
                        </tr>
                        {% for item in producao %}
                            {% if item['linha'] == 4 %}
                                <tr>
                                    <td style="width: 100px;">{{ item['liq_tipo'] }}</td>
                                    <td style="width: 100px;">{{ item['liq_linha'] }} {{ item['liq_cor'] }}</td>
                                    <td style="width: 100px;">{{ '{:,.0f}'.format(item['litros']).replace(',', '.') }}</td>
                                    <td style="width: 80px;">{{ item['data_entr_antec'] }}</td>
                                    <td style="width: 80px;">{{ item['data_producao'] }}</td>
                                    <td class="tb-checkbox"><input type="checkbox" oninput="confirmConcluir('{{ item['id_producao'] }}', this)" style="width: 16px; height: auto" {% if item['concluido'] %} checked {% endif %} {% if item['concluido'] %} disabled {% endif %}></td>
                                    <td class="td-more" data-toggle="tooltip" title="obs.:&#10;{{ item['observacao'] }}"><img class="svg-gray table-more" style="height: 15px;width: 15px; padding: 2px" src="{{ url_for('static', filename='icons/info.svg') }}" alt=""></td>
                                    <td class="td-more" data-toggle="tooltip" ><img class="svg-link table-more" src="{{ url_for('static', filename='icons/edit-link.svg') }}" onclick="redirectToEdit('{{ item['id_producao'] }}')" alt=""></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    <br>
                </div>
                <br>
                <div class="table-overflow section-linhas programmed-l5" id="linha5_table">
                    <h4>Linha 5</h4>
                    <table class="saldoTable">
                        <tr>
                            <th>Produto (Tipo)</th>
                            <th>Produto (Descrição)</th>
                            <th>Peso Líquido (Litros)</th>
                            <th>Data Entrada Antec.</th>
                            <th>Data Processamento</th>
                            <th>Concluído</th>
                        </tr>
                        {% for item in producao %}
                            {% if item['linha'] == 5 %}
                                <tr>
                                    <td style="width: 100px;">{{ item['liq_tipo'] }}</td>
                                    <td style="width: 100px;">{{ item['liq_linha'] }} {{ item['liq_cor'] }}</td>
                                    <td style="width: 100px;">{{ '{:,.0f}'.format(item['litros']).replace(',', '.') }}</td>
                                    <td style="width: 80px;">{{ item['data_entr_antec'] }}</td>
                                    <td style="width: 80px;">{{ item['data_producao'] }}</td>
                                    <td class="tb-checkbox"><input type="checkbox" oninput="confirmConcluir('{{ item['id_producao'] }}', this)" style="width: 16px; height: auto" {% if item['concluido'] %} checked {% endif %} {% if item['concluido'] %} disabled {% endif %}></td>
                                    <td class="td-more" data-toggle="tooltip" title="obs.:&#10;{{ item['observacao'] }}"><img class="svg-gray table-more" style="height: 15px;width: 15px; padding: 2px" src="{{ url_for('static', filename='icons/info.svg') }}" alt=""></td>
                                    <td class="td-more" data-toggle="tooltip" ><img class="svg-link table-more" src="{{ url_for('static', filename='icons/edit-link.svg') }}" onclick="redirectToEdit('{{ item['id_producao'] }}')" alt=""></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                <br>
                </div>

                <a href="{{ url_for('export_csv_tipo', tipo='producao') }}">Baixar tabela...</a>
            </div>

        <script>

            function updateLinhaOptions() {
                var embalagem = document.getElementById("embalagem").value;
                var linhaSelect = document.getElementById("linha");

                linhaSelect.innerHTML = "";

                if (embalagem === "PET") {
                    addOption(linhaSelect, "2", "2");
                    addOption(linhaSelect, "5", "5");
                } else if (embalagem === "VIDRO") {
                    addOption(linhaSelect, "1", "1");
                    addOption(linhaSelect, "3", "3");
                } else if (embalagem === "BAG") {
                    addOption(linhaSelect, "4", "4");
                }
            }

            function updateCorOptions() {
                var liqLinha = document.getElementById("liq_linha");
                var corSelect = document.getElementById("liq_cor");
                var corField = document.getElementById("liq_cor_field");
                var twoSplitField = document.getElementById("two_split_field");


                corSelect.innerHTML = "";
                liqLinha.classList.remove('address');

                if (liqLinha.value === "UVA") {
                    addOption(corSelect, "TINTO", "TINTO");
                    addOption(corSelect, "BRANCO", "BRANCO");
                    addOption(corSelect, "ROSE", "ROSÉ");

                    corField.style.display = "inline-block";
                    liqLinha.classList.add('address');
                    twoSplitField.classList.add('two-split');

                } else if (liqLinha.value === "MISTO") {
                    addOption(corSelect, "UVA/MACA", "UVA/MACA");
                    addOption(corSelect, "MACA/UVA", "MACA/UVA");
                    addOption(corSelect, "MACA/LARANJA", "MACA/LARANJA");
                    addOption(corSelect, "LARANJA/MACA", "LARANJA/MACA");

                    corField.style.display = "inline-block";
                    liqLinha.classList.add('address');
                    twoSplitField.classList.add('two-split');

                } else {
                    addOption(corSelect, " ", " ");
                    corField.style.display = "none";
                    twoSplitField.classList.remove('two-split');
                }
            }

            function addOption(selectElement, value, text) {
                var option = document.createElement("option");
                option.value = value;
                option.text = text;
                selectElement.appendChild(option);
            }

            function redirectToEdit(idProducao) {
                window.location.href = "/producao/edit?id_producao=" + idProducao;
            }

            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });

            function confirmConcluir(codProducao, checkbox) {
                if (confirm("Você tem certeza que deseja concluir esta programação?")) {
                    window.location.href = "/producao/concl/" + codProducao;
                } else {
                    checkbox.checked = false;
                }
            }

            function filterByDate() {
                const filterDate = document.getElementById('filterDate').value;
                const tables = document.querySelectorAll('.table-overflow');

                tables.forEach(table => {
                    const rows = table.querySelectorAll('tr');
                    rows.forEach(row => {
                        const cells = row.querySelectorAll('td');
                        if (cells.length > 5) {
                            const dataProducao = cells[4].textContent.trim();
                            const isVisible = filterDate === '' || dataProducao === filterDate;

                            row.style.display = isVisible ? 'table-row' : 'none';
                        }
                    });
                });
            }

            function getHoje() {
                const today = new Date();
                document.getElementById('filterDate').value = today.toISOString().split('T')[0];
                filterByDate();
                document.getElementById('filterDate').focus()
            }

            function limpaData() {
                document.getElementById('filterDate').value = "";
                filterByDate();
                document.getElementById('filterDate').focus()
            }

        </script>

        <!-- SUPLEMENTO P/ FILTRO [LB-FILTER] -->
        <script src="{{ url_for('static', filename='js/lb-filter.js') }}"></script>

    {% include 'shared/footer.html' %}