{% extends 'base.j2' %}

{% block title %}Rótulo{% endblock title %}

{% block content %}

    <div class="titles-ruler">

        {% from 'components/title-route.j2' import title_container %}
        {{ title_container(
            id_page=session['id_page'],
            breadcrumbs=[
                {'text': 'OUTROS', 'url': 'home', 'title': 'OUTROS'},
                {'text': 'ROTULO'}
            ],
            aux_buttons=[
                {'type': 'link', 'url': 'supply_losses', 'icon': 'svg/wine-off.svg', 'title': 'PERDAS'},
                {'type': 'link', 'url': 'etiqueta', 'icon': 'svg/sticky-note.svg', 'title': 'ETIQUETA'},
                {'type': 'link', 'url': 'rotulo', 'icon': 'svg/roll.svg', 'title': 'RÓTULO', 'active': True},
                {'type': 'divider'},
                {'type': 'action', 'icon': 'svg/circle-arrow-left.svg', 'title': 'VOLTAR', 'onclick': 'goBack()'}
            ]
        ) }}

    </div>

    <div id="divContent">
        <div draggable="false" style="display: flex; align-items: center;" class="form-login">
            <div class="flex-h">
                <div class="log">
                    <div style="max-width: 400px; justify-content: flex-start; margin: auto">
                        <form style="max-width: 400px; justify-content: flex-start; margin: auto" id="form-field" method="post" action="{{ url_for('rotulo') }}">
                            <div class="two-split">
                                <div>
                                    <label for="diametro_inicial" >Diâmetro (Externo)</label>
                                    <br>
                                    <input 
                                        class="address" 
                                        maxlength="6" 
                                        id="diametro_inicial" 
                                        type="number" 
                                        name="diametro_minimo"  
                                        required placeholder="Diâmetro..."
                                    >
                                </div>
                                <div>
                                    <label for="diametro_minimo">Diâmetro (Interno)</label>
                                    <br>
                                    <input 
                                    class="address" 
                                    maxlength="6" 
                                    id="diametro_minimo" 
                                    type="number" 
                                    name="diametro_minimo"
                                    required 
                                    placeholder="Diâmetro..."
                                >
                                </div>
                            </div>
                            <hr>
                            <div class="two-split">
                                <div>
                                    <label for="espessura_fita">Rótulo (Espessura)</label>
                                    <br>
                                    <input 
                                        class="address" 
                                        maxlength="6" 
                                        name="espessura_fita" 
                                        id="espessura_fita" 
                                        type="number"  
                                        required 
                                        placeholder="Espessura..."
                                    >
                                </div>
                                <div>
                                    <label for="espessura_papelao">Tubete (Espessura)</label>
                                    <br>
                                    <input 
                                        class="address" 
                                        maxlength="6" 
                                        type="number" 
                                        id="espessura_papelao" 
                                        name="espessura_papelao"  
                                        required 
                                        placeholder="Espessura..."
                                    >
                                </div>
                            </div>
                                <div>
                                    <label for="compr_rotulo">Rótulo (Comprimento)</label>
                                    <br>
                                    <input 
                                        type="number" 
                                        maxlength="6" 
                                        id="compr_rotulo" 
                                        name="compr_rotulo" 
                                        required 
                                        placeholder="Distância do início de um rótulo ao início de outro..."
                                    >
                                </div>
                            <hr>
                            <h3 id="resposta1" class="alert">Calculadora</h3>
                            <p id="resposta2">Digite os parâmetros...</p>
                            <div class="hidden split-h">
                                <input class="btn-fancy" type="submit" value="Calcular...">
                            </div>
                        </form>
                    </div>
                </div>
                <div id="tables-container" style="margin: 40px;">
                    <div class="centralizado">
                        <div class="centralizado" style="background-color: var(--main-color); border-radius: 20px; width: 450px; height: 450px;">
                            <img class="side-banner" id="dynamicImage"  style="height: 450px; width: 450px; border-radius: 20px;" src="{{ url_for('static', filename='img/rotulo/rotulo.jpg') }}" alt="">
                        </div>
                    </div>
                    <p id="resposta3" style="font-weight: 500; color: var(--main-color);">Aguardando dados...</p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block route_script %}
    <script src="{{ url_for('static', filename='js/pages/rotulo.js') }}"></script>
    <script>initRotulo("{{ url_for('static', filename='') }}");</script>
{% endblock route_script %}