{% extends 'base.j2' %}

{% block title %}Mapa{% endblock title %}

{% block content %}

    <div style="all: unset; display: flex; min-width: 100%; flex-wrap: wrap; gap: 16px; margin: 0 0 16px 0;">
        <div class="titles-container flex-h title-centerer">
            <h1>
                <a href="{{ url_for('mov') }}">MOV</a>
                <span class="dash">/</span>
                <span>MAPA (ENDEREÇOS)</span>
                <span class="id-page">{{session['id_page']}}</span>
            </h1>
            <div class="aux-buttons">
                <a class="aux-button active">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/stock-map.svg') }}" title="MAPA (ENDEREÇOS)" alt="" onclick="window.location.href='{{ url_for('carga_sep_done', id_carga=0) }}';">
                </a>
                <hr class="vert">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/filter.svg') }}" alt="" title="FILTROS" onclick="toggleFilter()">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="VOLTAR" alt="" onclick="goBack()">
            </div>
        </div>
    </div>

    <div id="divContent" class="flex-wrap">
        <div class="tables-container" style="max-width: 100%; min-width: 55%; padding: 22px;">
            <div id="map-container">
                <div id="map" style="width: fit-content;" class="map-grid">
                </div>
                <div class="map-buttons">
                    <div class="map-button">
                        <img class="svg-inv" src="{{ url_for('static', filename='svg/circle-plus.svg') }}" alt="" title="VOLTAR" onclick="">
                    </div>
                    <div class="map-button">
                        <img class="svg-inv" src="{{ url_for('static', filename='svg/circle-minus.svg') }}" alt="" title="VOLTAR" onclick="">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block route_script %}
    <script src="{{ url_for('static', filename='js/pages/stock-map.js') }}"></script>
{% endblock route_script %}
