{% extends "pages/mov/mov-carga-separacao.html" %}


{% block aux_buttons %}
    <form onsubmit="cargaFormRedirect('separacao-done'); return false;">
        <div class="flex-row" style="margin: 8px 0">
            <input class="address-three" style="margin: 0; height: 14px" type="number" id="cargaInput" min="1" placeholder="Carga...">
            <button type="submit" class="button-mini btn-fancy" style="height: 26px; width: 26px;" title="IR PARA CARGA..." >
                <img class="svg-invert" style="height: 14px; width: 14px;" src="{{ url_for('static', filename='svg/arrow-right.svg') }}" alt="">
            </button>
        </div>
    </form>
    <hr class="vert">
    <img class="svg-gray" src="{{ url_for('static', filename='svg/package-badge.svg') }}" title="PENDENTES" alt="" onclick="window.location.href='{{ url_for('carga_pendente') }}';">
    <img class="svg-gray" src="{{ url_for('static', filename='svg/package-check.svg') }}" title="FATURADOS" alt="" onclick="window.location.href='{{ url_for('faturado') }}';">
    <img class="svg-gray" src="{{ url_for('static', filename='svg/truck.svg') }}" title="SEPARACÃO DE CARGAS" alt="" onclick="window.location.href='{{ url_for('cargas') }}';">
    <hr class="vert">
    <form action="{{ url_for('cargas') }}" method="post">
        <button type="submit" style="all: unset">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/list-restart.svg') }}" title="RECARREGAR LISTA DE CARGAS">
        </button>
    </form>
    <hr class="vert">
    <img class="svg-gray" src="{{ url_for('static', filename='svg/grid-2x2.svg') }}" title="SEPARAÇÃO (PENDENTES)" alt="" onclick="window.location.href='{{ url_for('carga_sep_pend', id_carga=id_carga) }}';">
    <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="VOLTAR" alt="" onclick="goBack()">
{% endblock aux_buttons %}


{% block separation_buttons %}
    <div class="flex-row">
        <div class="button-mini btn-fancy" onclick="reloadTables()" title="RECARREGAR REGISTROS" >
            <img class="svg-invert" src="{{ url_for('static', filename='svg/reload.svg') }}" alt="">
        </div>
    </div>
    <div class="btn-fancy" style="height: 45px; margin: 0" onclick="genCargaReport()">
        <span>GERAR RELATÓRIO</span>
        <img class="svg-invert" style="height: 22px; width: 22px;" src="{{ url_for('static', filename='svg/file-text.svg') }}" alt="">
    </div>
{% endblock separation_buttons %}


{% block all_separation_status %}
    <p style="justify-content: flex-start">Status:<span style="color: green; margin-left: 4px">Finalizados</span></p>
{% endblock all_separation_status %}


{% block script %}
    <script>

        const nroCarga    = '{{ id_carga }}';
        const fantCliente = '{{ fant_cliente }}';
        const obs_carga   = '{{ obs_carga }}';

        function getSeparacao() {
            return new Promise((resolve, reject) => {
                const localStorageData = localStorage.getItem(getStorageKey());
                if (localStorageData) {
                    reject(new Error(304));
                } else {
                    fetch(`/get/load-table-data?filename=${getStorageKey()}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(404);
                            }
                            return response.json();
                        })
                        .then(data => {
                            resolve(data);
                        })
                        .catch(error => {
                            reject(error);
                        });
                }
            });
        }

        
        async function renderItems() {
            const itemsTable = document.getElementById('itemsTable').getElementsByTagName('tbody')[0];
            const statusElements = document.getElementsByClassName('separation_status');
            itemsTable.innerHTML = '';

            try {
                const sepCarga = await getSeparacao();

                // Obter itens da carga
                let itens_carga;
                try {
                    const response = await fetch(`/api/itens_carga?id_carga=${nroCarga}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    });
        
                    if (!response.ok) {
                        throw new Error(`Erro HTTP: ${response.status}`);
                    }
        
                    const result = await response.json();
                    itens_carga = result.itens;
                    console.log('itens_carga:', itens_carga);
                } catch (error) {
                    console.error('Erro ao obter itens_carga:', error);
                    return;
                }
        
                // Agrupar os itens por código de item
                const groupedItems = sepCarga.reduce((acc, item) => {
                    if (!acc[item.cod_item]) {
                        acc[item.cod_item] = [];
                    }
                    acc[item.cod_item].push(item);
                    return acc;
                }, {});

                // Iterar sobre os grupos de itens
                for (const [cod_item, items] of Object.entries(groupedItems)) {
                    let subtotal = 0;

                    for (const [index, item] of items.entries()) {
                        await getSeparadorName(item.user_id);

                        const row = itemsTable.insertRow();
                        row.insertCell(0).textContent = `${item.rua_letra}.${item.rua_numero}`;
                        row.insertCell(1).textContent = item.cod_item;

                        const descCell = row.insertCell(2);
                        row.insertCell(3).textContent = item.lote_item;
                        row.insertCell(4).textContent = item.qtde_sep;

                        subtotal += item.qtde_sep;

                        try {
                            const descricao = await fetchItemDescription(item.cod_item);
                            descCell.style.textWrap = "balance";
                            descCell.textContent = descricao;
                        } catch (error) {
                            console.error('Erro ao obter descrição:', error);
                            descCell.textContent = 'Erro ao obter descrição';
                        }
                    }

                    const qtde_solic = await fetchQtdeSolic(nroCarga, cod_item);
                    const subtotalRow = itemsTable.insertRow();

                    subtotalRow.insertCell(0);
                    subtotalRow.insertCell(1);
                    const cell0 = subtotalRow.insertCell(2);

                    cell0.textContent = cod_item;
                    cell0.style.textAlign = 'right';

                    const cell1 = subtotalRow.insertCell(3);
                    cell1.textContent = 'Subtotal:';
                    subtotalRow.insertCell(4).innerHTML = `<span class="cor-web">${subtotal}</span> / ${qtde_solic}`;
        
                    subtotalRow.classList.add('sub-total');
                }
        
                // Criar linhas de subtotal para itens zerados que não estão em sepCarga
                for (const item of itens_carga) {
                    if (!groupedItems[item]) {
                        const subtotalRow = itemsTable.insertRow();

                        subtotalRow.insertCell(0);
                        subtotalRow.insertCell(1);
                        const cell0 = subtotalRow.insertCell(2);

                        cell0.textContent = item;
                        cell0.style.textAlign = 'right';

                        const cell1 = subtotalRow.insertCell(3);
                        cell1.textContent = 'Subtotal:';

                        const qtde_solic = await fetchQtdeSolic(nroCarga, item);
                        subtotalRow.insertCell(4).innerHTML = '<span class="cor-web">0</span> / ' + qtde_solic;

                        subtotalRow.classList.add('sub-total');
                    }
                }

            } catch (error) {
                const alert = document.getElementById('alert-message');
                const content = document.getElementById('contentTable');

                let errorMessage = `<div class="msg-error">Erro: ${error.message}</div>`;

                if (error.message == 304) {
                    errorMessage = `<div class="msg-info">
                                        <details>
                                            <summary>Há uma separação pendente neste código!</summary>
                                            Para visualizá-la, filtre por 'pendentes' clicando no ícone <img class="svg msg-svg" src="{{ url_for('static', filename='svg/grid-2x2.svg') }}"> acima.
                                        </details>
                                    </div>`;
                    Array.from(statusElements).forEach(element => {
                        element.innerHTML = "<span style='color: var(--cor-destaque)'>Pendente</span>";
                    });
                } else if (error.message == 404) {
                    errorMessage = `<div class="msg-error">
                                        <details>
                                            <summary>Nenhuma separação pendente ou iniciada neste código!</summary>
                                            Inicie a <a class="hyperlink" style="font-size: unset" href="/mov/carga">separação da carga</a> para realizar o faturamento.
                                        </details>
                                    </div>`;
                }

                alert.innerHTML = errorMessage;
                alert.classList.toggle('hidden');
                content.classList.add('hidden');
            }
        }


        function reloadTables() {
            renderItems();
            renderCartSubtotals();
            listSeparationsFromServer('separacao-done');
        }

        
        document.addEventListener('DOMContentLoaded', () => {
            reloadTables();
        });
        
    </script>
{% endblock script %}