<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Separação {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | TRANSLÉGUA</title>
    <link rel="icon" href="{{ url_for('static', filename='hp-logo-only.svg') }}" type="image/x-icon">

    {% include 'shared/header/tl-header.html' %}
    <div class="titles-container flex-row title-centerer">
        <h1>SEPARAÇÃO<span class="id-page">{{session['id_page']}}</span></h1>
        <div class="aux-buttons">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/grid-2x2.svg') }}" title="SEPARAÇÃO (PENDENTES)" alt="" onclick="window.location.href='{{ url_for('carga_sep', id_carga=id_carga) }}';">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/package-check.svg') }}" title="FATURADOS" alt="" onclick="window.location.href='{{ url_for('faturado') }}';">
            <hr class="vert">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="VOLTAR" alt="" onclick="goBack()">
        </div>
    </div>
    <div class="flex-row" style="min-width: 100%;">
        <div class="tables-container" style="min-width: 40vw;">
            <h1>Número de Carga <span class="cor-web">[{{ id_carga }}]</span></h1>
            <p style="justify-content: flex-start">Status:<span style="color: var(--cor-cde); margin-left: 4px">Finalizada</span></p>
            <div class="msg-error hidden" id="alert-message"></div>
            <div id="contentTable">
                <table id="itemsTable">
                    <thead>
                        <tr>
                            <th>Carga (Código)</th>
                            <th>Usuário</th>
                            <th>Endereço</th>
                            <th>Item (Código)</th>
                            <th>Lote (Código)</th>
                            <th>QTDE (Separado)</th>
                        </tr>
                    </thead>
                        <!-- execute renderItems(); -->
                    <tbody>
                    </tbody>
                </table>
                <div class="flex-row" style="margin: 8px 0">
                    <div class="flex-row">
                        <div class="button-mini btn-fancy" onclick="reloadTables()" title="RECARREGAR REGISTROS" >
                            <img class="svg-invert" src="{{ url_for('static', filename='svg/reload.svg') }}" alt="">
                        </div>
                        <div class="button-mini btn-fancy" onclick="generatePDF()" title="GERAR PDF" >
                            <img class="svg-invert" src="{{ url_for('static', filename='svg/file-text.svg') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tables-container" style="max-width: 20vw;">
            <h1>Subtotal</h1>
            <p style="justify-content: flex-start">Separação por Item</p>
            <table id="subtotalsTable">
                <thead>
                    <tr>
                        <th>Item (Código)</th>
                        <th>Subtotal (QTDE)</th>
                    </tr>
                </thead>
                    <!-- execute renderSubtotals(); -->
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="tables-container" style="max-width: 20vw">
            <h1>Separações</h1>
            <p style="justify-content: flex-start">Status:<span style="color: var(--cor-cde); margin-left: 4px">Finalizada</span></p>
            <table id="allSeparationsTable">
                <thead>
                    <tr>
                        <th>Concluídos (em Cache)</th>
                    </tr>
                </thead>
                    <!-- execute listAllSeparations(); -->
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    

    <script>
        const nroCarga = '{{ id_carga }}';

        function getStorageKey() {
            return `separacao-carga-${nroCarga}`;
        }

        function getSeparacao() {
            return new Promise((resolve, reject) => {
                const localStorageData = localStorage.getItem(getStorageKey());
        
                if (localStorageData) {
                    reject(new Error('Há separação pendente neste código.'));
                } else {
                    fetch(`/load-table-data?filename=${getStorageKey()}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Erro ao carregar dados do servidor');
                            }
                            return response.json();
                        })
                        .then(data => {
                            resolve(data);
                        })
                        .catch(error => {
                            console.error('Erro ao carregar dados do servidor:', error);
                            reject(error);
                        });
                }
            });
        }

        function renderItems() {
            const itemsTable = document.getElementById('itemsTable').getElementsByTagName('tbody')[0];
            itemsTable.innerHTML = '';
            getSeparacao().then(sepCarga => {

                console.log(sepCarga)

                sepCarga.forEach((item, index) => {
                    const row = itemsTable.insertRow();
                    row.insertCell(0).textContent = item.nrocarga;
                    row.insertCell(1).textContent = item.user_id;
                    row.insertCell(2).textContent = item.rua_letra + '.' + item.rua_numero;
                    row.insertCell(3).textContent = item.cod_item;
                    row.insertCell(4).textContent = item.lote_item;
                    row.insertCell(5).textContent = item.qtde_sep;
                });
            })
            .catch(error => {
                console.error('Erro ao obter separação:', error);

                const alert = document.getElementById('alert-message')
                const content = document.getElementById('contentTable')

                alert.textContent = error.message;
                alert.classList.toggle('hidden');
                content.classList.add('hidden');
            });
        }

        function renderSubtotals() {
            const subtotalsTable = document.getElementById('subtotalsTable').getElementsByTagName('tbody')[0];
            subtotalsTable.innerHTML = '';
        
            getSeparacao().then(sepCarga => {        
                let subtotals = {};
        
                sepCarga.forEach(item => {
                    if (subtotals[item.cod_item]) {
                        subtotals[item.cod_item] += item.qtde_sep;
                    } else {
                        subtotals[item.cod_item] = item.qtde_sep;
                    }
                });
        
                console.log('subtotals:', subtotals);
        
                for (const [cod_item, subtotal] of Object.entries(subtotals)) {
                    const row = subtotalsTable.insertRow();
                    row.insertCell(0).textContent = cod_item;
                    row.insertCell(1).textContent = subtotal;
                }
            }).catch(error => {
                console.error('Erro ao obter separação:', error);
            });
        }

        function listAllSeparationsLocally() {
            fetch('/list-all-separations')
                .then(response => response.json())
                .then(files => {
                    const tableBody = document.getElementById('allSeparationsTable').getElementsByTagName('tbody')[0];
                    tableBody.innerHTML = ''; // Limpa o corpo da tabela

                    if (files.error) {
                        const row = tableBody.insertRow();
                        const cell = row.insertCell(0);
                        cell.colSpan = 1;
                        cell.textContent = files.error;
                    } else {
                        files.forEach(file => {
                            const row = tableBody.insertRow();
                            const cell = row.insertCell(0);
                            cell.textContent = file;
                        });
                    }
                })
                .catch(error => {
                    console.error('Erro ao carregar dados do servidor:', error);
                });
        }

        function reloadTables() {
            renderItems();
            renderSubtotals();
            listAllSeparationsLocally();
        }

        document.addEventListener('DOMContentLoaded', () => {
            reloadTables();
        });
    </script>

    {% include 'shared/footer.html' %}