<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Carga {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | TRANSLÉGUA</title>
        <link rel="icon" href="{{ url_for('static', filename='hp-logo-only.svg') }}" type="image/x-icon">

        {% include 'shared/header/tl-header.html' %}
        {% if id_carga %}
            <div class="tables-container" style="max-width: 50%">
                <h1>Itens da Carga <span class="cor-web">{{ id_carga }}</span>:</h1>
                <div style="max-height: 600px; overflow-y: auto;">
                    <table>
                        <thead>
                            <tr>
                                <th>Pedido SEQ</th>
                                <th>Item (Código)</th>
                                <th>Item (Descrição)</th>
                                <th>QTDE (Solicitada)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set items = [] %}
                            {% set subtotals = {} %}
                            
                            {% for row in result %}
                                {% set cod_item = row[columns.index('COD_ITEM')] %}
                                {% set qtde_solic = row[columns.index('QTDE_SOLIC')] %}
                                {% set subtotal = subtotals.get(cod_item, 0) + qtde_solic %}
                                {% set subtotals = subtotals.update({cod_item: subtotal}) or subtotals %}
                                {% set items = items.append(row) or items %}
                            {% endfor %}
                            
                            {% for cod_item, subtotal in subtotals.items() %}
                                {% for row in items %}
                                    {% if row[columns.index('COD_ITEM')] == cod_item %}
                                        <tr>
                                            <td>{{ row[columns.index('NROPED_SEQ')] }}</td>
                                            <td>{{ row[columns.index('COD_ITEM')] }}</td>
                                            <td style="text-wrap: balance;">{{ row[columns.index('DESC_ITEM')] }}</td>
                                            <td>{{ row[columns.index('QTDE_SOLIC')] }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                <tr class="selectable-row sub-total" onclick="sendCodItem('{{ cod_item }}', '{{ id_carga }}', '{{ subtotal }}')">
                                    <td colspan="3" style="text-align: right;">{{ cod_item }}</td>
                                    <td>{{ subtotal }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        {% if 'privilegio' in session %}
            {% if id_carga %}
                {% if cod_item %}
                    <div class="tables-container" style="max-width: 40%">
                        <span style="display:space-between: width: 100%;">
                            <h1>Item <span class="cor-web">{{ cod_item }}</span> em Estoque:</h1>
                        </span>
                        {% if result %}
                            <table>
                                {% if result_local %}
                                    <thead>
                                        <tr>
                                            <th>Endereço</th>
                                            <th>Produto (Código)</th>
                                            <th>Lote (Código)</th>
                                            <th>QTDE (Efetiva)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in result_local %}
                                        <!--
                                            <tr class="selectable-row" onclick="addItem(
                                                '{{ id_carga }}', '{{ cod_item }}',
                                                '{{ row[columns_local.index('lote_item')] }}',
                                                '{{ row[columns_local.index('rua_letra')] }}',
                                                '{{ row[columns_local.index('rua_numero')] }}',
                                                '{{ qtde_solic }}',
                                                '{{ session['user_id'] }}'
                                            )">
                                        -->
                                            <tr class="selectable-row" onclick="pushItemIntoSeparacao({{ row[columns_local.index('saldo')] }})">
                                                <td>{{ row[columns_local.index('rua_letra')] }}.{{ row[columns_local.index('rua_numero')] }}</td>
                                                <td>{{ row[columns_local.index('cod_item')] }}</td>
                                                <td>{{ row[columns_local.index('lote_item')] }}</td>
                                                <td>{{ row[columns_local.index('saldo')] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <div id="inputContainer" class="hidden"></div>
                                {% else %}
                                    <div class="msg-error">
                                        <details><summary>Não há saldo disponível para este item!</summary>
                                            Atualmente, não existe saldo suficiente para suprir esta carga.
                                        </details>
                                    </div>
                                {% endif %}
                            </table>
                        {% endif %}
                        <br>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        
        <form id="cod_item_form" method="GET" action="">
            <input type="hidden" id="cod_item_input" name="cod_item">
            <input type="hidden" id="carga_id_input" name="carga_id">
            <input type="hidden" id="qtde_item_input" name="qtde_solic">
        </form>
        {% if 'privilegio' in session %}
            {% if id_carga %}
                <div style="display: flex; flex-direction: column; gap: 6px">
                    <a class="button-mini btn-fancy" style="margin: 0" onclick="window.location.href='{{ url_for('cargas') }}';" title="LIMPAR">
                        <img class="svg-invert" src="{{ url_for('static', filename='svg/eraser.svg') }}" alt="">
                    </a>
                    <a class="button-mini btn-fancy" style="margin: 0" onclick="goBack()" title="VOLTAR">
                        <img class="svg-invert" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" ">
                    </a>
                </div>
            {% else %}
                <div class="tables-mobile" >
                    <div class="split-horizontal">
                        <h1>Cargas à Faturar <span class="id-page">{{session['id_page']}}</span></h1>
                        <div class="aux-buttons">
                            <form action="{{ url_for('cargas') }}" method="post">
                                <button type="submit" style="all: unset">
                                    <img class="svg-gray" src="{{ url_for('static', filename='svg/list-restart.svg') }}" title="RECARREGAR LISTA DE CARGAS">
                                </button>
                            </form>
                            <hr class="vert">
                            <img class="svg-gray" src="{{ url_for('static', filename='svg/filter.svg') }}" title="FILTROS" onclick="toggleFilter()">
                            <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="VOLTAR" onclick="goBack()">
                        </div>
                    </div>
                    {% if alert %}
                        {% if class_alert == 'error' %}
                            <div class="msg-error">
                                <details><summary>A lista não pôde ser carregada!</summary>
                                    {{ alert | safe }}
                                </details>
                            </div>
                        {% elif class_alert == 'success' %}
                            <div class="msg-success">
                                <details><summary>A lista foi carregada com sucesso!</summary>
                                    {{ alert | safe }}
                                </details>
                            </div>
                            <h1 class="subtitle">Selecione uma carga:</h1>
                        {% endif %}
                    {% else %}
                        <div class="msg-info">
                            <details><summary>Carregue a lista para obter as cargas à serem faturadas.</summary>
                                A atualização é solicitada no ícone <img class="svg" style="opacity: 0.7; height: 16px; width: 16px; padding: 0; padding-left: 4px;" src="{{ url_for('static', filename='svg/list-restart.svg') }}">, acima.
                            </details>
                        </div>
                        
                    {% endif %}
                    <div style="max-height: 440px; overflow-y: auto; width: 100%;">
                        {% if result %}
                            <table>
                                <thead>
                                    <tr>
                                        <th>Carga (Código)</th>
                                        <th>Pedido (Código)</th>
                                        <th>Cliente (Código)</th>
                                        <th>Cliente (Descrição)</th>
                                        <th>Emissão (Data)</th>
                                        <th>Entrega (Data)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in result %}
                                        <tr class="selectable-row js_boot" data-id="{{ row[columns.index('NRO_CARGA')] }}">
                                            <td>{{ row[columns.index('NRO_CARGA')] }}</td>
                                            <td>{{ row[columns.index('NRO_PEDIDO')] }}</td>
                                            <td>{{ row[columns.index('COD_CLIENTE')] }}</td>
                                            <td style="text-wrap: balance;">{{ row[columns.index('FANT_CLIENTE')] }}</td>
                                            <td>{{ row[columns.index('DT_EMISSAO')] }}</td>
                                            <td>{{ row[columns.index('DT_ENTREGA')] }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                    <br>    
                </div>
            {% endif %}
        {% endif %}
    </div>

        <script>
                     
            const nroCarga = '{{ id_carga }}';

            function getStorageKey() {
                return `separacao-carga-${nroCarga}`;
            }

            function addItem(nrocarga, cod_item, lote_item, rua_letra, rua_numero, qtde_solic, user_id) {
                let sepCarga = JSON.parse(localStorage.getItem(getStorageKey())) || [];
                let item = { nrocarga, cod_item, lote_item, rua_letra, rua_numero, qtde_solic, user_id };
                sepCarga.push(item);
                localStorage.setItem(getStorageKey(), JSON.stringify(sepCarga));
                
            }

            function getSeparacao() {
                return JSON.parse(localStorage.getItem(getStorageKey())) || [];
            }

            function clearItems() {
                localStorage.removeItem(getStorageKey());
            }



            document.addEventListener('DOMContentLoaded', function() {
                var rows = document.querySelectorAll('.js_boot');
                rows.forEach(function(row) {
                    row.addEventListener('click', function() {
                        var idCarga = this.getAttribute('data-id');
                        window.location.href = '/mov/carga/' + idCarga;
                    });
                });
            });

            function sendCodItem(cod_item, carga_id, qtde_solic) {
                document.getElementById('cod_item_input').value = cod_item;
                document.getElementById('carga_id_input').value = carga_id;
                document.getElementById('qtde_item_input').value = qtde_solic;
                var form = document.getElementById('cod_item_form');
                form.action = '/mov/carga/' + carga_id;
                form.submit();
            }


            function pushItemIntoSeparacao(maxQuantity) {
                const inputContainer = document.getElementById('inputContainer');
                
                inputContainer.innerHTML = '';

                const label = document.createElement('label');
                label.setAttribute('for', 'quantityInput');
                label.textContent = 'Quantidade:';

                const quantityInput = document.createElement('input');
                quantityInput.type = 'number';
                quantityInput.id = 'quantityInput';
                quantityInput.min = 1;
                quantityInput.max = maxQuantity;

                const submitBtn = document.createElement('button');
                submitBtn.id = 'submitBtn';
                submitBtn.textContent = 'Enviar';

                inputContainer.appendChild(label);
                inputContainer.appendChild(quantityInput);
                inputContainer.appendChild(submitBtn);

                inputContainer.classList.remove('hidden');

                submitBtn.addEventListener('click', function() {
                    const value = quantityInput.value;
                    if (value > maxQuantity) {
                        alert(`A quantidade máxima é ${maxQuantity}.`);
                    } else {
                        alert(`Você inseriu: ${value}`);
                        inputContainer.classList.add('hidden');
                    }
                });
            }

        </script>

        {% include 'shared/footer.html' %}