<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Histórico {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | LOGÍSTICA</title>
        <link rel="icon" href="{{ url_for('static', filename='tl-logo-only.svg') }}" type="image/x-icon">

        {% include 'shared/header/tl-header.html' %}
        <div style="all: unset; display: flex; min-width: 100%; flex-wrap: wrap; gap: 16px; margin: 0 0 16px 0;">
            <div class="titles-container flex-h title-centerer">
            <h1>
                <a class="id-page filled" href="{{ url_for('home') }}">CDE</a>
                <span style="margin: 0 8px;"></span>
                <a href="{{ url_for('home_logi') }}"title="LOGISTICA">LOGI</a>
                <span class="dash">/</span>
                <a href="{{ url_for('mov') }}">MOV</a>
                <span class="dash">/</span>
                <span>HISTÓRICO</span>
                <span class="id-page">{{session['id_page']}}</span>
            </h1>
            <div class="aux-buttons">
                <a class="aux-button {% if request.endpoint == 'mov' %}active{% endif %}">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/arrow-up-down.svg') }}" title="MOVIMENTAR" alt="" onclick="window.location.href='{{ url_for('mov') }}';">
                </a>
                <a class="aux-button {% if request.endpoint == 'estoque' %}active{% endif %}">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/boxes.svg') }}" title="ESTOQUE" alt="" onclick="window.location.href='{{ url_for('estoque') }}';">
                </a>
                    <a class="aux-button {% if request.endpoint == 'historico' %}active{% endif %}">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/history.svg') }}" title="HISTÓRICO" alt="" onclick="window.location.href='{{ url_for('historico') }}';">
                </a>
                <hr class="vert">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/filter.svg') }}" alt="" title="FILTROS" onclick="toggleFilter()">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="VOLTAR" alt="" onclick="goBack()">
            </div>
        </div>
        <div id="filterBreak" style="justify-content: flex-end">
            <div id="table-filter" style="display: none;">
                <form style="display: flex; flex-direction: row" id="search-all" method="post" action="/logi/mov/historico/search">
                    <input type="text" class="filterInput address" id="filterInput" name="search_term" oninput="filterTable()" placeholder="Filtrar por...">
                    <select class="address" id="filterSelect" name="search_index" onchange="updateFilterIndex()">
                        <option value="cod_item"  >Item (Código)</option>
                        <option value="desc_item" >Item (Descrição)</option>
                        <option value="address"   >Endereço</option>
                        <option value="operacao"  >Operação (Descrição)</option>
                        <option value="quantidade">Quantidade</option>
                        <option value="cod_lote"  >Lote (Código)</option>
                        <option value="user_name" >Usuário (Nome)</option>
                        <option value="timestamp" >Horário (Data/Hora)</option>
                    </select>
                    <input class="btn-fancy" style="width: 42px; height: 42px; margin-left: 4px; padding: 8px" type="image" src="{{ url_for('static', filename='svg/search.svg') }}" alt="">
                </form>
            </div>
        </div>
        </div>
        <div id="divContent">
            <div class="mobile-container">
                <div style="justify-content: flex-end">
                {% if search_term %}
                <div class="split-h">
                    <h1 style="font-size: 22px">Critério de pesquisa: <span class="text-main-color">"{{ search_term }}"</span> em <span class="text-main-color">{{ search_row_text }}</span>.</h1>
                    <a class="button-mini btn-fancy" style="margin: 0" onclick="window.location.href='{{ url_for('historico') }}';" title="Limpar">
                        <img class="svg-invert" src="{{ url_for('static', filename='svg/eraser.svg') }}" alt="">
                    </a>
                </div>
                {% endif %}
            </div>
            <div style="max-height: 800px;">
                <table id="filterTable">
                    <tr>
                        <th>Endereço</th>
                        <th>Operação</th>
                        <th>Item (Código)</th>
                        <th>Item (Descrição)</th>
                        <th>Lote</th>
                        <th>Quantidade</th>
                        <th>Usuário</th>
                        <th>Horário</th>
                    </tr>
                    {% if estoque %}
                        {% for item in estoque %}
                        <tr>
                            <td>{{ item['address'] }}</td>
                            <td style="text-align: center">{{ item['operacao'] }}</td>  
                            <td style="text-align: right">{{ item['cod_item'] }}</td>
                            <td>{{ item['desc_item'] }}</td>
                            <td>{{ item['cod_lote'] }}</td>
                            <td style="text-align: right">{{ item['quantidade'] }}</td>
                            <td>{{ item['user_name'] }}</td>
                            <td style="text-align: right">{{ item['timestamp'] }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td class="c" colspan="8">Nenhum resultado encontrado.</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div class="pagination">
                {% if page > 1 %}
                <a href="{{ url_for('historico', page=page-1) }}">&laquo; Anterior</a>
                {% endif %}
            
                {% if page > 3 %}
                <a href="{{ url_for('historico', page=1) }}">1</a>
                <span>...</span>
                {% endif %}
            
                {% for p in range(max(1, page-2), min(total_pages+1, page+3)) %}
                    <a href="{{ url_for('historico', page=p) }}" class="{% if p == page %}active{% endif %}">{{ p }}</a>
                {% endfor %}
            
                {% if page < total_pages - 2 %}
                <span>...</span>
                <a href="{{ url_for('historico', page=total_pages) }}">{{ total_pages }}</a>
                {% endif %}
            
                {% if page < total_pages %}
                <a href="{{ url_for('historico', page=page+1) }}">Próximo &raquo;</a>
                {% endif %}
            </div>
            {% if row_count %}
                <p>{{ row_count }} registros |<a style="font-size: unset; margin-left: 5px" href="{{ url_for('export_csv_type', type='historico') }}">Exportar (CSV)</a></p>
            {% endif %}
        </div>
    </div>

        {% include 'shared/footer.html' %}