<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Separação {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | TRANSLÉGUA</title>
    <link rel="icon" href="{{ url_for('static', filename='hp-logo-only.svg') }}" type="image/x-icon">

    {% include 'shared/header/tl-header.html' %}
    <div class="titles-container flex-row title-centerer">
        <h1>SEPARAÇÃO<span class="id-page">{{session['id_page']}}</span></h1>
        <div class="aux-buttons">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/grid-2x2-check.svg') }}" title="SEPARAÇÃO (CONCLUÍDOS)" alt="" onclick="window.location.href='{{ url_for('carga_done', id_carga=id_carga) }}';">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/package-check.svg') }}" title="FATURADOS" alt="" onclick="window.location.href='{{ url_for('faturado') }}';">
            <hr class="vert">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="VOLTAR" alt="" onclick="goBack()">
        </div>
    </div>
    <div class="flex-row" style="min-width: 100%;">
        <div class="tables-container" style="min-width: 40vw;">
            <h1>Número de Carga <span class="cor-web">[{{ id_carga }}]</span></h1>
            <p style="justify-content: flex-start">Status:<span style="color: var(--cor-tl); margin-left: 4px">Pendente</span></p>
            <div class="msg-error hidden" id="alert-message"></div>
            <div id="contentTable">
                <table id="itemsTable">
                    <thead>
                        <tr>
                            <th>Endereço</th>
                            <th>Item (Código)</th>
                            <th>Item (Descrição)</th>
                            <th>Lote (Código)</th>
                            <th>QTDE (Separado)</th>
                        </tr>
                    </thead>
                        <!-- execute renderItems(); -->
                    <tbody>
                    </tbody>
                </table>
                <div class="flex-row" style="margin: 8px 0">
                    <div class="flex-row">
                        <div class="button-mini btn-fancy" onclick="clearItems()" title="APAGAR ITENS DA SEPARAÇÃO">
                            <img class="svg-invert" src="{{ url_for('static', filename='svg/eraser.svg') }}" alt="">
                        </div>
                        <div class="button-mini btn-fancy" onclick="reloadTables()" title="RECARREGAR REGISTROS" >
                            <img class="svg-invert" src="{{ url_for('static', filename='svg/reload.svg') }}" alt="">
                        </div>
                        <div class="button-mini btn-fancy" onclick="generatePDF()" title="GERAR PDF" >
                            <img class="svg-invert" src="{{ url_for('static', filename='svg/file-text.svg') }}" alt="">
                        </div>
                    </div>
                    <div class="btn-fancy" style="height: 45px; margin: 0" onclick="bulkInsertHistorico()">
                        <span>FINALIZAR</span>
                        <img class="svg-invert" style="height: 22px; width: 22px;" src="{{ url_for('static', filename='svg/circle-check-big.svg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="tables-container" style="max-width: 20vw">
            <h1>Subtotal</h1>
            <p style="justify-content: flex-start">Separação por Item</p>
            <table id="subtotalsTable">
                <thead>
                    <tr>
                        <th>Item (Código)</th>
                        <th>Subtotal (QTDE)</th>
                    </tr>
                </thead>
                    <!-- execute renderSubtotals(); -->
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="tables-container" style="max-width: 20vw">
            <h1>Separações</h1>
            <p style="justify-content: flex-start">Status:<span style="color: var(--cor-tl); margin-left: 4px">Pendente</span></p>
            <table id="allSeparationsTable">
                <thead>
                    <tr>
                        <th>Chaves em localStorage</th>
                    </tr>
                </thead>
                    <!-- execute listAllSeparations(); -->
                <tbody>
                </tbody>
            </table>
            <div style="margin: 8px 0" class="flex-row">
                <div class="button-mini btn-fancy" onclick="clearAllSeparations()" title="APAGAR TODAS AS SEPARAÇÕES">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/trash.svg') }}" alt="">
                </div>
            </div>
        </div>
    </div>

    <script>
        const nroCarga = '{{ id_carga }}';

        function getStorageKey() {
            return `separacao-carga-${nroCarga}`;
        }

        function getSeparacao() {
            return new Promise((resolve, reject) => {
                const localStorageData = localStorage.getItem(getStorageKey());
                if (localStorageData) {
                    resolve(JSON.parse(localStorageData));
                } else {
                    fetch(`/load-table-data?filename=${getStorageKey()}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Erro ao carregar dados do servidor');
                            }
                            return response.json();
                        })
                        .then(data => {
                            reject(new Error('A carga selecionada já foi finalizada.'));
                        })
                        .catch(error => {
                            reject(new Error('Nenhuma carga pendente ou iniciada neste código.'));
                        });
                }
            });
        }

        function removeItem(index) {
            const confirmation = confirm('Você tem certeza que deseja remover este item?');
            if (confirmation) {
                let sepCarga = JSON.parse(localStorage.getItem(getStorageKey())) || [];
                sepCarga.splice(index, 1);
                localStorage.setItem(getStorageKey(), JSON.stringify(sepCarga));
                renderItems();
            }
        }

        function clearItems() {
            const confirmation = confirm(`Você tem certeza que deseja limpar a separacao de ${nroCarga}?`);
            if (confirmation) {
                localStorage.removeItem(getStorageKey());
                renderItems();
            }
        }

        function updateQuantity(index, newQuantity) {
            let sepCarga = JSON.parse(localStorage.getItem(getStorageKey())) || [];
            sepCarga[index].qtde_sep = newQuantity;
            localStorage.setItem(getStorageKey(), JSON.stringify(sepCarga));
            renderItems();
        }

        function renderItems() {
            const itemsTable = document.getElementById('itemsTable').getElementsByTagName('tbody')[0];
            itemsTable.innerHTML = '';
            getSeparacao().then(async sepCarga => { // Use async para poder usar await dentro do forEach
        
                for (let index = 0; index < sepCarga.length; index++) {
                    const item = sepCarga[index];
                    const row = itemsTable.insertRow();
                    
                    row.insertCell(0).textContent = `${item.rua_letra}.${item.rua_numero}`;
                    row.insertCell(1).textContent = item.cod_item;
                    const descCell = row.insertCell(2);
                    row.insertCell(3).textContent = item.lote_item;
                    row.insertCell(4).textContent = item.qtde_sep;
        
        
                    try {
                        const descricao = await fetchItemDescription(item.cod_item);
                        descCell.textContent = descricao;
                    } catch (error) {
                        console.error('Erro ao obter descrição:', error);
                        descCell.textContent = 'Erro ao obter descrição';
                    }
        
                    const actionsDiv = document.createElement('div');
                    actionsDiv.classList.add('action-buttons');
        
                    const removeBtn = document.createElement('div');
                    removeBtn.innerHTML = '<img class="svg-gray" style="height: 16px; width: 16px; padding: 4px;" src="{{ url_for('static', filename='svg/trash.svg') }}" alt="">';
                    removeBtn.title = `REMOVER DE ${item.cod_item}`;
                    removeBtn.onclick = () => removeItem(index);
                    actionsDiv.appendChild(removeBtn);
        
                    row.appendChild(actionsDiv);
                }
            })
            .catch(error => {
                console.error('Erro ao obter separação:', error);
        
                const alert = document.getElementById('alert-message')
                const content = document.getElementById('contentTable')
        
                alert.textContent = error.message;
                alert.classList.toggle('hidden');
                content.classList.add('hidden');
            });
        }

        function renderSubtotals() {
            const subtotalsTable = document.getElementById('subtotalsTable').getElementsByTagName('tbody')[0];
            subtotalsTable.innerHTML = '';
        
            getSeparacao().then(sepCarga => {        
                let subtotals = {};
        
                sepCarga.forEach(item => {
                    if (subtotals[item.cod_item]) {
                        subtotals[item.cod_item] += item.qtde_sep;
                    } else {
                        subtotals[item.cod_item] = item.qtde_sep;
                    }
                });
        
                for (const [cod_item, subtotal] of Object.entries(subtotals)) {
                    const row = subtotalsTable.insertRow();
                    row.insertCell(0).textContent = cod_item;
                    row.insertCell(1).textContent = subtotal;
                }
            }).catch(error => {
                console.error('Erro ao obter separação:', error);
            });
        }

        function clearAllSeparations() {
            const confirmation = confirm('Você tem certeza que deseja limpar TODAS as separações? Esta ação não pode ser desfeita.');
            if (confirmation) {
                if (!verifyCaptcha()) {
                    alert('O captcha foi cancelado ou preenchido incorretamente.')
                } else {
                    for (let i = localStorage.length - 1; i >= 0; i--) {
                        const key = localStorage.key(i);
                        if (key.startsWith('separacao-carga-')) {
                            localStorage.removeItem(key);
                        }
                    }
                    reloadTables()
                    alert('Operação concluída.')
                }
            }
        }

        function bulkInsertHistorico() {
            const confirmation = confirm(`[CARGA: ${nroCarga}] Você tem certeza que deseja finalizar a separação?`);
            if (confirmation) {
                const storageKey = getStorageKey();
                const sepCarga = JSON.parse(localStorage.getItem(storageKey)) || [];
                
                if (sepCarga.length === 0) {
                    alert('Não há dados para enviar.');
                    return;
                }
            
                fetch('/bulk_insert_historico', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(sepCarga),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Movimentação em massa realizada com sucesso.');
                        getSeparacao().then(separacao => {
                            sendToServer(separacao, getStorageKey())
                        })
                        localStorage.removeItem(storageKey); // limpa a separacao atual
                    } else {
                        alert(`Erro ao realizar movimentação em massa:\n${data.error}`);
                    }
                })
                .catch(error => {
                    console.error('Erro:', error);
                    alert(`Erro ao realizar movimentação em massa: ${error.message}`);
                });
            } 
        }

        function listAllSeparations() {
            const allSeparationsTable = document.getElementById('allSeparationsTable').getElementsByTagName('tbody')[0];
            allSeparationsTable.innerHTML = '';

            for (let i = 0; i < localStorage.length; i++) {
                const key = localStorage.key(i);
                if (key.startsWith('separacao-carga-')) {
                    const row = allSeparationsTable.insertRow();
                    row.insertCell(0).textContent = key;
                }
            }
        }

        function sendToServer(data, filename) {
            const payload = {
                data: data,
                filename: filename
            };
        
            fetch('/save-localstorage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(payload),
            })
            .then(response => response.json())
            .then(result => {
                console.log('Dados enviados com sucesso:', result);
            })
            .catch(error => {
                console.error('Erro ao enviar dados para o servidor:', error);
            });
        }

        function reloadTables() {
            listAllSeparations();
            renderItems();
            renderSubtotals();
        }

        document.addEventListener('DOMContentLoaded', () => {
            reloadTables();
        });
    </script>

    {% include 'shared/footer.html' %}