<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Faturado {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | TRANS LÉGUA</title>
        <link rel="icon" href="{{ url_for('static', filename='tl-logo-only.svg') }}" type="image/x-icon">

        {% include "shared/header/tl-header.html" %}

        <div class="titles-container flex-row title-centerer">
            <h1>
                <a href="{{ url_for('mov') }}">MOV</a>
                <span class="dash">/</span>
                <span>FATURADO</span>
                <span class="id-page">{{session['id_page']}}</span>
            </h1>
            <div class="aux-buttons">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/boxes.svg') }}" title="ESTOQUE" alt="" onclick="window.location.href='{{ url_for('estoque') }}';">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/history.svg') }}" title="HISTÓRICO" alt="" onclick="window.location.href='{{ url_for('historico') }}';">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/truck.svg') }}" title="SEPARACÃO DE CARGAS" alt="" onclick="window.location.href='{{ url_for('cargas') }}';">
                <hr class="vert">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/grid-2x2-check.svg') }}" title="SEPARAÇÃO (CONCLUÍDOS)" alt="" onclick="window.location.href='{{ url_for('carga_sep_done', id_carga=0) }}';">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="VOLTAR" alt="" onclick="goBack()">
            </div>
        </div>
        <div style="justify-content: flex-end">
            <div id="table-filter" style="display: none" >
                <input type="text" class="filterInput address" id="filterInput" oninput="filterTable()" placeholder="Filtrar por...">
                <select class="address" id="filterSelect" onchange="updateFilterIndex()">
                    <option value=0>Carga (Código)</option>
                    <option value=2>Item (Código)</option>
                    <option value=3>Item (Descrição)</option>
                    <option value=1>Endereço (Letra)</option>
                    <option value=4>Lote (Código)</option>
                </select>
            </div>
        </div>
        <div class="flex-row" style="min-width: 100%;">
            <div class="tables-container" id="tables-cont">
                <div class="table-overflow">
                    <table id="filterTable">
                        <tr>
                            <th>Carga (Código)</th>
                            <th>Endereço</th>
                            <th>Item (Código)</th>
                            <th>Item (Descrição)</th>
                            <th>Lote</th>
                            <th>QTDE (Efetiva)</th>
                        </tr>
                        {% for item in saldo_atual %}
                        <tr>
                            <td>{{ item['id_carga'] }}</td>
                            <td>{{ item['letra'] }}.{{ item['numero'] }} </td>
                            <td>{{ item['cod_item'] }}</td>
                            <td>{{ item['desc_item'] }}</td>
                            <td>{{ item['cod_lote'] }}</td>
                            <td>{{ item['saldo'] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <a href="{{ url_for('export_csv_tipo', tipo='faturado') }}">
                    Baixar tabela...
                </a>
            </div>
        </div>
        <script>

            $("#formBuscarItens").submit(function(event) {
                event.preventDefault();
                buscarItens();
            });

            function buscarItens() {
                var codigo = $("#input_code").val();

                $.ajax({
                    type: "POST",
                    url: "/get/item",
                    data: { input_code: codigo },
                    success: function(response) {

                        $("#desc_item").val(response.json_desc_item);
                        $("#input_code").val("");
                        $("#cod_item").empty();

                        if (response.json_cod_item.length > 1) {
                            lockIcoHide("label-cod_item");
                        }

                        if (response.json_cod_item) {
                            response.json_cod_item.forEach(function(item) {

                                $("#cod_item").append("<option value='" + item + "'>" + item + "</option>");
                            });
                        } else {
                            $("#cod_item").append("<option value=''></option>");
                        }

                        $("#lote_item").val(response.json_cod_lote);

                        if (response.json_cod_lote === "") {
                            lockIcoHide("label-cod_lote")

                            $("#lote_item").prop("readonly", false);
                        } else {

                            $("#lote_item").prop("readonly", true);
                        }
                    },

                    error: function(error) {
                        console.error("Erro ao buscar itens:", error);
                    }
                });
            }

            document.getElementById("form-field").addEventListener("submit", function() {
                    document.getElementById("submitform").disabled = true;

                });




        </script>

    <!-- SUPLEMENTO P/ FILTRO [LB-FILTER] -->
        <script src="{{ url_for('static', filename='js/lb-filter.js') }}"></script>

    {% include 'shared/footer.html' %}