<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Movimentar {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | TRANS LÉGUA</title>
        <link rel="icon" href="{{ url_for('static', filename='tl-logo-only.svg') }}" type="image/x-icon">

        {% include "shared/header/tl-header.html" %}

            <div id="floating-container" draggable="false" class="form-container" style="position: relative">
                <div class="split-horizontal" style="align-items: end">
                    <div>
                        <button class="pin" id="fix-move-btn" onclick="toggleFixMove()" style="scale: 0.7">
                            <img class="svg-gray" src="{{ url_for('static', filename='svg/window-restore.svg') }}" alt="">
                        </button>
                    </div>
                </div>
                <div class="centralizado">
                    <div>
                        <form id="formBuscarItens" method="post" onsubmit="lockIcoShow()">
                            <div>
                                <label for="cod_str_qr"></label>
                                <div class="split-horizontal input-container">
                                    <input type="text" style="width: 320px;" id="cod_str_qr" maxlength="14" name="cod_str_qr" required placeholder="QR-Code ou o Código de Barras...">
                                    <input class="subm" style="width: 42px; height: 42px; margin-left: 4px; padding: 8px" type="image" src="{{ url_for('static', filename='svg/scan-barcode.svg') }}" alt="">
                                </div>
                                <hr>
                            </div>
                        </form>
                        <form style="display: flex;" id="field" method="post" action="/mov/moving">
                            <div id="produtoField">
                                <div>
                                    <label for="produto">Produto
                                        <img id="label-desc" class="svg-label" src="{{ url_for('static', filename='svg/lock.svg') }}" alt=""><br>
                                    </label>
                                    <input name="produto" id="produto" type="text" value="{{ descITEM }}" required readonly placeholder="Descrição do produto..." onclick="maximizeText(this)">
                                </div>
                                <div class="split-horizontal">
                                    <div>
                                        <label for="codsku">Código <span style="color: red" id="coditem_qnt"></span>
                                            <img id="label-sku" class="svg-label" src="{{ url_for('static', filename='svg/lock.svg') }}" alt="">
                                        </label><br>
                                        <select class="address" id="codsku" name="codsku" required onchange="lockIcoShow()"></select>
                                    </div>
                                    <div>
                                        <label for="lote_item">Lote
                                            <img id="label-lote" class="svg-label" src="{{ url_for('static', filename='svg/lock.svg') }}" alt="">
                                        </label><br>
                                        <input class="address" pattern="[A-Z0-9]{6}" maxlength="6" id="lote_item" type="text" name="lote" value="{{ codLOTE }}" required readonly placeholder="Lote (Ex.: CS0000)...">
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div style="display: flex; ">
                                <div>
                                    <select name="operacao" id="operacao" style="margin-top: 14px" class="address-three" onchange="toggleFields()">
                                        <option value="E">Entrada</option>
                                        <option value="S">Saída</option>
                                        <option value="T">Transferir</option>
                                        <option value="F">Faturado</option>
                                    </select>
                                </div>
                                <div style="display: flex; align-items: center">
                                    <img id="svg-image" class="svg-orange" style="width: 22px; height: 22px; margin-left: 4px; padding: 8px" src="{{ url_for('static', filename='svg/arrow-down-to-dot.svg') }}">
                                </div>
                                <div style="display: flex; align-items: center">
                                    <img id="svg-cfg" class="svg-orange" style="width: 12px; height: 12px; margin-left: 4px; padding: 8px; display: none" src="{{ url_for('static', filename='svg/gear.svg') }}" onclick="togglePopUp()">
                                </div>
                                <div id="popup-field" style="display: none; right: 25px">
                                    <div class="back-modal" onclick="togglePopUp()"></div>
                                        <div class="form-filter generic" style="width: 600px">
                                            <div class="split-horizontal">
                                                <h1>Configurações de Operação</h1>
                                                <div style="scale: 0.7">
                                                    <div class="pin" onclick="togglePopUp()">
                                                        <img style="height: 30px;width: 30px" class="svg-gray" src="{{ url_for('static', filename='svg/xmark.svg') }}" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            {% if 'privilegio' in session %}
                                                {% if session['privilegio'] <= 2 %}
                                                    <div id="enderecoCompletoContainer">
                                                        <p style="justify-content: left">Movimentação/Faturamento completo de Endereço.</p>
                                                        <input type="checkbox" class="check" id="is_end_completo" name="is_end_completo" onchange="handleCheckChange()"><br>
                                                        <label>(Exemplo 1: TODOS os itens em A.1 vão para o endereço A.2)<br>(Exemplo 2: TODOS os itens em A.1 são faturados)</label>
                                                    </div>
                                                {% else %}
                                                    <div>
                                                        <p style="justify-content: left">Você não possui permissões para isto.</p>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            <div style="display: flex;">
                                <div id="quantField">
                                    <label for="quantidade">Quantidade</label><br>
                                    <input class="address-one" type="number" id="quantidade" name="quantidade" min="1" placeholder="Quantidade..." required>
                                </div>
                            </div>
                            <div style="display: flex;">
                                <div>
                                    <label for="end_letra">Endereço</label><br>
                                    <div class="endereco-container">
                                        <select class="address-three" id="end_letra" name="end_letra" onchange="toggleEndNumber()" required>
                                            <option value="A"     >A</option>
                                            <option value="B"     >B</option>
                                            <option value="C"     >C</option>
                                            <option value="D"     >D</option>
                                            <option value="PP1"   >PP1</option>
                                            <option value="PP2"   >PP2</option>
                                            <option value="PP3"   >PP3</option>
                                            <option value="PP4"   >PP4</option>
                                            <option value="AM"    >AMOSTRA</option>
                                            <option value="CAM"   >CÂMARA FRIA</option>
                                            <option value="DEVOL" >DEVOLUÇÃO</option>
                                            <option value="LOJA"  >LOJA</option>
                                            <option value="PROD"  >PRODUÇÃO</option>
                                            <option value="SEPAR" >SEPARAÇÃO</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div id="end_number_container">
                                        <label for="end_number"> </label><br>
                                        <input class="address-three" type="number" id="end_number" name="end_number" step="any" min="1" max="99999.9" required placeholder="Número...">
                                    </div>
                                </div>
                            </div>
                            <div id="destinoFields" style="display: none;">
                                <div style="text-align: center;">
                                    <img class="svg-orange" src="{{ url_for('static', filename='svg/square-arrow-down.svg') }}" alt="">
                                </div>
                                <div style="display: flex">
                                    <div class="endereco-container">
                                        <label for="destino_end_letra">Endereço de Destino</label><br>
                                        <select class="address-three" id="destino_end_letra" name="destino_end_letra" onchange="toggleEndNumber()">
                                            <option value="A"     >A</option>
                                            <option value="B"     >B</option>
                                            <option value="C"     >C</option>
                                            <option value="D"     >D</option>
                                            <option value="PP1"   >PP1</option>
                                            <option value="PP2"   >PP2</option>
                                            <option value="PP3"   >PP3</option>
                                            <option value="PP4"   >PP4</option>
                                            <option value="AM"    >AMOSTRA</option>
                                            <option value="CAM"   >CÂMARA FRIA</option>
                                            <option value="DEVOL" >DEVOLUÇÃO</option>
                                            <option value="LOJA"  >LOJA</option>
                                            <option value="PROD"  >PRODUÇÃO</option>
                                            <option value="SEPAR" >SEPARAÇÃO</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="destino_end_number"> </label><br>
                                        <input class="address-three" type="number" id="destino_end_number" name="destino_end_number" step="any" min="1" max="99999.9" placeholder="Número...">
                                    </div>
                                </div>
                            </div>
                            <div id="cargaFields" style="display: none;">
                                <div style="text-align: center;">
                                    <img class="svg-orange" src="{{ url_for('static', filename='svg/package-check.svg') }}" alt="">
                                </div>
                                <div>
                                    <label for="id_carga">Número de Carga</label>
                                    <div style="display: flex; width: 100%">
                                        <input type="number" id="id_carga" name="id_carga" step="any" min="1000" max="99999" class="address-three" placeholder="Carga...">
                                        <select type="number" id="id_carga_seq" name="id_carga_seq" step="any" min="0" max="9" class="address-three" placeholder="Sequência...">
                                            {% for index in range(0, 10) %}
                                                <option value="{{ index }}">- {{ index }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <input class="subm" type="submit" value="Registrar..." id="submitform">
                        </form>
                    </div>
                </div>
            </div>
                <div class="tables-container" id="tables-cont">
                    <div class="split-horizontal">
                        <h1>Saldo Atual do Estoque <span class="id-page">{{session['id_page']}}</span></h1>
                        <div class="aux-buttons">
                            <img class="svg-gray" src="{{ url_for('static', filename='svg/history.svg') }}" title="HISTÓRICO" alt="" onclick="window.location.href='{{ url_for('historico') }}';">
                            <img class="svg-gray" src="{{ url_for('static', filename='svg/package-check.svg') }}" title="FATURADOS" alt="" onclick="window.location.href='{{ url_for('faturado') }}';">
                            <hr class="vert">
                            <img class="svg-gray" src="{{ url_for('static', filename='svg/clipboard-list.svg') }}" title="CAMPO LATERAL" alt="" onclick="toggleContainer()">
                            <hr class="vert">
                            <img class="svg-gray" src="{{ url_for('static', filename='svg/filter.svg') }}" alt="" title="FILTROS" onclick="toggleFilter()">
                            <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="VOLTAR" alt="" onclick="window.location.href='{{ url_for('home_tl') }}';">
                        </div>
                    </div>
                    <div style="justify-content: flex-end">
                        <label for="searchInput1"></label>
                        <label for="filterSelect"></label>
                        <div id="table-filter" style="display: none" >
                            <input type="text" class="searchInput" id="searchInput1" oninput="filterTable()" placeholder="Filtrar por...">
                            <select class="address" name="filterIndex" id="filterSelect" onchange="updateFilterIndex()">
                                <option value=1>Produto (Código)</option>
                                <option value=0>Endereço</option>
                                <option value=2>Produto (Descrição)</option>
                                <option value=3>Lote (Código)</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-overflow">
                        <table class="saldoTable">
                            <tr>
                                <th>Endereço</th>
                                <th>Produto (Código)</th>
                                <th>Produto (Descrição)</th>
                                <th>Lote (Código)</th>
                                <th>Quantidade</th>
                            </tr>
                            {% for item in saldo_atual %}
                            <tr>
                                <td>{{ item['letra'] }}.{{ item['numero'] }} </td>
                                <td>{{ item['cod_item'] }}</td>
                                <td>{{ item['produto'] }}</td>
                                <td>{{ item['lote'] }}</td>
                                <td>{{ item['saldo'] }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <a href="{{ url_for('export_csv_tipo', tipo='saldo') }}">Baixar tabela...</a>
                </div>
        <script>

            let ultimoCodigo = '';

            $(function() {
                $("#formBuscarItens").submit(function(event) {
                    event.preventDefault();
                    var codigo = $("#cod_str_qr").val();
                    buscarItens(codigo);
                    $("#cod_str_qr").val('');
                });
            });

            $("#codsku").change(function(event) {
                event.preventDefault();
                var codigo = $("#codsku").val();
                buscarItens(codigo);
                $("#cod_str_qr").val(ultimoCodigo);
            });

            function buscarItens(codigo) {
                $.ajax({
                    type: "POST",
                    url: "/searching",
                    data: { cod_str_qr: codigo },
                    success: function(response) {
                        $("#produto").val(response.descITEM);
                        $("#codsku").empty();
                        if (response.codITEMqnt) {
                            $("#coditem_qnt").text('( ' + response.codITEMqnt + ' )');
                        } else {
                            $("#coditem_qnt").text('');
                        }

                        if (response.codITEM.length > 1) {
                            lockIcoHide("label-sku");
                            ultimoCodigo = codigo
                        }

                        if (response.codITEM) {
                            response.codITEM.forEach(function(item) {
                                $("#codsku").append("<option value='" + item + "'>" + item + "</option>");
                            });
                        } else {
                            $("#codsku").append("<option value=''></option>");
                        }
                        $("#lote_item").val(response.codLOTE);
                        
                        if (response.codLOTE === "") {
                            lockIcoHide("label-lote")
                            $("#lote_item").prop("readonly", false);
                        } else {
                            $("#lote_item").prop("readonly", true);
                        }
                    },
                    error: function(error) {
                        console.error("Erro ao buscar itens:", error);
                    }
                });
            }

            function relerUltimoCodigo() {
                if (!ultimoCodigo) {
                    console.error("Nenhum código fornecido anteriormente.");
                    return;
                }
    
                buscarItens(ultimoCodigo);
            }

            document.getElementById("field").addEventListener("submit", function() {
                document.getElementById("submitform").disabled = true;
            });
            
        /*       
        function toggleEndNumber() {
            var end_letra = document.getElementById('end_letra').value;
            var end_number_container = document.getElementById('end_number_container');

            end_number_container.innerHTML = '';

            if (end_letra === 'A') {
                setOptions(['1', '2', '3'], end_number_container);
            } else if (end_letra === 'B') {
                setOptions(['4', '5', '6'], end_number_container);
            } else if (end_letra === 'C') {
                setOptions(['7', '8', '9'], end_number_container);
            } else if (end_letra === 'D') {
                setOptions(['10', '11', '12'], end_number_container);
            } else {
                // Voltar para um campo de número
                var label = document.createElement('label');
                label.htmlFor = 'end_number';
                label.innerText = 'Número: ';
                end_number_container.appendChild(label);

                var br = document.createElement('br');
                end_number_container.appendChild(br);

                var input = document.createElement('input');
                input.className = 'address';
                input.type = 'number';
                input.id = 'end_number';
                input.name = 'end_number';
                input.step = 'any';
                input.min = '1';
                input.max = '99999.9';
                input.required = true;
                input.placeholder = 'Número...';
                end_number_container.appendChild(input);
            }
        }

        function setOptions(options, container) {
            var label = document.createElement('label');
            label.htmlFor = 'end_number';
            label.innerText = 'Número: ';
            container.appendChild(label);

            var br = document.createElement('br');
            container.appendChild(br);

            var select = document.createElement('select');
            select.id = 'end_number';
            select.name = 'end_number';
            select.className = 'address';

            for (var i = 0; i < options.length; i++) {
                var option = document.createElement('option');
                option.value = options[i];
                option.text = options[i];
                select.appendChild(option);
            }

            container.appendChild(select);
        }
        */  
        </script>

    <!-- SUPLEMENTO P/ FILTRO [LB-FILTER] -->
        <script src="{{ url_for('static', filename='js/lb-filter.js') }}"></script>

    {% include 'shared/footer.html' %}