<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Movimentar {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | LOGÍSTICA</title>
        <link rel="icon" href="{{ url_for('static', filename='tl-logo-only.svg') }}" type="image/x-icon">

        {% include "shared/header/tl-header.html" %}
        <div class="titles-ruler">
            
            {% from 'components/title-route.html' import title_container %}
            {{ title_container(
                title='MOVIMENTAR',
                id_page=session['id_page'],
                breadcrumbs=[
                    {'text': 'LOGI', 'url': 'home_logi', 'title': 'LOGISTICA'},
                    {'text': 'MOVIMENTAR'}
                ],
                aux_buttons=[
                    {'type': 'link', 'url': 'mov', 'icon': 'svg/arrow-up-down.svg', 'title': 'MOVIMENTAR', 'active': True},
                    {'type': 'link', 'url': 'estoque', 'icon': 'svg/boxes.svg', 'title': 'ESTOQUE'},
                    {'type': 'link', 'url': 'historico', 'icon': 'svg/history.svg', 'title': 'HISTÓRICO'},
                    {'type': 'divider'},
                    {'type': 'action', 'icon': 'svg/filter.svg', 'title': 'FILTROS', 'onclick': 'toggleFilter()'},
                    {'type': 'action', 'icon': 'svg/circle-arrow-left.svg', 'title': 'VOLTAR', 'onclick': 'goBack()'}
                ]
            ) }}

            {% from 'components/filter-container.html' import filter_container %}
            {{ filter_container(
                filter_options=[
                    {'value': 1, 'text': 'Item (Código)'},
                    {'value': 0, 'text': 'Endereço'},
                    {'value': 2, 'text': 'Item (Descrição)'},
                    {'value': 3, 'text': 'Lote (Código)'}
                ],
                type="default"
            ) }}
        </div>
        
        <div id="divContent" style="flex-wrap: wrap;">

            {% from 'components/sidebar.html' import sidebar %}
            {{ sidebar([
                {'id': 'move-btn', 'icon': 'svg/arrow-up-down.svg', 'title': 'MOVIMENTAR (UNITÁRIO)', 'onclick': 'toggleContainer()'},
                {'id': 'bundle-btn', 'icon': 'svg/bag.svg', 'title': 'MOVIMENTAR (PACOTE)', 'onclick': 'toggleBundleContainer()'}
            ]) }}

            <div id="floating-container" draggable="false" class="forms-container" style="position: relative;">
                <!--
                <button class="bit-button" id="fix-move-btn" onclick="toggleFixMove()">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/picture-in-picture.svg') }}" alt="">
                </button>
                -->
                <div>
                    <!-- leitor de códigos (qrcode, código de barras ou codigo de item) -->
                    <form id="formBuscarItens" method="post" onsubmit="showLockLabel()" style="display: block; height: unset">
                        <label for="input_code"></label>
                        <div class="split-h">
                            <input class="address-one" type="text" id="input_code" maxlength="14" name="input_code" required placeholder="QR-Code ou o Código de Barras...">
                            <input class="btn-fancy" style="width: 42px; height: 42px;" type="image" src="{{ url_for('static', filename='svg/scan-barcode.svg') }}" alt="">
                        </div>
                        <hr>
                    </form>

                    <form id="form-field" class="split-v" method="post" action="/logi/mov/moving">
                        <div class="flex-v" style="align-items: center;">
                            <div id="produtoField">
                                <div class="flex-v">
                                    <div>
                                        {% from 'components/lock-label.html' import lock_label %}
                                        {{ lock_label('Produto', 'desc_item') }}
                                        <input 
                                            id="desc_item" 
                                            name="desc_item" 
                                            class="address-one" 
                                            type="text" 
                                            required readonly 
                                            placeholder="Descrição do item..." 
                                            onclick="maximizeText(this)"
                                            value="{{ json_desc_item }}"
                                        >
                                    </div>
                                    <div class="split-h">
                                        <div>
                                            {% from 'components/lock-label.html' import lock_label %}
                                            {{ lock_label('Código', 'cod_item', '<span style="color: red" id="json_item_no"></span>' | safe) }}
                                            <select 
                                                id="cod_item" 
                                                name="cod_item" 
                                                class="address-three" 
                                                placeholder="Código do item..."
                                                title="Ex.: 000123"
                                                onchange="showLockLabel()"
                                                required 
                                            >
                                            <option value="">Selecione...</option>
                                            <hr>
                                            <!-- itens preenchidos dinamicamente -->
                                            </select>
                                        </div>
                                        <div>
                                            {% from 'components/lock-label.html' import lock_label %}
                                            {{ lock_label('Lote', 'cod_lote') }}
                                            <input 
                                                id="lote_item" 
                                                name="cod_lote" 
                                                required readonly 
                                                class="address-three" 
                                                pattern="[A-Z0-9]{6}" maxlength="6" type="text" 
                                                value="{{ json_cod_lote }}" 
                                                placeholder="Ex.: CS0000" 
                                                onchange="getItemFirstMov()"
                                            >
                                        </div>
                                        <div>
                                            <label for="operacao">Operação</label>
                                            <select 
                                                id="operacao" 
                                                name="operacao" 
                                                class="address-four" 
                                                onchange="toggleFields()" 
                                                title="E = Entrada, S = Saída, T = Transferência"
                                            >
                                                <option value="E">E</option>
                                                <option value="S">S</option>
                                                <option value="T">T</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex;">
                                <div class="flex-h">
                                    <div style="display: flex; align-items: center">
                                        <img id="svg-operation" class="svg-orange" style="width: 22px; height: 22px; padding: 8px" src="{{ url_for('static', filename='svg/arrow-down-to-dot.svg') }}">
                                    </div>
                                    <div style="display: flex; align-items: center">
                                        <img id="svg-cfg" class="svg-orange" style="width: 12px; height: 12px; padding: 8px; display: none" src="{{ url_for('static', filename='svg/gear.svg') }}" onclick="togglePopUp()">
                                    </div>
                                </div>
                                <div id="popup-field" style="display: none; right: 25px">
                                    <div class="back-modal" onclick="togglePopUp()"></div>
                                    <div class="form-filter generic">
                                        <div class="split-h" style="background-color: var(--strong-dark-m); border-radius: 12px 12px 0 0">
                                            <h1 style="text-align: left; margin: auto 14px; padding-left: 0; color: var(--light-text)" class="subtitle">Configurações de Operação</h1>
                                            <div style="scale: 1">
                                                <div class="svg-inv" style="padding: 8px" onclick="togglePopUp()">
                                                    <img style="height: 30px; width: 30px" src="{{ url_for('static', filename='svg/xmark.svg') }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="enderecoCompletoContainer" style="border-radius: 0 0 12px 12px; padding: 14px">
                                            <p style="justify-content: left">
                                                <input type="checkbox" class="check" style="margin: 0 4px 0 0" id="is_end_completo" name="is_end_completo" onchange="handleCheckChange()">
                                                Movimentação COMPLETA de Endereço.
                                            </p>
                                            <label>EXEMPLOS: 
                                                <br>• TODOS os itens em A.1 vão para o endereço A.2
                                                <br>• TODOS os itens em A.1 são faturados (funcionalidade desativada)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex;">
                                <div id="quantField" style="display: flex; flex-direction: column; justify-content: flex-end;">
                                    <label for="quantidade">Quantidade</label>
                                    <input 
                                        id="quantidade" 
                                        class="address-two" 
                                        type="number" 
                                        name="quantidade" 
                                        min="1" 
                                        placeholder="Quantidade..." 
                                        required
                                    >
                                </div>
                            </div>
                            <div style="display: flex; align-items: flex-end">
                                <div>
                                    <label for="end_letra">Endereço</label>
                                    <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                                        <select class="address-three" id="end_letra" name="end_letra" onchange="toggleEndNumber()" required>
                                            {% include "shared/elements/address-select.html" %}
                                        </select>
                                    </div>
                                </div>
                                <input class="address-three" type="number" id="end_number" name="end_number" step="any" min="1" max="99999.9" required placeholder="Número...">
                            </div>
                            <div id="destinoFields" style="display: none;">
                                <div style="text-align: center;">
                                    <img class="svg-orange" src="{{ url_for('static', filename='svg/square-arrow-down.svg') }}" alt="">
                                </div>
                                <div style="display: flex; align-items: flex-end;">
                                    <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                                        <label for="destino_end_letra">End. de Destino</label>
                                        <select 
                                            class="address-three" 
                                            id="destino_end_letra" 
                                            name="destino_end_letra" 
                                            onchange="toggleEndNumber()"
                                        >
                                            {% include "shared/elements/address-select.html" %}
                                        </select>
                                    </div>
                                    <div>
                                        <label for="destino_end_number"> </label>
                                        <input class="address-three" type="number" id="destino_end_number" name="destino_end_number" step="any" min="1" max="999" placeholder="Número...">
                                    </div>
                                </div>
                            </div>
                            <div id="cargaFields" style="display: none;">
                                <div style="text-align: center;">
                                    <img class="svg-orange" src="{{ url_for('static', filename='svg/package-check.svg') }}" alt="">
                                </div>
                                <div style="display: flex;">
                                    <div>
                                        <label for="id_carga">Número de Carga</label>
                                        <input type="number" id="id_carga" name="id_carga" step="any" min="1000" max="99999" class="address-three" placeholder="Carga...">
                                    </div>
                                    <div>
                                        <label for="id_carga_seq"> </label>
                                        <select class="address-three" type="number" id="id_carga_seq" name="id_carga_seq" step="any">
                                            {% for index in range(0, 10) %}
                                                <option value="{{ index }}">- {{ index }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="dateFields" style="display: flex;">
                                <div class="flex-v" style="gap: 0">
                                    <label for="date_fab">Data de Fabricação</label>
                                    <input type="date" id="date_fab" name="date_fab" class="address-two" required="true">
                                    <input type="hidden" name="data_locked" id="data_locked" value="false">
                                    <!-- TODO: se colocar um lote já conhecido, puxa a data da primeira movimentacao --> 
                                </div>
                            </div>
                        </div>
                        <div class="flex-h" style="gap: 0; min-width: 100%;">
                            <input class="btn-fancy" type="submit" value="REGISTRAR" id="submitform">
                        </div>
                    </form>
                </div>
            </div>


            <div id="tables-container" class="tables-container" style="max-height: 600px">

                <div class="table-overflow">
                    <table id="filterTable" style="max-height: revert-layer;">
                        <tr>
                            <th>Endereço</th>
                            <th>Item (Código)</th>
                            <th>Item (Descrição)</th>
                            <th>Lote (Código)</th>
                            <th>QTDE (Efetiva)</th>
                            <th id="header-add-column" style="display: none; width: 100px; padding: 0;"></th>
                        </tr>
                        {% for item in saldo_atual %}
                            <tr id="row-{{ loop.index }}">   
                                <td>{{ item['address'] }}</td>
                                <td class="number">{{ item['cod_item'] }}</td>
                                <td>{{ item['desc_item'] }}</td>
                                <td>{{ item['cod_lote'] }}</td>
                                <td class="number">{{ item['saldo'] }},0</td>
                                <td class="action-cell green" onclick="addToBundle({{ loop.index }})">
                                    <span>ADICIONAR</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
            
            <div id="bundle-container" class="tables-container glow-logi" style="display: none; max-width: -webkit-fill-available; min-width: 800px;">
                <div style="display: flex; justify-content: space-between; flex-direction: column; height: 100%;">
                    <div>
                        <h1 class="subtitle">Pacote de itens:</h1>
                        <div id="bundleMessage" style="display: flex; justify-content: center; height: 100%;">
                            <p class="disabled">
                                Adicione os itens acima para fazer uma movimentação em massa...
                            </p>
                        </div>
                        <div class="table-overflow">
                            <table id="bundleTable" style="max-height: revert-layer; opacity: 0;">
                                <tr>
                                    <th class="normal-size">Endereço</th>
                                    <th class="normal-size">Item (Código)</th>
                                    <th class="bigger-size">Item (Descrição)</th>
                                    <th class="normal-size">Lote (Código)</th>
                                    <th class="normal-size">QTDE (Separada)</th>
                                    <th class="normal-size" style="padding: 0;"></th>
                                </tr>
                                <tr>
                                    <!-- itens serao preenchidos dinamicamente -->
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="split-h">
                        <div style="display: flex;">
                            <select style="height: 40px" name="operacao" id="bundleOperation" class="address-four" onchange="toggleBundleEndereco()">
                                <option value="S">S</option>
                                <option value="T">T</option>
                                <!-- 
                                # uso foi substituido por /mov/carga/ 
                                <option value="F">F</option> 
                                -->
                            </select>
                            <div id="bundleEnderecoContainer" style="display: none;">
                                <p style="margin-left: 10px; font-family: 'Inter', sans-serif;">Transferir para:</p>
                                <select style="height: 40px" class="address-four" id="bundleLetra" required>
                                    {% include "shared/elements/address-select.html" %}
                                </select>
                                <input 
                                    id="bundleNumero" 
                                    type="number" 
                                    step="any" 
                                    min="1" 
                                    max="999" 
                                    required 
                                    placeholder="1"
                                    class="address-four" 
                                    style="height: 40px" 
                                >
                            </div>
                        </div>

                        <input 
                            id="registrarBtn"
                            value="REGISTRAR" 
                            class="address-two" 
                            style="
                                height: 40px; 
                                cursor: pointer;
                            " 
                            type="submit" 
                            onclick="concludeBundle()" 
                        >
                    </div>
                </div>
            </div>
        </div>

        {% include "components/menus/quantity-popup.html" %}

        <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>

        <script>
            let isColumnVisible = false;
            let ultimoCodigo = '';
            let userID = '{{ session['id_user'] }}';
            var tableData = [];

            $(function() {
                $("#formBuscarItens").submit(function(event) {
                    event.preventDefault();
                    var codigo = $("#input_code").val();
                    buscarItens(codigo);
                    $("#input_code").val('');
                });
            });

            $("#cod_item").change(function(event) {
                event.preventDefault();
                var codigo = $("#cod_item").val();
                buscarItens(codigo);
                $("#input_code").val(ultimoCodigo);
            });

            function buscarItens(codigo) {
                $.ajax({
                    type: "POST",
                    url: "/get/item",
                    data: { input_code: codigo },
                    success: function(response) {
                        // descrição do item
                        $("#desc_item").val(response.json_desc_item);

                        $("#cod_item").empty();
                        // número de ocorrência de código de item
                        if (response.json_cod_item.length != 1) {
                            $("#json_item_no").text('( ' + response.json_cod_item.length + ' )');
                        } else {
                            $("#json_item_no").text('');
                        }

                        // se houver mais de um código de item, esconde o lock-label de código de item
                        if (response.json_cod_item.length > 1) {
                            hideLockLabel("label-cod_item");
                            ultimoCodigo = codigo;
                        }

                        if (response.json_cod_item) {
                            response.json_cod_item.forEach(function(item) {
                                $("#cod_item").append("<option value='" + item + "'>" + item + "</option>");
                            });
                            if (response.json_cod_item && response.json_cod_item.length > 0) {
                                $("#filterInput").val(response.json_cod_item[0]);
                                filterTable();
                            }
                        } else {
                            $("#cod_item").append("<option value=''></option>");
                        }
                        $("#lote_item").val(response.json_cod_lote);
                        
                        if (response.json_cod_lote === "") {
                            hideLockLabel("label-cod_lote")
                            $("#lote_item").prop("readonly", false);
                        } else {
                            $("#lote_item").prop("readonly", true);
                        }
                    },
                    error: function(error) {
                        console.error("Erro ao buscar itens:", error);
                    }
                });
            }

            document.getElementById("form-field").addEventListener("submit", function() {
                document.getElementById("submitform").disabled = true;
            });
            
            function getItemFirstMov() {
                const selectedItem = document.getElementById("cod_item").value;
                const loteItem = document.getElementById("lote_item").value;
                const dataFabInput = document.getElementById("date_fab");
                const dataLockedInput = document.getElementById("data_locked");
                
                // impede datas futuras na data de fabricação
                dataFabInput.max = new Date().toISOString().split('T')[0];
            
                fetch(`/api/get_item_first_mov?cod_item=${selectedItem}&cod_lote=${loteItem}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.first_mov) {
                            dataFabInput.value = data.first_mov;
                            dataFabInput.setAttribute('readonly', true);
                            dataLockedInput.value = true;
                            dataFabInput.onclick = function() {
                                alert("O lote deste item foi registrado pela primeira vez em " + data.first_mov);
                            }
                        } else {
                            dataFabInput.value = '';
                            dataFabInput.removeAttribute('readonly');
                            dataLockedInput.value = false;
                            dataFabInput.onclick = ''
                        }
                    })
                    .catch(error => {
                        console.error('Erro ao obter data de fabricação:', error);
                    });
            }
        </script>

    {% include 'shared/footer.html' %}