<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Movimentar {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | TRANS LÉGUA</title>
        <link rel="icon" href="{{ url_for('static', filename='tl-logo-only.svg') }}" type="image/x-icon">

        {% include "shared/header/tl-header.html" %}

        <div class="titles-container flex-row title-centerer">
            <h1>MOVIMENTAR<span class="id-page">{{session['id_page']}}</span></h1>
            <div class="aux-buttons">
                <a class="aux-button {% if request.endpoint == 'mov' %}active{% endif %}" onclick="window.location.href='{{ url_for('mov') }}';">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/arrow-up-down.svg') }}" title="MOVIMENTAR" alt="">
                </a>
                <a class="aux-button {% if request.endpoint == 'estoque' %}active{% endif %}" onclick="window.location.href='{{ url_for('estoque') }}';">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/boxes.svg') }}" title="ESTOQUE" alt="">
                </a>
                <a class="aux-button {% if request.endpoint == 'historico' %}active{% endif %}" onclick="window.location.href='{{ url_for('historico') }}';">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/history.svg') }}" title="HISTÓRICO" alt="">
                </a>
                <hr class="vert">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/filter.svg') }}" alt="" title="FILTROS" onclick="toggleFilter()">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="VOLTAR" alt="" onclick="goBack()">
            </div>
        </div>
        <div id="filterBreak" style="justify-content: flex-end">
            <div id="table-filter" style="display: none" >
                <input type="text" class="filterInput address" id="filterInput" oninput="filterTable()" placeholder="Filtrar por...">
                <select class="address" id="filterSelect" onchange="updateFilterIndex()">
                    <option value=1>Item (Código)</option>
                    <option value=0>Endereço</option>
                    <option value=2>Item (Descrição)</option>
                    <option value=3>Lote (Código)</option>
                </select>
            </div>
        </div>
        <div id="divContent" style="flex-wrap: wrap;">
            <div draggable="false" class="forms-container" style="position: relative; max-width: max-content; padding: 16px;">
                <div class="btn-fancy" style="height: 60px; width: 60px; margin: 8px" title="MOVIMENTAR (UNITÁRIO)" onclick="toggleContainer()">
                    <img class="svg-inv" src="{{ url_for('static', filename='svg/arrow-up-down.svg') }}" alt="">
                </div>
                <div class="btn-fancy" style="height: 60px; width: 60px; margin: 8px" title="MOVIMENTAR (PACOTE)" onclick="toggleBundleContainer()">
                    <img class="svg-inv" src="{{ url_for('static', filename='svg/bag.svg') }}" alt="">
                </div>
            </div>

            <div id="floating-container" draggable="false" class="forms-container" style="position: relative; max-width: max-content">
                <button class="bit-button" id="fix-move-btn" onclick="toggleFixMove()">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/picture-in-picture.svg') }}" alt="">
                </button>
                <div>
                    <form id="formBuscarItens" method="post" onsubmit="showLockLabel()" style="display: block; height: unset">
                        <div>
                            <label for="input_code"></label>
                            <div class="split-horizontal">
                                <input class="address-one" type="text" id="input_code" maxlength="14" name="input_code" required placeholder="QR-Code ou o Código de Barras...">
                                <input class="btn-fancy" style="width: 42px; height: 42px;" type="image" src="{{ url_for('static', filename='svg/scan-barcode.svg') }}" alt="">
                            </div>
                            <hr>
                        </div>
                    </form>

                    <form class="split-vertical" style="display: flex; height: unset" id="form-field" method="post" action="/mov/moving">
                        <div class="flex-column" style="align-items: center;">
                            <div id="produtoField">
                                <div class="flex-column">
                                    <div>
                                        <label for="desc_item">Produto
                                            <img id="label-desc" class="svg-label" src="{{ url_for('static', filename='svg/lock.svg') }}" alt=""><br>
                                        </label>
                                        <input class="address-one" name="desc_item" id="desc_item" type="text" value="{{ json_desc_item }}" required readonly placeholder="Descrição do item..." onclick="maximizeText(this)">
                                    </div>
                                    <div class="split-horizontal">
                                        <div>
                                            <label for="cod_item">Código <span style="color: red" id="json_cod_item_ocurr"></span>
                                                <img id="label-cod_item" class="svg-label" src="{{ url_for('static', filename='svg/lock.svg') }}" alt="">
                                            </label>
                                            <br>
                                            <select class="address-three" id="cod_item" name="cod_item" required onchange="showLockLabel()"></select>
                                        </div>
                                        <div>
                                            <label for="lote_item">Lote
                                                <img id="label-cod_lote" class="svg-label" src="{{ url_for('static', filename='svg/lock.svg') }}" alt="">
                                            </label>
                                            <br>
                                            <input class="address-three" pattern="[A-Z0-9]{6}" maxlength="6" id="lote_item" type="text" name="cod_lote" value="{{ json_cod_lote }}" required readonly placeholder="Ex.: CS0000">
                                        </div>
                                        <div>
                                            <label for="operacao">Operação</label><br>
                                            <select name="operacao" id="operacao" class="address-four" onchange="toggleFields()">
                                                <option value="E">E</option>
                                                <option value="S">S</option>
                                                <option value="T">T</option>
                                                <!-- 
                                                # uso foi substituido por /mov/carga/ 
                                                <option value="F">F</option> 
                                                -->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex;">
                                <div class="flex-row">
                                    <div style="display: flex; align-items: center">
                                        <img id="svg-image" class="svg-orange" style="width: 22px; height: 22px; padding: 8px" src="{{ url_for('static', filename='svg/arrow-down-to-dot.svg') }}">
                                    </div>
                                    <div style="display: flex; align-items: center">
                                        <img id="svg-cfg" class="svg-orange" style="width: 12px; height: 12px; padding: 8px; display: none" src="{{ url_for('static', filename='svg/gear.svg') }}" onclick="togglePopUp()">
                                    </div>
                                </div>
                                <div id="popup-field" style="display: none; right: 25px">
                                    <div class="back-modal" onclick="togglePopUp()"></div>
                                    <div class="form-filter generic">
                                        <div class="split-horizontal" style="background-color: var(--strong-dark-m); border-radius: 12px 12px 0 0">
                                            <h1 style="text-align: left; margin: auto 14px; padding-left: 0; color: var(--light-text)" class="subtitle">Configurações de Operação</h1>
                                            <div style="scale: 1">
                                                <div class="svg-inv" style="padding: 8px" onclick="togglePopUp()">
                                                    <img style="height: 30px; width: 30px" src="{{ url_for('static', filename='svg/xmark.svg') }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="enderecoCompletoContainer" style="border-radius: 0 0 12px 12px; padding: 14px">
                                            <p style="justify-content: left">
                                                <input type="checkbox" class="check" style="margin: 0 4px 0 0" id="is_end_completo" name="is_end_completo" onchange="handleCheckChange()">
                                                Movimentação COMPLETA de Endereço.
                                            </p>
                                            <label>EXEMPLOS: 
                                                <br>• TODOS os itens em A.1 vão para o endereço A.2
                                                <br>• TODOS os itens em A.1 são faturados (funcionalidade desativada)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex;">
                                <div id="quantField">
                                    <label for="quantidade">Quantidade</label><br>
                                    <input class="address-two" type="number" id="quantidade" name="quantidade" min="1" placeholder="Quantidade..." required>
                                </div>
                            </div>
                            <div style="display: flex;">
                                <div>
                                    <label for="end_letra">Endereço</label><br>
                                    <div class="endereco-container">
                                        <select class="address-three" id="end_letra" name="end_letra" onchange="toggleEndNumber()" required>
                                            {% include "shared/elements/address-select.html" %}
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div id="end_number_container">
                                        <label for="end_number"> </label><br>
                                        <input class="address-three" type="number" id="end_number" name="end_number" step="any" min="1" max="99999.9" required placeholder="Número...">
                                    </div>
                                </div>
                            </div>
                            <div id="destinoFields" style="display: none;">
                                <div style="text-align: center;">
                                    <img class="svg-orange" src="{{ url_for('static', filename='svg/square-arrow-down.svg') }}" alt="">
                                </div>
                                <div style="display: flex">
                                    <div class="endereco-container">
                                        <label for="destino_end_letra">End. de Destino</label><br>
                                        <select class="address-three" id="destino_end_letra" name="destino_end_letra" onchange="toggleEndNumber()">
                                            {% include "shared/elements/address-select.html" %}
                                        </select>
                                    </div>
                                    <div>
                                        <label for="destino_end_number"> </label><br>
                                        <input class="address-three" type="number" id="destino_end_number" name="destino_end_number" step="any" min="1" max="999" placeholder="Número...">
                                    </div>
                                </div>
                            </div>
                            <div id="cargaFields" style="display: none;">
                                <div style="text-align: center;">
                                    <img class="svg-orange" src="{{ url_for('static', filename='svg/package-check.svg') }}" alt="">
                                </div>
                                <div style="display: flex;">
                                    <div>
                                        <label for="id_carga">Número de Carga</label><br>
                                        <input type="number" id="id_carga" name="id_carga" step="any" min="1000" max="99999" class="address-three" placeholder="Carga...">
                                    </div>
                                    <div>
                                        <label for="id_carga_seq"> </label><br>
                                        <select class="address-three" type="number" id="id_carga_seq" name="id_carga_seq" step="any">
                                            {% for index in range(0, 10) %}
                                                <option value="{{ index }}">- {{ index }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-row" style="gap: 0; min-width: 100%;">
                            <input class="btn-fancy" type="submit" value="REGISTRAR" id="submitform">
                        </div>
                    </form>
                </div>
            </div>

            <div id="tables-container" class="tables-container" style="max-height: 600px">
                <div class="table-overflow">
                    <table id="filterTable" style="max-height: revert-layer;">
                        <tr>
                            <th>Endereço</th>
                            <th>Item (Código)</th>
                            <th>Item (Descrição)</th>
                            <th>Lote (Código)</th>
                            <th>QTDE (Efetiva)</th>
                            <th id="header-add-column" style="display: none; width: 100px; padding: 0;"></th>
                        </tr>
                        {% for item in saldo_atual %}
                            <tr id="row-{{ loop.index }}">   
                                <td>{{ item['letra'] }}.{{ item['numero'] }} </td>
                                <td class="number">{{ item['cod_item'] }}</td>
                                <td>{{ item['desc_item'] }}</td>
                                <td>{{ item['cod_lote'] }}</td>
                                <td class="number">{{ item['saldo'] }},0</td>
                                <td class="action-cell green" onclick="addToBundle({{ loop.index }})">
                                    <span>ADICIONAR</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            
            <div id="bundle-container" class="tables-container glow-tl" style="display: none; max-width: -webkit-fill-available; min-width: 800px;">
                <div style="display: flex; justify-content: space-between; flex-direction: column; height: 100%;">
                    <div>
                        <h1 class="subtitle">Pacote de itens:</h1>
                        <div id="bundleMessage" style="display: flex; justify-content: center; height: 100%;">
                            <p class="disabled">
                                Adicione os itens acima para fazer uma movimentação em massa...
                            </p>
                        </div>
                        <div class="table-overflow">
                            <table id="bundleTable" style="max-height: revert-layer; opacity: 0;">
                                <tr>
                                    <th style="width: 100px;">Endereço</th>
                                    <th style="width: 100px;">Item (Código)</th>
                                    <th style="width: 400px;">Item (Descrição)</th>
                                    <th style="width: 100px;">Lote (Código)</th>
                                    <th style="width: 100px;">QTDE (Separada)</th>
                                    <th style="width: 100px; padding: 0;"></th>
                                </tr>
                                <tr>
                                    <!-- itens serao preenchidos dinamicamente -->
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="split-horizontal">
                        <div style="display: flex;">
                            <select style="height: 40px" name="operacao" id="bundleOperation" class="address-four" onchange="toggleBundleEndereco()">
                                <option value="S">S</option>
                                <option value="T">T</option>
                                <!-- 
                                # uso foi substituido por /mov/carga/ 
                                <option value="F">F</option> 
                                -->
                            </select>
                            <div id="bundleEnderecoContainer" style="display: none;">
                                <p style="margin-left: 10px; font-family: 'Inter', sans-serif;">Transferir para:</p>
                                <select style="height: 40px" class="address-four" id="bundleLetra" required>
                                    {% include "shared/elements/address-select.html" %}
                                </select>
                                <input 
                                    id="bundleNumero" 
                                    type="number" 
                                    step="any" 
                                    min="1" 
                                    max="999" 
                                    required 
                                    placeholder="1"
                                    class="address-four" 
                                    style="height: 40px" 
                                >
                            </div>
                        </div>

                        <input 
                            id="registrarBtn"
                            value="REGISTRAR" 
                            class="address-two" 
                            style="
                                height: 40px; 
                                cursor: pointer;
                            " 
                            type="submit" 
                            onclick="concludeBundle()" 
                        >
                    </div>
                </div>
            </div>
        </div>

        {% include "components/menus/quantity-popup.html" %}
        <script>
            let isColumnVisible = false;
            let ultimoCodigo = '';
            let userID = '{{ session['id_user'] }}';
            var tableData = [];

            function toggleBundleEndereco() {
                const operacao = document.getElementById("bundleOperation").value;
                if (operacao === 'T') {
                    document.getElementById("bundleEnderecoContainer").style.display = 'flex';
                } else {
                    document.getElementById("bundleEnderecoContainer").style.display = 'none';
                }
            }

            async function concludeBundle() {
                const registrarBtn = document.getElementById('registrarBtn');

                // Exibe um indicador de carregamento e desativa o botão de finalizar.
                showLoading();
                registrarBtn.onclick = '';
                registrarBtn.innerHTML = '<span class="loader-inline"></span>';

                const tableData = getTableDataAsDict();
                const operation = getBundleOperation();
                var enderecoDestino = '';

                await visualDelay(700);
                
                if (operation === 'T') {
                    enderecoDestino = getEnderecoDestino();
                    if (enderecoDestino === '') {
                        showToast('Selecione um endereço de destino.', 3);

                        registrarBtn.onclick = function() {
                            concludeBundle();
                        };
                        hideLoading();

                        return;
                    }
                } else {
                    enderecoDestino = '';
                }

                if (tableData.length < 1) { // criterio para identificar se a tabela possui itens
                    showToast('Não há itens no pacote para finalizar.', 3);
                    
                    registrarBtn.onclick = function() {
                        concludeBundle();
                    };
                    hideLoading();
                    
                    return;
                }

                const dataToSend = tableData.map(item => {
                    return {
                        ...item,
                        operacao: operation,  // adiciona a operacao (string: "S")
                        endereco_destino: enderecoDestino // adiciona o endereco de destino (string: "A.1")
                    };
                });
            
                fetch('/mov/carga/moving/bulk', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(dataToSend),
                })
                .then(response => response.json())
                .then(async (data) => {
                    if (data.success) {
                        showToast('Pacote concluído com sucesso! Recarregando tela...', 1, 4);
                        setTimeout(function() {
                            location.reload();
                        }, 4000);
                    } else {
                        console.error(data.error);
                        showToast(`<details><summary>Erro ao finalizar o pacote:</summary> ${data.error}</details>`, 3, 0);
                    }
                })
                .catch(error => {
                    console.error(error);
                    showToast(`<details><summary>Erro ao realizar movimentação em massa:</summary> ${error.message}</details>`, 3, 0);
                });
            }

            function getEnderecoDestino() {
                const letra = document.getElementById("bundleLetra").value;
                const numero = document.getElementById("bundleNumero").value;

                if (!letra || !numero) {
                    return '';
                }

                return letra + '.' + numero;
            }

            function toggleColumnVisibility() {
                const button = document.getElementById("toggleColumnButton");
                const header = document.getElementById("header-add-column");
                const actionCells = document.querySelectorAll(".action-cell");
            
                isColumnVisible = !isColumnVisible; // Alterna a visibilidade
            
                // Alternar visibilidade do cabeçalho
                header.style.display = isColumnVisible ? "table-cell" : "none";
            
                // Alternar visibilidade de cada célula da coluna de ação
                actionCells.forEach(cell => {
                    cell.style.display = isColumnVisible ? "table-cell" : "none";
                });
            }

            function toggleBundleContainer() {
                closeContainer() // closes the floating container

                const bundleContainer = document.getElementById("bundle-container");
                bundleContainer.style.display = bundleContainer.style.display === "none" ? "block" : "none";
                toggleColumnVisibility()
            }
            
            function addToBundle(rowIndex) {
                const bundleTable = document.getElementById("bundleTable");
                const bundleMessage = document.getElementById("bundleMessage");

                bundleTable.style.opacity = "1";
                bundleMessage.style.display = "none";
                

                // Obter a tabela de origem e a linha a ser copiada
                const originalRow = document.getElementById("row-" + rowIndex);
                
                // Obter valores de endereço e lote das células correspondentes
                const item = originalRow.cells[1].innerText.trim();
                const endereco = originalRow.cells[0].innerText.trim();
                const lote = originalRow.cells[3].innerText.trim();
                const qtde = originalRow.cells[4].innerText.trim().split(",")[0];
            
                // Verificar se o item já existe na tabela de destino
                if (isDuplicateItem(item, endereco, lote)) {
                    showToast(`${endereco} - ${item} (${lote}) já foi adicionado ao pacote!`, 3, 3);

                    return; // Não adicionar o item se já existir
                }
            
                // Obter a tabela de destino
                const table = document.getElementById("bundleTable");
            
                // Criar uma nova linha na tabela de destino
                const newRow = table.insertRow(table.rows.length);
            
                // Copiar cada célula da linha original para a nova linha, exceto a coluna de ação "Adicionar"
                for (let i = 0; i < originalRow.cells.length - 2; i++) { // "- 2" para não copiar a última célula (célula de ação)
                    const cell = newRow.insertCell(i);
                    cell.innerHTML = originalRow.cells[i].innerHTML;
                }
            
                // Adicionar uma célula para quantidade com um input de número
                const qtdeCell = newRow.insertCell(originalRow.cells.length - 2);
                qtdeCell.innerHTML = `
                    <span>
                        <button 
                            type="button" 
                            onclick="maximizeValue(this)" 
                            style="
                                color: white;
                                border: none;
                                height: 14px;
                                font-size: 11px;
                                cursor: pointer;
                                padding: 0px 5px;
                                margin-left: 5px;
                                border-radius: 4px;
                                background-color: var(--cor-destaque);
                            ">
                            max
                        </button>
                        <input 
                            type="number" 
                            style="
                                margin: 0; 
                                width: 70px; 
                                height: 32px; 
                                text-align: right;
                                margin-right: 4px; 
                                padding-right: 2px; 
                                border: 1px solid var(--cor-destaque); 
                                font-family: 'Reddit Mono', sans-serif;
                            " 
                            min="1" 
                            max="${qtde}"
                            value="0" 
                        />
                        <span>/ ${qtde}</span>
                    </span>
                `;
                
                // Adicionar uma célula de ação com um botão de remoção (texto EXCLUIR)
                const actionCell = newRow.insertCell(originalRow.cells.length - 1);
                actionCell.classList.add("action-cell");
                actionCell.classList.add("red");
                actionCell.style.display = "table-cell";
                
                // Definir o evento onclick para remover a linha
                actionCell.onclick = function() { 
                    removeRow(this); 
                };
                actionCell.textContent = "REMOVER";

                showToast(`${endereco} - ${item} (${lote}) adicionado ao pacote!`, 0, 3);
            }

            function maximizeValue(button) {
                // Seleciona o campo de input anterior ao botão "Max"
                const input = button.parentNode.querySelector('input[type="number"]');
                
                // Verifica se o input foi encontrado e ajusta o valor para o máximo permitido
                if (input) {
                    input.value = input.max;
                }
            }
            
            function removeRow(cell) {
                const row = cell.closest("tr");
                row.parentNode.removeChild(row);
            }
            
            function isDuplicateItem(item, endereco, lote) {
                const table = document.getElementById("bundleTable");
                for (let i = 0; i < table.rows.length; i++) {
                    const row = table.rows[i];
                    const rowItem = row.cells[1]?.innerText.trim();
                    const rowEndereco = row.cells[0]?.innerText.trim();
                    const rowLote = row.cells[3]?.innerText.trim();
            
                    // Verificar se o endereço e o lote são iguais aos da linha atual
                    if (rowItem == item && rowEndereco === endereco && rowLote === lote) {
                        return true; // Item duplicado encontrado
                    }
                }
                return false; // Nenhum item duplicado encontrado
            }

            function getBundleOperation() {
                const operacao = document.getElementById("bundleOperation").value;
                return operacao;
            }

            function getTableDataAsDict() {
                const table = document.getElementById("bundleTable");
                const data = [];
                
                // percorrer todas as linhas da tabela (ignorando o cabeçalho)
                for (let i = 2; i < table.rows.length; i++) { // começando de 2 para ignorar a linha de cabeçalho
                    const row = table.rows[i];

                    // verificar se a linha contém "ADICIONAR"
                    if (row.cells[row.cells.length - 1]?.innerText.trim() === "ADICIONAR") {
                        continue; // ignora a linha
                    }
                    
                    const rowData = {};
                    
                    const inputCell = row.cells[4]?.querySelector('input'); // input na celula
                    const quantidade = parseInt(inputCell.value) || 0; // (valor do input)
                    
                    if (quantidade === 0) { 
                        continue; 
                    }
                    
                    // endereço: combinação de rua_letra e rua_numero
                    rowData['rua_letra'] = row.cells[0]?.innerText.trim().split(".")[0];
                    rowData['rua_numero'] = row.cells[0]?.innerText.trim().split(".")[1];
                    
                    rowData['cod_item'] = row.cells[1]?.innerText.trim();
                    rowData['lote_item'] = row.cells[3]?.innerText.trim();
                    
                    rowData['qtde_sep'] = quantidade; 
                    
                    rowData['user_id'] = userID;
                    rowData['nrocarga'] = "0"; // valor fixo
                    
                    data.push(rowData);
                }
                return data;
            }

            $(function() {
                $("#formBuscarItens").submit(function(event) {
                    event.preventDefault();
                    var codigo = $("#input_code").val();
                    buscarItens(codigo);
                    $("#input_code").val('');
                });
            });

            $("#cod_item").change(function(event) {
                event.preventDefault();
                var codigo = $("#cod_item").val();
                buscarItens(codigo);
                $("#input_code").val(ultimoCodigo);
            });

            function buscarItens(codigo) {
                $.ajax({
                    type: "POST",
                    url: "/get/item",
                    data: { input_code: codigo },
                    success: function(response) {
                        $("#desc_item").val(response.json_desc_item);
                        $("#cod_item").empty();
                        if (response.json_cod_item_ocurr) {
                            $("#json_cod_item_ocurr").text('( ' + response.json_cod_item_ocurr + ' )');
                        } else {
                            $("#json_cod_item_ocurr").text('');
                        }

                        if (response.json_cod_item.length > 1) {
                            hideLockLabel("label-cod_item");
                            ultimoCodigo = codigo
                        }

                        if (response.json_cod_item) {
                            response.json_cod_item.forEach(function(item) {
                                $("#cod_item").append("<option value='" + item + "'>" + item + "</option>");
                            });
                        } else {
                            $("#cod_item").append("<option value=''></option>");
                        }
                        $("#lote_item").val(response.json_cod_lote);
                        
                        if (response.json_cod_lote === "") {
                            hideLockLabel("label-cod_lote")
                            $("#lote_item").prop("readonly", false);
                        } else {
                            $("#lote_item").prop("readonly", true);
                        }
                    },
                    error: function(error) {
                        console.error("Erro ao buscar itens:", error);
                    }
                });
            }

            document.getElementById("form-field").addEventListener("submit", function() {
                document.getElementById("submitform").disabled = true;
            });
            
        </script>

    {% include 'shared/footer.html' %}