<option value="A"  >A</option>
<option value="B"  >B</option>
<option value="C"  >C</option>
<option value="D"  >D</option>
<option value="PP1">PP1</option>
<option value="PP2">PP2</option>
<option value="PP3">PP3</option>
<option value="PP4">PP4</option>
<option value="AM" >AMOSTRA</option>
<option value="CAM">CÂMARA FRIA</option>
<!--
    <option value="DEVOL">DEVOLUÇÃO</option>
    <option value="LOJA" >LOJA</option>
    <option value="PROD" >PRODUÇÃO</option>
    <option value="SEPAR">SEPARAÇÃO</option>
-->