/* Footer styles */
#pre-footer {
    bottom: 0;
    color: #fff;
    height: 10px;
    display: flex;
    z-index: 1001;
    padding: 5px 0;
    position: fixed;
    min-width: 100%;
    user-select: none;
    align-items: center;
    pointer-events: none;
    justify-content: space-between;
    background-color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

#pre-footer img {
    height: 14px;
    width: 14px;
    margin-right: 4px;
    padding: 2px;
}

#footer {
    bottom: 0;
    display: flex;
    color: white;
    margin-top: 84px;
    padding: 32px 0;
    user-select: none;
    text-align: center;
    align-items: center;
    padding-bottom: 42px;
    flex-direction: column;
    box-shadow: 0 0 46px rgba(0, 0, 0, 0.5);
    background-color: #2b2b2b;
}

#footer p, #footer ul {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

#footer li {
    margin: 0;
}

#footer a {
    margin: 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

#footer a:hover {
    color: var(--main-color);
}

#footer img {
    height: 18px; 
    width: 18px;
}

img.footer {
    width: 28px;
    filter: none;
    height: auto;
    margin-top: 0;
    transition: filter 0.2s;
}

img.footer:hover {
    filter: invert(95%)
}
