/* Map styles */
.map-grid {
    display: grid;
    gap: 0;
    margin-top: 10px;
    grid-template-columns: repeat(36, 24px);
    cursor: grab;
    background-color: #ccc;
    padding: 8px;
    border: 80px solid #b1b1b1;
}

.map-grid:hover {
    cursor: grabbing;
}

.map-buttons {
    display: flex;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1000;
    flex-direction: column;
}

.map-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--cor-destaque);
    margin: 4px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.map-cell {
    text-align: center;
    background-color: transparent;
    min-height: 30px;
    padding: 2px;
    position: relative;
}

.empty-cell {
    background-color: #e0e0e0;
}

.stacked-bar {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 20px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}

.item-bar {
    width: 100%;
    position: relative;
    transition: background-color 0.3s ease;
}

.legend {
    display: none;
    overflow: visible;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border: 1px solid #ddd;
    font-size: 0.8em;
    z-index: 10;
    text-align: center;
    white-space: nowrap;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
}

.item-bar:hover .legend {
    display: block;
}

.invisible-cell {
    border: 1px solid transparent;
    color: transparent;
    background-color: #ccc;
    min-height: 60px;
    position: relative;
    cursor: default;
}

.corredor-space {
    grid-column: 1 / -1;
    min-height: 40px;
    background-color: #ccc;
}

#map {
    position: relative;
    margin-top: auto;
}

#map-container {
    background-color: #f4f4f4;
    overflow: hidden;
    max-width: 50%;
    border-radius: 16px;
    height: 100%;
}