/* Table styles */
table {
    width: 100%;
    margin-top: 4px;
    border-collapse: collapse;
}

th, td {
    height: 18px;
    padding: 10px;
    font-size: 11px;
    overflow: hidden;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid rgb(221, 221, 221);
    font-variant-numeric: tabular-nums;
}

th {
    color: #fff;
    position: sticky;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-family: 'Inter', sans-serif;
    background-color: rgba(52, 49, 50, 1);
    border-bottom: 4px solid var(--main-color);
}

th.hoverable {
    cursor: pointer;
}

th.hoverable:hover {
    opacity: 0.8;
}

td {
    background-color: rgb(243, 243, 243);
    font-family: Reddit Mono;
    font-size: 12px;
    font-weight: 500;
}

.table-overflow {
    flex: 1;
    width: 100%;
    text-wrap: wrap;
    overflow-y: auto;
    min-height: 200px;
    overflow-x: hidden;
}

.selectable-row {
    cursor: pointer;
}

.selectable-row:hover td,
.hover-related td {
    color: var(--main-color);
    background-color: #e7e7e7;
}

.selectable-row:hover td.keep-color,
.hover-related td.keep-color {
    color: inherit;
}

.selectable-row.active td {
    opacity: 0.9;
    color: white;
    background-color: var(--main-color);
}

.unselectable-row {
    cursor: not-allowed;
}

.selectable-row.sub-total td {
    color: rgb(27, 26, 26);
    transition: 0.1s ease-in-out all;
    background-color: rgba(52, 49, 50, 0.1);
    border-bottom: 4px solid var(--main-color);
}

.sub-total td {
    color: rgb(27, 26, 26);
    transition: 0.1s ease-in-out all;
    background-color: rgba(52, 49, 50, 0.1);
    border-bottom: 4px solid var(--main-color);
}

.selectable-row.sub-total:hover td {
    color: rgb(27, 26, 26);
    transition: 0.1s ease-in-out all;
    background-color: rgba(52, 49, 50, 0.1);
}

.selectable-row.sub-total.active td {
    color: white !important;
    background-color: var(--main-color);
}

.selectable-row.sub-total.active:hover td {
    opacity: 0.5;
}

th.normal-size {
    width: 100px;
}

th.bigger-size {
    width: 400px;
}

.action-cell {
    cursor: pointer;
    display: none;
    max-width: 60px; 
    text-align: center; 
    color: white; 
    font-weight: 500;
    padding: 0;
}

.action-cell.red {
    background-color: #d72828; 
    border-color: #d72828; 
}

.action-cell.green {
    background-color: #34bb34; 
    border-color: #34bb34; 
}

.action-cell.blue {
    background-color: #346ebb; 
    border-color: #346ebb; 
}

.td-more {
    position: relative;
    width: 10px;
    padding: 5px;
    border: 0 solid #ddd;
    background-color: transparent;
}

.td-more .tooltiptext {
    left: 50%;
    opacity: 0;
    width: 70px;
    bottom: 30%;
    padding: 5px;
    z-index: 1100;
    overflow: auto;
    text-wrap: wrap;
    color: #ffffff;
    max-width: 120px;
    visibility: hidden;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    pointer-events: none;
    background-color: #333;
    transition: opacity 0.3s;
    transform: translateX(-75%);
}

.td-more:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}

.number {
    font-family: Reddit Mono;
}

/* Calendar table */
table.calendar {
    width: 100%;
    border-collapse: collapse;
}

th.calendar, td.calendar {
    width: 80px;
    height: 40px;
    vertical-align: top;
}


td.number {
    text-align: right;
}

td.second-plan {
    color: #7e7e7e;
}

th.calendar, td.calendar {
    width: 80px;
    height: 40px;
    vertical-align: top;
}

th.calendar {
    background-color: #fafafa
}

.weekday {
    background-color: #fafafa
}

.weekend {
    background-color: #f0f0f0;
}