/* Utility classes */
.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.checked {
    background-color: var(--main-color);
}

.centralizado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.algn-cntr {
    align-items: center;
}

.limit-lenght {
    max-width: 256px;
}

.readonly {
    color: #818181;
}

/* Message styles */
div.msg-error {
    margin: 8px;
    padding: 12px;
    color: maroon;
    border: 1px solid rgba(255, 0, 0, 0.6);
    background-color: rgba(240, 128, 128, 0.5);
}

div.msg-success {
    margin: 8px;
    padding: 12px;
    color: rgb(0, 128, 21);
    border: 1px solid rgba(11, 192, 11, 0.6);
    background-color: rgba(128, 240, 143, 0.5);
}

div.msg-info {
    margin: 8px;
    padding: 12px;
    color: rgb(0, 51, 128);
    border: 1px solid rgba(0, 68, 255, 0.6);
    background-color: rgba(128, 180, 240, 0.5);
}

div.msg-alert {
    margin: 8px;
    padding: 12px;
    color: rgb(212, 129, 5);
    border: 1px solid rgba(255, 145, 0, 0.6);
    background-color: rgba(240, 204, 128, 0.5);
}
