{% extends "pages/index/index.j2" %}
{% from "components/home/action-card.j2" import home_action %}
{% from "components/home/module-card.j2" import home_module_card %}

{% block grid_buttons %}
    {{ home_action('home_prod', 'Produção', 'svg/package-open.svg', description='Acesse as ferramentas da empresa!', featured=True) }}
    {{ home_action('cde_profile', 'Perfil', 'svg/circle-user.svg', page_id='CDE003') }}
    {{ home_action('home_logi', 'Logística', 'svg/truck.svg', description='Acesse as ferramentas da empresa!', featured=True) }}
    {{ home_action('users', 'Usuários', 'svg/user-gear.svg', page_id='CDE016') }}
    {{ home_action('cde_cfg', 'Ajustes', 'svg/cog.svg', description='Configure o sistema...', featured=True) }}
    {{ home_action('about', 'Sobre', 'svg/circle-help.svg', page_id='CDE004') }}
{% endblock grid_buttons %}

{% block side_banner %}
    {{ home_module_card('AMBIENTE CDE', 'img/cde-logo-w.png', 'v' ~ app_version[0] ~ ' (beta)', alt='CDE') }}
{% endblock side_banner %}
