{% extends "pages/index/index.html" %}
    
    {% block title %}
        <title>Página Inicial | PRODUÇÃO</title>
        <link rel="icon" href="{{ url_for('static', filename='hp-logo-only.svg') }}" type="image/x-icon">

        {% include 'shared/header/hp-header.html' %}
    {% endblock title %}

    {% block brow %}
        <h1>
            <a class="id-page filled" href="{{ url_for('home') }}">CDE</a>
            <span style="margin: 0 8px;"></span>
            <span>PRODUCAO</span>
            <span class="id-page">{{session['id_page']}}</span>
        </h1>
        <div class="aux-buttons">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/cog.svg') }}" title="AJUSTES" alt="" onclick="window.location.href='{{ url_for('cde_cfg') }}';">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-user.svg') }}" title="USUÁRIO" alt="" onclick="window.location.href='{{ url_for('cde_account') }}';">
            <hr class="vert">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-help.svg') }}" title="AJUDA" alt="" onclick="window.location.href='{{ url_for('about') }}';">
            <hr class="vert">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="VOLTAR" alt="" onclick="goBack()">
        </div>
    {% endblock brow %}
        
    {% block grid_buttons %}
        <div class="item featured" onclick="window.location.href='{{ url_for('producao') }}';">
            <div class="split-h algn-cntr">
                <div style="text-align: left">
                    <h2 class="text-default">Processamento</h2>
                    <p class="text-default bold"><span class="id-page">PRC010&nbsp;•&nbsp;</span>Programe o processamento.</p>
                </div>
                <a class="btn-fancy button-mini">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/producao.svg') }}" alt="">
                </a>
            </div>
        </div>
        <div class="item" onclick="window.location.href='{{ url_for('etiqueta') }}';">
            <div class="split-h algn-cntr">
                <div style="text-align: left">
                    <h2 class="text-default">Etiquetas</h2>
                    <p class="text-default bold"><span class="id-page">OUT014</span></p>
                </div>
                <a class="btn-fancy button-mini">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/sticky-note.svg') }}" alt="">
                </a>
            </div>
        </div>
        <div class="item featured" onclick="window.location.href='{{ url_for('envase') }}';">
            <div class="split-h algn-cntr">
                <div style="text-align: left">
                    <h2 class="text-default">Envase</h2>
                    <p class="text-default bold"><span class="id-page">ENV006&nbsp;•&nbsp;</span>Programe o envase.</p>
                </div>
                <a class="btn-fancy button-mini">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/recep-drop.svg') }}" alt="">
                </a>
            </div>
        </div>

        <div class="item" onclick="window.location.href='{{ url_for('rotulo') }}';">
            <div class="split-h algn-cntr">
                <div style="text-align: left">
                    <h2 class="text-default">Rótulo</h2>
                    <p class="text-default bold"><span class="id-page">OUT015</span></p>
                </div>
                <a class="btn-fancy button-mini">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/roll.svg') }}" alt="">
                </a>
            </div>
        </div>
        <div class="item featured" onclick="window.location.href='{{ url_for('produtos') }}';">
            <div class="split-h algn-cntr">
                <div style="text-align: left">
                    <h2 class="text-default">Produtos</h2>
                    <p class="text-default bold"><span class="id-page">ITE005&nbsp;•&nbsp;</span>Gerencie produtos cadastrados.</p>
                </div>
                <a class="btn-fancy button-mini">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/produtos.svg') }}" alt="">
                </a>
            </div>
        </div>
    {% endblock grid_buttons %}

    {% block side_banner %}
        <div class="side-banner" style="background-color: var(--cor-destaque)">
            <img class="side-banner" src="{{ url_for('static', filename='img/hp-side-banner.jpg') }}" alt="">
        </div>
    {% endblock side_banner %}
