{% extends "pages/index/index.j2" %}
{% from "components/home/action-card.j2" import home_action %}
{% from "components/home/module-card.j2" import home_module_card %}

{% block grid_buttons %}
    {{ home_action('producao', 'Processamento', 'svg/producao.svg', page_id='PRC010', description='Programe o processamento.', featured=True) }}
    {{ home_action('etiqueta', 'Etiquetas', 'svg/sticky-note.svg', page_id='OUT014') }}
    {{ home_action('envase', 'Envase', 'svg/recep-drop.svg', page_id='ENV006', description='Programe o envase.', featured=True) }}
    {{ home_action('rotulo', 'Rótulo', 'svg/roll.svg', page_id='OUT015') }}
    {{ home_action('produtos', 'Produtos', 'svg/produtos.svg', page_id='ITE005', description='Gerencie produtos cadastrados.', featured=True) }}
{% endblock grid_buttons %}

{% block side_banner %}
    {{ home_module_card('PRODUÇÃO', 'svg/producao.svg', 'Planeje, execute e acompanhe.') }}
{% endblock side_banner %}
