{% extends "pages/index/index.j2" %}

    {% block grid_buttons %}
        <div class="item featured" onclick="window.location.href='{{ url_for('producao') }}';">
            <div class="split-h algn-cntr">
                <div style="text-align: left">
                    <h2 class="text-default">Processamento</h2>
                    <p class="text-default bold"><span class="id-page">PRC010&nbsp;•&nbsp;</span>Programe o processamento.</p>
                </div>
                <a class="btn-fancy button-mini">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/producao.svg') }}" alt="">
                </a>
            </div>
        </div>
        <div class="item" onclick="window.location.href='{{ url_for('etiqueta') }}';">
            <div class="split-h algn-cntr">
                <div style="text-align: left">
                    <h2 class="text-default">Etiquetas</h2>
                    <p class="text-default bold"><span class="id-page">OUT014</span></p>
                </div>
                <a class="btn-fancy button-mini">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/sticky-note.svg') }}" alt="">
                </a>
            </div>
        </div>
        <div class="item featured" onclick="window.location.href='{{ url_for('envase') }}';">
            <div class="split-h algn-cntr">
                <div style="text-align: left">
                    <h2 class="text-default">Envase</h2>
                    <p class="text-default bold"><span class="id-page">ENV006&nbsp;•&nbsp;</span>Programe o envase.</p>
                </div>
                <a class="btn-fancy button-mini">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/recep-drop.svg') }}" alt="">
                </a>
            </div>
        </div>

        <div class="item" onclick="window.location.href='{{ url_for('rotulo') }}';">
            <div class="split-h algn-cntr">
                <div style="text-align: left">
                    <h2 class="text-default">Rótulo</h2>
                    <p class="text-default bold"><span class="id-page">OUT015</span></p>
                </div>
                <a class="btn-fancy button-mini">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/roll.svg') }}" alt="">
                </a>
            </div>
        </div>
        <div class="item featured" onclick="window.location.href='{{ url_for('produtos') }}';">
            <div class="split-h algn-cntr">
                <div style="text-align: left">
                    <h2 class="text-default">Produtos</h2>
                    <p class="text-default bold"><span class="id-page">ITE005&nbsp;•&nbsp;</span>Gerencie produtos cadastrados.</p>
                </div>
                <a class="btn-fancy button-mini">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/produtos.svg') }}" alt="">
                </a>
            </div>
        </div>
    {% endblock grid_buttons %}

    {% block side_banner %}
        <div class="side-banner" style="background-color: var(--main-color)">
            <img class="side-banner" src="{{ url_for('static', filename='img/hp-side-banner.jpg') }}" alt="">
        </div>
    {% endblock side_banner %}
