<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% block title %}
            
        {% endblock title %}
        <div style="all: unset; display: flex; min-width: 100%; flex-wrap: wrap; gap: 16px; margin: 0 0 16px 0;">
            <div class="titles-container flex-h title-centerer">
            {% block brow %}
                
            {% endblock brow %}
            </div>
        </div>
        
        <div id="divContent" style="flex-wrap: wrap;">
            {% include "components/advert.html" %}
            {% if 'user_grant' in session %}
                {% if not about %}
                    <div class="tables-container flex-v" style="border-radius: 44px; min-height: unset; height: 628px; padding: 24px;">
                        <div class="flex-h" style="min-width: 100%; gap: 30px">
                            {% block side_banner %}  
                               
                            {% endblock side_banner %}
                    
                            <div style="display: flex; flex-direction: column; justify-content: space-between">
                                <div>
                                    <div>
                                        <div class="salute-text">
                                            <h1 class="saudacao" id="saudacao"></h1>
                                            <p class="phrase disabled" id="frase-motivacional">“{{ frase }}”</p>
                                        </div>
                                    </div>
                                    <hr style="margin-left: 20px; width: 20%;">
                                </div>
                                <div class="container-grid" style="margin-bottom: 32px; padding: 10px 0">
                                    {% block grid_buttons %}
                                        
                                    {% endblock grid_buttons %}
                                </div>
                                <div class="split-h" style="padding: 0; width: auto;">
                                    <a class="btn-fancy button-mini disabled" href="{{ url_for('index') }}">
                                        <img class="svg" src="{{ url_for('static', filename='svg/cde-logo-only-w.svg') }}" alt="">
                                    </a>
                                    <p style="color: #7e7e7e">Centralized Data Engine (CDE)</p>
                                    <a class="btn-fancy button-mini" href="{{ url_for('cde_cfg') }}">
                                        <img class="svg-invert" src="{{ url_for('static', filename='svg/cog.svg') }}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="flex-h" style="margin: 0 80px; gap: 40px">
                        <div style="height: 100%; display: flex; flex-direction: column; justify-content: space-between">
                            <div>
                                <div class="salute-text">
                                    <h1>Sobre</h1>
                                    <p class="phrase" id="frase-motivacional">Centralized Data Engine - CDE</p>
                                </div>
                                <hr style="margin-left: 20px; width: 20%;">
                                <div>
                                    <p class="flex-v" style="align-items: start; gap: 0; margin-left: 20px; text-align: left; font-size: 16px">
                                        <span>O software CDE tem sua abordagem centralizada no usuário, melhorando a produtividade, bem como a centralização de atividades da empresa, promovendo soluções objetivas e evolução contínua da plataforma à serviço da empresa.</span>
                                        <span style="margin-bottom: 10px;">O mesmo teve seu primeiro release em <span style="font-weight: 550;">janeiro de 2024</span> e segue com seu desenvolvimento até o presente momento.</span>
                                        <span style="font-weight: 550; color: #ee7e7e">O sistema está em fase beta!</span>
                                        <span style="font-size: 10px; font-style: italic;">Versão: v{{ app_version[0] }} ({{ app_version[1] }})</span>
                                    </p>
                                </div>
                            </div>
                            <div class="split-h">
                                <p class="flex-v" style="gap: 0; align-items: flex-start; text-align: left; font-size: 14px; padding: 0; margin: 0; justify-content: flex-start;">
                                    <span>Released under the MIT License.</span>
                                    <span style="font-weight: 550">Copyright © 2025 Lucas G. Bonato</span>
                                </p>
                                <div style="align-items: end;">
                                    <div class="flex-h" style="gap: 12px; border-radius: 8px; margin-top: 0">
                                        <a style="margin-top: 0" href="https://linkedin.com/in/lucas-bonato/" target="_blank"><img class="svg-invert-hover opaque" src="{{ url_for('static', filename='svg/linkedin.svg') }}" alt="LinkedIn"></a>
                                        <a style="margin-top: 0" href="https://github.com/bon4to" target="_blank"><img class="svg-invert-hover opaque" src="{{ url_for('static', filename='svg/github.svg') }}" alt="GitHub"></a>
                                        <a style="margin-top: 0" href="mailto:bon4to@icloud.com" target="_blank"><img class="svg-invert-hover opaque" src="{{ url_for('static', filename='svg/inbox.svg') }}" alt="E-Mail"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side-banner" style="background-color: var(--main-color); filter: brightness(0.95)">
                            <img class="side-banner" src="{{ url_for('static', filename='img/cde-about.jpg') }}" alt="Imagem de rawpixel.com no Freepik">
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if not about %}
                <div id="recent-pages-container" class="tables-container split-v" style="height: 628px; min-height: unset;  max-width: 30%; min-width: 16%; border: 1px solid var(--main-color); border-radius: 44px; padding: 24px;">
                    <div id="recent-pages">
                        <h1 class="text-main-color" style="font-size: 14px; text-align: right;">Páginas Recentes:</h1>
                        <hr style="margin-right: 4px; width: 20%;">
                        <div id="recent-pages-buttons-container">
                            <!-- Os botões serão inseridos aqui -->
                        </div>
                    </div>
                    <a class="hyperlink" onclick="clearRecentPages()">LIMPAR HISTÓRICO</a>
                </div>
            {% endif %}
        </div>
        
        <script>
            function getSaudacao() {
                let saudacao;
                let horaAtual = new Date().getHours();

                if (horaAtual >= 5 && horaAtual < 12) {
                    saudacao = "Bom dia, ";
                } else if (horaAtual >= 12 && horaAtual < 18) {
                    saudacao = "Boa tarde, ";
                } else {
                    saudacao = "Boa noite, ";
                }
                return saudacao;
            }
            let salute = getSaudacao() + "<span class='text-main-color'>{{ session.get('user_name') }}</span>!";
            document.getElementById("saudacao").innerHTML = salute;

        </script>

        {% include 'shared/footer.html' %}

        <script>
            loadRecentPages();
        </script>