{% extends "pages/index/index.j2" %}
{% from "components/home/action-card.j2" import home_action %}
{% from "components/home/module-card.j2" import home_module_card %}

{% block grid_buttons %}
    {{ home_action('cargas', 'Cargas', 'svg/truck.svg', page_id='MOV006', description='Faça separações de carga.', featured=True) }}
    {{ home_action('faturado', 'Faturado', 'svg/package-check.svg', page_id='MOV005') }}
    {{ home_action('mov_request', 'Requisições', 'svg/hand-helping.svg', page_id='MOV007', description='Realize requisições.', featured=True) }}
    {{ home_action('estoque', 'Estoque', 'svg/boxes.svg', page_id='MOV004') }}
    {{ home_action('mov', 'Movimentar', 'svg/arrow-up-down.svg', page_id='MOV002', description='Movimente manualmente.', featured=True) }}
    {{ home_action('historico', 'Histórico', 'svg/history.svg', page_id='MOV003') }}
{% endblock grid_buttons %}

{% block side_banner %}
    {{ home_module_card('LOGÍSTICA', 'svg/truck.svg', 'Movimente com controle e precisão.') }}
{% endblock side_banner %}
