{% extends "pages/index/index.html" %}
    
    {% block title %}
        <title>Página Inicial | TRANS LÉGUA</title>
        <link rel="icon" href="{{ url_for('static', filename='tl-logo-only.svg') }}" type="image/x-icon">

        {% include 'shared/header/tl-header.html' %}
    {% endblock title %}

    {% block brow %}
        <h1>
            <a href="/home">INICIO</a>
            <span class="dash">/</span>
            <a href="/home">CDE</a>
            <span class="dash">/</span>
            <span>TL</span>
            <span class="id-page">{{session['id_page']}}</span>
        </h1>
        <div class="aux-buttons">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/cog.svg') }}" title="CONFIGURAÇÕES" alt="" onclick="window.location.href='{{ url_for('in_dev') }}';">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-user.svg') }}" title="USUÁRIO" alt="" onclick="window.location.href='{{ url_for('login') }}';">
            <hr class="vert">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-help.svg') }}" title="AJUDA" alt="" onclick="window.location.href='{{ url_for('about') }}';">
            <hr class="vert">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="SAIR" alt="" onclick="goBack()">
        </div>
    {% endblock brow %}
    
    {% block grid_buttons %}
        <div class="item featured" onclick="window.location.href='{{ url_for('mov') }}';">
            <div class="split-horizontal algn-cntr">
                <div style="text-align: left">
                    <h2 class="text-default">Movimentar</h2>
                    <p class="text-default bold"><span style="font-size: 14px" class="id-page">MOV002&nbsp;•&nbsp;</span>Faça movimentações no estoque.</p>
                </div>
                <a class="btn-fancy button-mini">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/arrow-up-down.svg') }}" alt="">
                </a>
            </div>
        </div>
        <div class="item" onclick="window.location.href='{{ url_for('historico') }}';">
            <div class="split-horizontal algn-cntr">
                <div style="text-align: left">
                    <h2 class="text-default">Histórico</h2>
                    <p class="text-default bold"><span style="font-size: 14px" class="id-page">MOV003</span></p>
                </div>
                <a class="btn-fancy button-mini">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/history.svg') }}" alt="">
                </a>
            </div>
        </div>
        <div class="item" onclick="window.location.href='{{ url_for('estoque') }}';">
            <div class="split-horizontal algn-cntr">
                <div style="text-align: left">
                    <h2 class="text-default">Estoque</h2>
                    <p class="text-default bold"><span style="font-size: 14px" class="id-page">MOV004</span></p>
                </div>
                <a class="btn-fancy button-mini">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/boxes.svg') }}" alt="">
                </a>
            </div>
        </div>
        <div class="item" onclick="window.location.href='{{ url_for('produtos') }}';">
            <div class="split-horizontal algn-cntr">
                <div style="text-align: left">
                    <h2 class="text-default">Produtos</h2>
                    <p class="text-default bold"><span style="font-size: 14px" class="id-page">ITE005</span></p>
                </div>
                <a class="btn-fancy button-mini">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/produtos.svg') }}" alt="">
                </a>
            </div>
        </div>
        <div class="item" onclick="window.location.href='{{ url_for('faturado') }}';">
            <div class="split-horizontal algn-cntr">
                <div style="text-align: left">
                    <h2 class="text-default">Faturado</h2>
                    <p class="text-default bold"><span style="font-size: 14px" class="id-page">MOV005</span></p>
                </div>
                <a class="btn-fancy button-mini">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/package-check.svg') }}" alt="">
                </a>
            </div>
        </div>
        <div class="item featured" onclick="window.location.href='{{ url_for('cargas') }}';">
            <div class="split-horizontal algn-cntr">
                <div style="text-align: left">
                    <h2 class="text-default">Cargas</h2>
                    <p class="text-default bold"><span style="font-size: 14px" class="id-page">MOV006&nbsp;•&nbsp;</span>Faça separações de carga.</p>
                </div>
                <a class="btn-fancy button-mini">
                    <img class="svg-invert" src="{{ url_for('static', filename='svg/truck.svg') }}" alt="">
                </a>
            </div>
        </div>
    {% endblock grid_buttons %}

    {% block side_banner %}
        <div class="side-banner" style="background-color: var(--cor-destaque)">
            <img class="side-banner" src="{{ url_for('static', filename='img/tl-side-banner.jpg') }}" alt="">
        </div>
    {% endblock side_banner %}
