/* ESTILIZAÇÃO P/ TELAS MENORES*/

@media screen and (max-width: 1500px) {
    #filterBreak {
        width: 100%;
    }

    #recent-pages-container {
        display: none;
    }
    
    .container-grid .item h2 {
        font-size: 20px;
    }

    .container-grid .item p.text-default,
    .container-grid .item span.id-page {
        font-size: 12px;
    }

    .item {
        grid-column: span 2;
    }
    
    #divContent {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1300px) {
    header.main-header, .sidebar, #footer, section.banner.text-overlay, .user-name, .side-banner, .logged-header {
        display: none;
    }
    .view-width {
        max-width: unset
    }
    .container-grid {
        grid-template-columns: 1.2fr 1.2fr;
        width: 400px;
    }
    .item {
        grid-column: span 2;
    }

}

@media screen and (max-width: 1000px) {
    .h1 {
        font-size: 20px;
    }
    
    #divContent {
        flex-wrap: nowrap;
    }
}


@media screen and (max-width: 800px) {
    .tables-container {
        min-width: 100vw;
    }
}
/*
@media screen and (max-width: 1300px) {
    
    .forms-container {
        max-width: none;
        width: 100%;
    }
    .banner img.blurable {
        top: -260px;
        left: 0;
    }
    .side-banner {
        min-width: 30%;

    }
    img.side-banner {
        display: none;
    }   
}


@media screen and (max-width: 1000px) {
    div.container {
        background-color: transparent;
    }
    .container {
        max-height: none;
    }
    .text-overlay, .user-name, .sidebar {
        display: none;
    }
}


@media screen and (max-width: 850px) {
    .banner img.blurable {
        top: -100px;
        left: 0;
    }
    .container-grid {
        grid-template-columns: 1.2fr;
        grid-template-rows: 1.2fr 1.2fr 1.2fr 1.2fr;
        grid-gap: 20px;
    }
    .featured {
        grid-column: span 1;
    }
}


@media screen and (max-width: 570px) {
    div.container {
        all: unset;
    }
    html {
        width: 570px;
        height: 100%;
        touch-action: manipulation;
        zoom: initial;
    }
    body {
        width: 570px;
        background-color: #ffffff;
        width: 100%;
    }
    .sidebar, .header-bar, header, .main-header, div#footer, img, .tables-container, section.banner.text-overlay, div.user-button, p.phrase {
        display: none;
    }
    .svg {
        display: block;
    }
    .mobile-container {
        position: fixed;
        font-size: 8px;
        left: 0;
        right: 0;
    }

    input.login {
        width: unset;
    }

    .container-grid {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .header-bar, header, .form-login, .svg-mobile {
        display: block;
        position: fixed;
        opacity: 1;
    }
    div.log {
        height: 140%;
    }
    .forms-container, .form-login {
        display: flex;
        align-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        scale: 0.9;
        position: absolute;
        box-shadow: none;

    }
    .alert-container {
        width: 75%;
        left: 50%;
    }
    h1 {
        margin-bottom: 2px;
    }
    .scrolled {
        all: unset;
    }
    div.form-login, .container {
        margin: 40px;
    }
    .version-info {
        font-size: 14px;
    }
    .container {
        display: flex;
        align-items: stretch;
        align-content: center;
        justify-content: center;
        height: unset;
        min-height: max-content;
    }
    .floating-container {
        display: flex;
        align-items: center;
        align-content: center;
    }
    .form-login {
        height: 100vh;
        width: 100vw;
        all: unset;
        display: flex;
        padding-left: 15px;
        scale: 0.9;
        position: absolute;
    }
    input, select {
        margin-left: 0;
    }
    input.btn-fancy {
        width: 250px;
    }

    .button-mini {
        opacity: 0;
    }

    .saudacao {
        display: none;
    }

    .container-grid {
        position: absolute;
        left: -20px;
        top: 10px;
    }
}

@media screen and (max-width: 350px) {
    html {
        line-height: 1.0;
    }
    .forms-container {
        scale: 0.75;
        top: 20px;
        position: unset;
    }
    header.main-header {
        height: 10px;
    }
    p.user-name, div.user-button, div.user-logger, img.svg-mobile {
        scale: 0.8;
        top: 4px;
    }
    .scrolled {
        all: unset;
    }
    .container {
        max-height: 450px;
    }

    .container-grid {
        position: absolute;
        left: -85px;
        top: 10px;
    }
}

