/* ESTILIZAÇÃO */

:root {
    --cor-cde: #3e5ea6;
    --cor-hp: #8f7943;
    --cor-tl: #ea5a26;
    --programmed-l1: 255, 172, 160;
    --programmed-l2: 181, 229, 140;
    --programmed-l3: 165, 165, 255;
    --programmed-l4: 255, 165, 80;
    --programmed-l5: 165, 235, 255;
    --programmed-l6: 255, 165, 225;
    --programmed-l7: 255, 220, 165;
}

html, body {
    height: 100%;
    font-family: 'Calibri', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    line-height: 1.5;
}

.cor-web {
    color: var(--cor-destaque);
}

body.dark-mode {
    background-color: #181818;
    color: #ffffff;
}

body.dark-mode div {
    background-color: #282828c7;
    color: white
}


body.dark-mode button {
    background-color: #444;
    color: #ffffff;
}


body.dark-mode h1, h2, h3, p {
    color: #ffffff;
}


span.id-page {
    font-size: 18px;
    font-family: Reddit Mono, monospace;
    color: var(--cor-destaque)
}

.container {
    display: flex;
    justify-content: flex-start;
    padding: 20px 100px;
    flex-wrap: wrap;
    height: max-content;
    min-width: 50px;
    min-height: 65vh;
    background-color: #f1f1f1;
}

.form-container,
.tables-container,
.tables-mobile {
    flex: 1;
    margin: 0 14px 14px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.2);
    padding: 12px 36px;
    padding-bottom: 22px;
    min-height: 75vh;
}

img {
    user-select: none;
}

.banner {
    height: 120px;
    overflow: hidden;
    z-index: 1000;
    user-select: none;
}

.banner img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    transform: translateY(0);
    transition: transform 0.3s ease-out;
}

.banner img.blurable {
    position: absolute;

    width: 100%;
    height: auto;
    top: -450px;

    scale: 1.02;
    filter: blur(3px) ;

    transition: filter 0.5s ease-out, transform 0.5s ease-out;
}

.banner img.blurable:hover {
    transform: scale(1.01);
    filter: blur(10px) ;
}

.nav-link.active {
    color: transparent;
    background-color: var(--cor-destaque);
}

header.main-header {
    display: flex;
    position: fixed;
    z-index: 1001;
    color: #fff;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
    background-color: rgba(52, 49, 50, 1);
    opacity: 0;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 50px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    user-select: none;
    transition: z-index 1.5s ease-out, opacity 0.45s;
}

header.main-header.scrolled {
    opacity: 0.99;
    z-index: 1002;
}

div.logo-container {
    display: flex;
    align-items: center;
    padding-left: 36px;
}

img.logo {
    width: 186px;
    height: auto;
    margin-right: 10px;
}

.text-overlay {
    position: relative;
    text-align: center;
    color: #fff;
}

div.back-modal {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: 2000;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    pointer-events: none;
    margin-bottom: 8px;
}

h1.title {
    text-align: center;
    width: 100%;
}

h2 {
    color: #333333;
    padding: 4px;
    font-size: 28px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

h3 {
    color: #333333;
    padding: 4px;
    font-size: 28px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0;
}

h4 {
    font-size: 16px;
    padding: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin: 0;
}

.readonly {
    color: #818181
}

#footer {
    background-color: rgba(34, 34, 34, 0.92);
    color: white;
    padding-top: 36px;
    padding-bottom: 22px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    margin-top: auto;
    user-select: none;
}

#footer p, #footer ul {
    margin: 0;
    padding: 0;
}

#footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#footer li {
    margin: 0 10px;
}

#footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer-links li {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    max-width: 100%;
    justify-content: start;
    height: 100%;
}

.centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 13px;
    margin-bottom: 6px;
    color: #222;
    font-weight: bold;
    width: 100%;
    user-select: none;
    font-family: "Inter", sans-serif;
}

br {
    user-select: none;
}

input.checkbox {
    height: 14px;
    width: 14px;
}

select, textarea, input {
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    background-color: #efefef;
    font-size: 12px;
    padding: 12px;
    width: 376px;
    border-radius: 8px;
    margin: 4px 8px 14px 8px;
    height: 42px;
    outline: none;
    font-family: "Inter", sans-serif;
    transition: border-color 0.2s ease-out;
}

select:focus, textarea:focus, input:focus {
    border-bottom: 2px solid var(--cor-destaque);
}

input.check {
    width: 16px;
    height: auto
}

input.max-input {
    width: 376px;
}

input.login {
    width: 300px;
}

input.address, select.address {
    width: 180px;
}

input.address-one, select.address-one {
    width: 244px;
}

input.address-three, select.address-three {
    width: 114px;
}

input.address-four, select.address-four {
    width: 57px;
}

textarea.address-observ {
    text-align: left;
    height: 84px;
    overflow-wrap: break-word;
    resize: none;
}

input:focus, select:focus, textarea:focus{
    outline: none;
    border: 1px solid var(--cor-destaque);
    border-bottom: 2px solid var(--cor-destaque);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

img.header {
    margin-right: 10px;
}

img.footer {
    width: 28px;
    height: auto;
    margin-top: 0;
    filter: none;
    transition: filter 0.2s;
}

img.footer:hover {
    filter: invert(95%)
}

.btn-fancy {
    width: 100%;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333132;
    color: #fff;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
    transition: box-shadow 0.3s ease-out, scale 0.3s ease-out, background-color 0.3s, letter-spacing 0.3s, border-radius 0.2s;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    margin: 4px auto 12px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.limit-lenght {
    max-width: 256px;
}

.btn-fancy:hover, .btn-fancy:focus {
    box-shadow: 0 0 6px var(--cor-destaque);
    background-color: var(--cor-destaque);
    letter-spacing: 3px;
    scale: 1.0;
    border-radius: 12px;
    color: #fff;
}

a {
    color: #3a77e8;
    text-decoration: none;
    font-size: 11px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    transition: color 0.3s;
    cursor: pointer;
}

a:hover {
    color: rgba(58, 119, 232, 0.8);
}

a.aux-button {
    color: #3a77e8;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    width: 100%;
}

div.sidebar {
    position: fixed;
    height: 100%;
    width: 80px;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1100;
    box-sizing: border-box;
    background-color: rgba(34, 34, 34, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a.sidebar {
    font-weight: normal;
    position: sticky;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 4px;
}

th, td {
    font-size: 11px;
    border: 1px solid #ddd;
    padding: 10px;
    height: 18px;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-variant-numeric: tabular-nums;
}

th {
    background-color: rgba(52, 49, 50, 1);
    color: #fff;
    font-family: 'Calibri Light';
    font-weight: bold;
    border-bottom: 4px solid var(--cor-destaque);
    
}

td {
    font-family: "Roboto", sans-serif;
    background-color: white;
}

.form-login,
.form-filter {
    margin: 0 auto;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 40px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    padding: 12px 20px;

}

.form-filter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 2000;
    width: 380px;
}

.form-login .generic {
    height: unset;
    max-height: unset;
    border-radius: 14px;
    width: 600px;
}

.form-login-input {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.box-case {
    background-color: #ffffff;
    max-width: 580px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.function-link {
    font-size: 12px;
    cursor: pointer;
}

.tables-container {
    transition: width 0.3s ease-out;
    max-height: 130%;
}

.form-container {
    max-width: 450px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;

}

.table-overflow {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    text-wrap: wrap;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-left: 5%;
}

hr {
    border-top: 1px solid #e5e5e5;
    width: 50%;
    margin: 10px auto;
}

hr.vert {
    border-top: 1px solid #e5e5e5;
    height: 50%;
    margin: auto 10px;
}

div.aux-buttons {
    display: flex;
    height: 38px;
}

header {
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 2.4em;
    font-weight: bold;
    height: 78px;
}

.bold {
    font-weight: normal;
}

.algn-cntr {
    align-items: center;
}

.button-mini {
    height: 45px;
    width: 45px;
    margin: unset;
}

.menu-container {
    flex-direction: row;
    max-width: max-content;
    height: max-content;
    margin-right: auto;
    margin-left: auto;
    padding: 24px;
}

.sidebar:hover {
    width: 150px;
}

.sidebar a {
    padding: 14px;
    text-decoration: none;
    font-size: 1px;
    color: rgba(34, 34, 34, 1);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #ffffff;
    font-size: 18px;
}

.sidebar a:hover .svg-white {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(30deg);
    fill: white;
    background-color: rgba(255, 255, 255, 0.94);
    border-radius: 20%;
}

.opaque {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 20%;
}

.sidebar a:hover .svg-none {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(30deg);
    background-color: rgba(0, 0, 0, 0.94);
    border-radius: 20%;
}

.sidebar .close-btn {
    position: absolute;
    top: 0;
    right: 24px;
    font-size: 36px;
    margin-left: 50px;
}

.close-btn {
    z-index: 1003;
}

div.split-horizontal {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div.centered {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.button-container {
    display: flex;
    justify-content: space-between;
}

button.close {
    all: unset;
    font-size: 24px;
    color: rgba(68, 68, 68, 0.87);
    cursor: pointer;
    z-index: 999;
    transition: ease all 0.5s;
}

button.bit-button {
    height: 26px;
    width: 26px;
    all: unset;
    font-size: 24px;
    color: rgba(68, 68, 68, 0.87);
    cursor: pointer;
    z-index: 999;
    font-weight: bold;
    transform: scaleX(-1);
    transition: ease all 0.5s;
}

.content {
    flex-grow: 1;
    padding: 16px;
}

.toggle-btn {
    all: unset;
    top: -5px;
    padding: 10px;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    z-index: 1003;
    position: fixed;
    text-shadow: #333132;
}

.toggle-btn:hover {
    color: var(--cor-destaque);
}

#floating-container {
    position: fixed;
    z-index: 990;
    display: none;
    height: max-content;
    width: 450px;
    background-color: white;
    transition: all 0.5s ease;
}

#floating-container.show {
    display: inline;
}

#floating-container.unfixed {
    top: 100px;
    left: 10px;
}

.fixed .tables-container {
    width: calc(100% - 300px);
}

.svg-link {
    cursor: pointer;
    user-select: none;
}

.hidden-button {
    display: none;
    width: 0;
    transition: width 0.3s ease-out;
}

.show-button {
    display: table-cell;
    width: 16px;
}

.svg-label {
    filter: invert(45%) sepia(0%) saturate(0%) hue-rotate(180deg);
    margin-left: 8px;
    height: 12px;
    width: 12px;
    user-select: none;
}

.svg-gray {
    filter: invert(30%) sepia(0%) saturate(0%) hue-rotate(180deg);
    height: 26px;
    width: 26px;
    padding: 6px;
    border-radius: 20%;
    transition: 0.2s ease all;
    user-select: none;
    cursor: pointer;

}

.svg-gray:hover, .svg-gray:focus {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
    background-color: var(--cor-destaque);

}

.svg-orange {
    filter: invert(100%) sepia(0%) saturate(0%);
    padding: 6px;
    border-radius: 100%;
    background-color: var(--cor-destaque);
    height: 16px;
    width: 16px;
    user-select: none;
}

.svg-white, .svg-invert {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg);
    height: 26px;
    width: 26px;
    padding: 6px;
    user-select: none;
}

.svg-inv {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg);
    fill: white;
    transition: rotate 0.1s ease-in-out;

}

.svg-white:hover, .svg-white:focus  {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(30deg);
    background-color: rgba(255, 255, 255, 0.94);
    border-radius: 20%;
}

.svg-none, .svg {
    background-color: transparent;
    height: 26px;
    width: auto;
    padding: 6px;
    user-select: none;
}

.svg-none:hover, .svg-none:focus {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg);
    background-color: rgba(255, 255, 255, 0.94);
    border-radius: 20%;
}

div.log {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    width: 540px;

}

.flex-column {
    display: flex; 
    flex-direction: column; 
    gap: 6px
}

.flex-row {
    display: flex; 
    flex-direction: row; 
    gap: 6px
}

.vers-info {
    font-size: 16px;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: transparent;
    padding: 10px;
    color: white;
    mix-blend-mode: difference;
    z-index: 1100 ;
    user-select: none;

}

.fade-in-from-top {
    opacity: 0;
    transform: translateY(-30px);
    animation: fadeInFromTop 0.3s ease-out forwards;
}

img.side-banner {
    width: auto;
    height: 620px;
    border-radius: 20px;
    position: relative;
    object-fit: cover;
    margin-left: 24px;
}

.check_box {
    width: 18px;
    height: 18px;
    top: auto;
    bottom: auto;
    margin: 0 0 10px 6px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

p {
    color: #333333;
    font-size: 14px;
    font-weight: normal;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    top: auto;
    font-family: Poppins, sans-serif;
    bottom: auto;
    margin: 0 0 10px 6px;
}

p.alert {
    color: red; margin-left: auto; margin-right: auto; text-align: center
}

.checkbox-container {
    cursor: pointer;
}

.checked {
    background-color: var(--cor-destaque);
}


div.user-logger {
    z-index: 1100;
    display: flex;
    position: fixed;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    top: 40px;
    margin-right: 30px;
    left: auto;
    right: 11.2%;
    pointer-events: auto;
    letter-spacing: 1px;
    text-shadow: 0 0 14px rgba(0, 0, 0, 0.6);
    align-items: flex-end;
    justify-content: flex-start;
    transition: ease all 0.5s;

}


div.user-logger.scrolled {
    font-size: 20px;
    top: 10px;
    margin-right: 30px;
    right: auto;
    left: 82.3%;
    transition: ease all 0.5s;
}

div.user-button {
    z-index: 1100;
    position: fixed;
    height: 42px;
    width: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #dddddd;
    font-weight: bold;
    font-size: 18px;
    color: #888888ab;
    font-family:'Chivo Mono', sans-serif;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(34, 34, 34, 0.65);
    top: 40px;
    right: 10%;
    transition: ease all 0.5s;
    pointer-events: all;
    cursor: pointer;
    user-select: none;
}

div.user-button.bigger {
    position: static; 
    height: 80px; 
    width: 80px; 
    font-size: 34px; 
    line-height: 80px;
    z-index: unset;
}

div.user-button.scrolled {
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 16px;
    top: 24px;
    right: 18%;
}

p.user-name {
    z-index: 1100;
    top: 40px;
    margin-right: 30px;
    position: fixed;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0 0 10px #222222;
    font-family: 'Calibri', sans-serif;
    right: 11.2%;
    cursor: pointer;
    pointer-events: auto;

    transition: ease all 0.3s;
}

p.user-name.scrolled {
    color: transparent;
    font-size: 14px;
    right: 16%;
}

div.user-name {
    z-index: 1100;
    top: 40px;
    margin-left: 90%;
    position: fixed;
    transition: ease all 0.3s;
}

div.user-name.scrolled {
    margin-left: 82%;
}

.modal {
  padding: 1em;
  max-width: 50ch;
  border: 0;
  box-shadow: 0 0 1em rgb(0 0 0 / .3);

  & > * {
    margin: 0 0 0.5rem 0;
  }
}


.container-grid {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.2fr;
  grid-template-rows: 1.2fr 1.2fr 1.2fr 1.2fr;
  grid-gap: 20px;
  padding: 20px;
  margin: 0 auto;
  width: 650px;
}

.item:hover .btn-fancy {
    box-shadow: 0 0 6px var(--cor-destaque);
    background-color: var(--cor-destaque);
    letter-spacing: 3px;
    border-radius: 12px;
    color: #fff;
}


.item {
    display: flex;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.56);
    padding: 14px;
    padding-left: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ffffff;
    user-select: none;
    transition: all 0.3s ease;
}

.item:hover {
    border: 1px solid var(--cor-destaque);
    transform: translateY(-2px);
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
}

.featured {
    grid-column: span 2;
}

.text-default {
    justify-content: flex-start;
    text-align: left;
    margin: 0;
    padding: 0;
}

.two-split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.two-piece {
    width: 50%;
}

.three-split {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}

.programmed-date {
    background-color: var(--cor-destaque);
    color: #ffffff;
}

.td-more {
    border: 0 solid #ddd;
    background-color: transparent;
    padding: 5px;
    width: 10px;
}

img.table-more {
    height: 14px;
    width: 14px;
    padding: 2px
}

table.calendar {
    width: 100%;
    border-collapse: collapse;
}
th.calendar, td.calendar {
    width: 80px;
    height: 40px;
    vertical-align: top;
}

th.calendar {
    background-color: #fafafa
}

.weekday {
    background-color: #fafafa
}

.weekend {
    background-color: #f0f0f0;
}

.programmed-l1 {
    background-color: rgba(var(--programmed-l1), 1);
}

.programmed-l2 {
    background-color: rgba(var(--programmed-l2), 1);
}

.programmed-l3 {
    background-color: rgba(var(--programmed-l3), 1);
}

.programmed-l4 {
    background-color: rgba(var(--programmed-l4), 1);
}

.programmed-l5 {
    background-color: rgba(var(--programmed-l5), 1);
}

.programmed-l6 {
    background-color: rgba(var(--programmed-l6), 0.6);
}

.programmed-l7 {
    background-color: rgba(var(--programmed-l7), 0.6);
}

.section-linhas {
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 12px;
    margin-top: 24px;
}

.tb-checkbox {
    text-align: center;
    width: 30px
}

.navigation-bar {
    display: flex;
    justify-content: left;
    background-color: var(--cor-destaque);
    padding-left: 36px;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 999;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cor-destaque);
    min-width: 200px;
    z-index: 1;
    transition: none;
    padding-bottom: 6px;
}

.dropdown-content a {
    color: #fff;
    background-color: rgba(34, 34, 34, 1);
    margin-top: 0;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Chivo Mono', monospace;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: none;
    border-right: 1px solid rgba(34, 34, 34, 1);
    border-left: 1px solid rgba(34, 34, 34, 1);
}

.dropdown-content a:hover {
    background-color: #fff;
    border-right: 1px solid var(--cor-destaque);
    border-left: 1px solid var(--cor-destaque);
    color: var(--cor-destaque);
    transition: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: none;
    display: flex;
    gap: 4px;
    
}

.dropbtn:hover {
    background-color: #fff;
    color: var(--cor-destaque);
}

.dropbtn:hover .svg-invert {
    filter: unset;
    fill: #fff;
}

.dropbtn:hover .svg-inv,
.dropdown:hover .svg-inv {
    rotate: 180deg;
    transition: rotate 0.1s ease-in-out;
}

.dropdown:hover .dropbtn {
    background-color: rgba(34, 34, 34, 1);
    color: #fff;
}

.session-container {
    display: flex;
    flex-direction: column;
    width: 8px;
    height: 20px;
    opacity: 0.5;
}

.session-container:hover {
    opacity: 1;
}

.flex-container {
    display: flex;
}

.center-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.session-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #fff;
}

.session-container .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    background-color: #333;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1100;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.session-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.legend-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.legend-item {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    font-size: 14px;
    vertical-align: center;
    text-align: center;
    font-weight: bold;
    color: #3f3f3f;

}

.td-more:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.td-more .tooltiptext {
    visibility: hidden;
    max-width: 120px;
    width: 70px;
    text-wrap: wrap;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1100;
    bottom: 30%;
    left: 50%;
    transform: translateX(-75%);
    opacity: 0;
    overflow: auto;
    pointer-events: none;
    transition: opacity 0.3s;
}

.td-more {
    position: relative;
}

p.phrase {
    font-size: 16px;
    color: #7e7e7e;
    margin-top: 4px;
    margin-bottom: 16px;
}

#scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

#scroll-to-top-button:hover {
    opacity: 1;
}

#scroll-to-top-button button {
    display: block;
    padding: 12px;
    background-color: var(--cor-destaque);
    color: #fff;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: opacity 0.3s ease;

}

div.msg-error {
    margin: 8px;
    padding: 12px;
    border: 1px solid rgba(255, 0, 0, 0.6);
    background-color: rgba(240, 128, 128, 0.5);
    color: maroon;
}
div.msg-success {
    margin: 8px;
    padding: 12px;
    border: 1px solid rgba(11, 192, 11, 0.6);
    background-color: rgba(128, 240, 143, 0.5);
    color: rgb(0, 128, 21);
}
div.msg-info {
    margin: 8px;
    padding: 12px;
    border: 1px solid rgba(0, 68, 255, 0.6);
    background-color: rgba(128, 180, 240, 0.5);
    color: rgb(0, 51, 128);
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 90%;
    word-wrap: break-word;
}

.popup-content button {
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a, .pagination span {
    font-size: 16px;
    color: black;
    padding: 8px 12px;
    margin-top: 0;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.pagination a {
    min-width: 40px;
    box-sizing: border-box;
}

.pagination a.active {
    background-color: var(--cor-destaque);
    color: white;
    border-radius: 6px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 6px;
}

.pagination span {
    padding: 8px 16px;
    cursor: default;
    min-width: 40px;
    box-sizing: border-box;
}
.unselectable-row {
    cursor: not-allowed;
}

.selectable-row {
    cursor: pointer;
}

.selectable-row:hover td {
    background-color: #f0f0f0;
}

.selectable-row.sub-total td {
    background-color: rgba(52, 49, 50, 0.1);
    border-bottom: 4px solid var(--cor-destaque);
    color: rgb(27, 26, 26);
    transition: 0.1s ease-in-out all;
}

.selectable-row.sub-total:hover td {
    background-color: var(--cor-destaque);
    border-bottom: 4px solid rgba(52, 49, 50, 1);
    color: white;
    opacity: 0.6;
    transition: 0.1s ease-in-out all;
}

h1.sub-label {
    font-size: 18px;
    color: #353535;
    padding-left: 18px;
    font-family: 'Poppins', sans-serif;
}

.selectable-row.sub-total.active td {
    background-color: var(--cor-destaque);
    color: white;
    opacity: 0.9;
}

h1.subtitle {
    font-size: 22px;
    color: #353535;
    padding-left: 18px;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.dialog-box {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 320px;
    width: 100%;
}

.dialog-box input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.dialog-box button {
    padding: 10px 20px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.hidden-opacity {
    opacity: 0 !important;
    pointer-events: none !important;
}

.cart-container {
    position: relative;
    display: inline-block;
}

.cart-button {
    background-color: rgba(52, 49, 50, 1);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
    transition: all 0.3s;

}

.cart-button:hover {
    background-color: #3e5ea6;
}

.action-buttons {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.item-count {
    background-color: #fff;
    color: var(--cor-destaque);
    border-radius: 50%;
    padding: 2px;
    font-size: 14px;
    height: 20px;
    width: 20px;
    top: -10px;
    right: -10px;
    align-content: center;
    font-weight: bold;
    position: absolute;
    box-shadow: 0 0 4px var(--cor-destaque);
    
}

.cart-dropdown {
    top: 45px;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    padding: 12px;
    min-width: 200px;
    border-radius: 20px;
    z-index: 1;
}

.cart-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cart-item {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
    border-bottom: none;
}

.checkout-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 10px;
    width: 100%;
    transition: all 0.3s;
}

.checkout-button:hover {
    background-color: #409642;
}

#table-filter {
    background-color: #3e5ea640;
    padding: 6px;
    border: 1px solid var(--cor-cde);
    border-radius: 12px;
    justify-content: flex-end;
    margin: 8px 0;
}

#table-filter input, select {
    margin: 4px;
}

.glow-cde {
    background-color: #3e5ea640;
    border: 1px solid var(--cor-cde);
}

.glow-tl {
    background-color: #ea5a2640;
    border: 1px solid var(--cor-tl);
}

.glow-hp {
    background-color: #8f794340;
    border: 1px solid var(--cor-hp);
}



