<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Envase Calendário {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | PRODUÇÃO</title>
        <link rel="icon" href="{{ url_for('static', filename='hp-logo-only.svg') }}" type="image/x-icon">

        {% include 'shared/header/hp-header.html' %}
        <div style="all: unset; display: flex; min-width: 100%; flex-wrap: wrap; gap: 16px; margin: 0 0 16px 0;">
            <div class="titles-container flex-h title-centerer">
            <h1>
                <a href="{{ url_for('envase') }}">ENVASE</a>
                <span class="dash">/</span>
                <span>CALENDÁRIO</span>
                <span class="id-page">{{session['id_page']}}</span>
            </h1>
            <div class="aux-buttons">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" alt="" onclick="window.location.href='{{ url_for('envase') }}';">
            </div>
        </div>
        </div>
        <div id="divContent">
            <div class="form-login">
                <br>
                <div id="calendar-container"></div>
                <div>
                    <div class="legenda-container">
                        <div class="legenda-item" style="background-color: rgba(var(--alt-color-1), 1);">1</div>
                        <div class="legenda-item" style="background-color: rgba(var(--alt-color-2), 1);">2</div>
                        <div class="legenda-item" style="background-color: rgba(var(--alt-color-3), 1);">3</div>
                        <div class="legenda-item" style="background-color: rgba(var(--alt-color-4), 1);">4</div>
                        <div class="legenda-item" style="background-color: rgba(var(--alt-color-5), 1);">5</div>
                        <!-- INATIVOS
                            <div class="legenda-item" style="background-color: rgba(var(--alt-color-6), 1);">6</div>
                            <div class="legenda-item" style="background-color: rgba(var(--alt-color-7), 1);">7</div>
                        -->
                    </div>
                </div>
            </div>
        </div>
<script>

    function generateCalendar(year, month) {
        const calendarContainer = document.getElementById('calendar-container');
        const daysInMonth = new Date(year, month + 1, 0).getDate();
        const firstDay = new Date(year, month, 1).getDay();

        let html = '<table class="calendar"><thead><tr><th>DOM</th><th>SEG</th><th>TER</th><th>QUA</th><th>QUI</th><th>SEX</th><th>SAB</th></tr></thead><tbody>';

        let day = 1;
        for (let i = 0; i < 6; i++) {
            html += '<tr>';
            for (let j = 0; j < 7; j++) {
                if ((i === 0 && j < firstDay) || day > daysInMonth) {
                    html += '<td class="calendar"></td>';
                } else {
                    const date = new Date(year, month, day);
                    const weekendClass = date.getDay() === 0 || date.getDay() === 6 ? 'weekend' : '';
                    html += `<td class="calendar ${weekendClass}" data-date="${year}-${(month + 1).toString().padStart(2, '0')}-${day.toString().padStart(2, '0')}">${day}</td>`;
                    day++;
                }
            }
            html += '</tr>';
            if (day > daysInMonth) break;
        }

        html += '</tbody></table>';
        calendarContainer.innerHTML = html;
    }

    const today = new Date();
    generateCalendar(today.getFullYear(), today.getMonth());

    document.addEventListener('DOMContentLoaded', function() {
        var envase = {{ envase | tojson }};
        console.log(envase)

        var dataEnvL1 = [];
        var dataEnvL2 = [];
        var dataEnvL3 = [];
        var dataEnvL4 = [];
        var dataEnvL5 = [];
        var dataEnvL6 = [];
        var dataEnvL7 = [];

        {% for item in envase %}
            {% if item['linha'] == 1 %}
                dataEnvL1.push('{{ item.data_envase }}');
            {% elif item['linha'] == 2 %}
                dataEnvL2.push('{{ item.data_envase }}');
            {% elif item['linha'] == 3 %}
                dataEnvL3.push('{{ item.data_envase }}');
            {% elif item['linha'] == 4 %}
                dataEnvL4.push('{{ item.data_envase }}');
            {% elif item['linha'] == 5 %}
                dataEnvL5.push('{{ item.data_envase }}');
            {% elif item['linha'] == 6 %}
                dataEnvL6.push('{{ item.data_envase }}');
            {% elif item['linha'] == 7 %}
                dataEnvL7.push('{{ item.data_envase }}');
            {% endif %}
        {% endfor %}


    const calendario = document.getElementById('calendar-container');
    const cells = calendario.querySelectorAll('td');

    cells.forEach(cell => {
        const data = cell.dataset.date;
        const linha1 = dataEnvL1.includes(data);
        const linha2 = dataEnvL2.includes(data);
        const linha3 = dataEnvL3.includes(data);
        const linha4 = dataEnvL4.includes(data);
        const linha5 = dataEnvL5.includes(data);
        const linha6 = dataEnvL6.includes(data);
        const linha7 = dataEnvL7.includes(data);

        if (linha1 || linha2 || linha3 || linha4 || linha5 || linha6 || linha7) {
            const linhasComEvento = [];
            if (linha1) linhasComEvento.push('1');
            if (linha2) linhasComEvento.push('2');
            if (linha3) linhasComEvento.push('3');
            if (linha4) linhasComEvento.push('4');
            if (linha5) linhasComEvento.push('5');
            if (linha6) linhasComEvento.push('6');
            if (linha7) linhasComEvento.push('7');

            const flexContainer = document.createElement('div');
            flexContainer.classList.add('flex');

            linhasComEvento.forEach(linhaClass => {
                const sessionContainer = document.createElement('div');
                sessionContainer.classList.add('session-container', 'alt-color-' + linhaClass);
                sessionContainer.style.border = '1px solid rgba(var(--alt-color-' + linhaClass + '), 1)';

                const items = envase.filter(item => item.linha === parseInt(linhaClass) && item.data_envase === data);
                console.log(items);

                if (items.length > 0) {
                    const tooltip = document.createElement("span");
                    tooltip.classList.add("tooltiptext");

                    items.forEach(item => {
                        const itemTooltip = document.createElement("div");
                        itemTooltip.innerHTML = `${item.flag_concluido ? '<svg style="height: 14px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-check-big"><path d="m9 11 3 3L22 4"/><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"/></svg>' : '<svg style="height: 14px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square"><rect width="18" height="18" x="3" y="3" rx="2"/></svg>'}<br>Linha: ${item.linha} 🞄 ${item.cod_item}<br>${new Intl.NumberFormat('pt-BR', { maximumFractionDigits: 0 }).format(item.quantidade)} CXS<br>${item.observacao}`;
                        tooltip.appendChild(itemTooltip);
                    });

                    tooltip.style.color = 'rgba(var(--alt-color-' + linhaClass + '), 1)';
                    sessionContainer.appendChild(tooltip);
                }


                flexContainer.appendChild(sessionContainer);
            });
            cell.appendChild(flexContainer);
        }
    });
});
</script>


    {% include 'shared/footer.html' %}