{% extends 'base.j2' %}

{% block title %}Cargas{% endblock title %}

{% block content %}

    <div class="titles-ruler">
        
        {% from 'components/title-route.j2' import title_container %}
        {{ title_container(
            id_page=session['id_page'],
            breadcrumbs=[
                {'text': 'LOGI', 'url': 'home_logi', 'title': 'LOGISTICA'},
                {'text': 'CARGAS'}
            ],
            aux_buttons=[
                {'type': 'link', 'url': 'carga_incomp', 'icon': 'svg/package-badge.svg', 'title': 'INCOMPLETAS'},
                {'type': 'link', 'url': 'cargas_baixas', 'icon': 'svg/package-minus.svg', 'title': 'BAIXAS'},
                {'type': 'link', 'url': 'faturado', 'icon': 'svg/package-check.svg', 'title': 'FATURADOS'},
                {'type': 'link', 'url': 'cargas', 'icon': 'svg/truck.svg', 'title': 'CARGAS', 'active': True},
                {'type': 'divider'},
                {'type': 'form', 'url': 'cargas', 'method': 'post', 'icon': 'svg/list-restart.svg', 'title': 'RECARREGAR LISTA DE CARGAS'},
                {'type': 'divider'},
                {'type': 'link', 'url': 'carga_sep_done', 'param_name': 'id_carga', 'param': '0', 'icon': 'svg/grid-2x2.svg', 'title': 'SEPARACAO (CONCLUIDOS)'},
                {'type': 'divider'},
                {'type': 'disabled', 'icon': 'svg/filter.svg', 'title': 'FILTROS'},
                {'type': 'action', 'icon': 'svg/circle-arrow-left.svg', 'title': 'VOLTAR', 'onclick': 'goBack()'}
            ]
        ) }}

    </div>

    <div id="divContent" style="flex-wrap: wrap;">
        <!-- prevent access to this page if user is not logged -->
        {% if 'user_grant' in session %}
            <!-- if 'id_carga' is selected -->
            {% if not id_carga %}
                <div class="tables-container" id="sepContainer" style="min-width: 40vw;">
                    {% if alert %}
                        {% if class_alert == 'error' %}
                            <div class="msg-error">
                                <details>
                                    <summary>A lista não pôde ser carregada!</summary>
                                    {{ alert | safe }}
                                </details>
                            </div>
                        {% elif class_alert == 'success' %}
                            <h1 class="subtitle">Selecione a <span class="text-main-color">carga</span> para iniciar a <span class="text-main-color">separação</span>:</h1>
                            <div style="max-height: 540px; overflow-y: auto; width: 100%;">
                                {% if result %}
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Carga (Cód.)</th>
                                                <th>Pedido (Cód.)</th>
                                                <th>Cliente (Descrição)</th>
                                                <th>Emissão (Data)</th>
                                                <th>Entrega (Data)</th>
                                                <th>OBS.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in result %}
                                                {% if class_alert != 'error' %}
                                                    <tr
                                                        class="selectable-row js_query_selector"
                                                        data-id="{{ row[columns.index('NRO_CARGA')] }}"
                                                        style="vertical-align: baseline;"
                                                    >
                                                        <td class="number">{{ row[columns.index('NRO_CARGA')] }}</td>
                                                        <td class="number r second-plan">{{ row[columns.index('NRO_PEDIDO')] }}</td>
                                                        <td style="text-wrap: none;">({{ row[columns.index('COD_CLIENTE')] }}) {{ row[columns.index('FANT_CLIENTE')] }}</td>
                                                        <td class="second-plan c">{{ row[columns.index('DT_EMISSAO')] | parse_date }}</td>
                                                        <td class="second-plan c">{{ row[columns.index('DT_ENTREGA')] | parse_date }}</td>
                                                        <td class="c">
                                                            {% if row[columns.index('OBS_CARGA')] | trim | length > 1 %}
                                                                <span title="{{ row[columns.index('OBS_CARGA')] }}">🟢</span>
                                                            {% else %}
                                                                <span>🔴</span>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                            <div class="msg-success flex-v" style="margin: 0; gap: 0">
                                <span style="font-weight: 600">A lista foi atualizada com sucesso!</span>
                                <span style="font-size: 12px">
                                    {{ alert | safe }}
                                </span>
                            </div>
                        {% endif %}
                    {% else %}
                        <div style="display: flex; justify-content: center; height: 100%;">
                            <p class="disabled">
                                Carregue a lista de cargas clicando no ícone <img class="svg msg-svg" src="{{ url_for('static', filename='svg/list-restart.svg') }}"> acima...
                            </p>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            {% if id_carga %}
                <div id="cargaContainer" class="tables-container" style="max-width: 55%; min-width: 55%;">
                    <div class="flex-v">
                        <div class="split-h">
                            <h1 style="margin-bottom: 8px">Número de Carga <input id="idCargaContainer" class="text-main-color" value="{{ id_carga }}"></h1>
                            <div class="flex-h" style="gap: 30px">
                                <div class="cart-container" style="display: none">
                                    <button class="cart-button" onclick="toggleCart()">Subtotais<span class="item-count" id="item-count">0</span></button>
                                    <div class="cart-dropdown hidden" id="cart-dropdown">
                                        <ul class="cart-items">
                                            <!-- Itens serão renderizados aqui -->
                                        </ul>
                                        <button class="checkout-button" onclick="window.location.href='{{ url_for('carga_sep_pend', id_carga=id_carga) }}';">Visualizar Separação</button>
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: column; gap: 6px">
                                    <form action="{{ url_for('cargas') }}" method="post">
                                        <button type="submit" style="all: unset" onclick="showLoading()">
                                            <a class="button-mini btn-fancy" style="margin: 0" onclick="window.location.href='{{ url_for('cargas') }}';" title="FECHAR">
                                                <img class="svg-invert" src="{{ url_for('static', filename='svg/xmark.svg') }}" alt="">
                                            </a>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <h1 class="subtitle">Cliente: <span class="text-main-color">{{ fant_cliente }}</span></h1>
                    </div>

                    <div class="hidden" id="alert-message">
                    </div>

                    {% if result and 'OBS_CARGA' in columns %}
                        {% set obs_carga = result[0][columns.index('OBS_CARGA')]|trim %}
                        {% if obs_carga and obs_carga | length > 0 %}
                            <div class="msg-info">
                                <details>
                                    <summary>A carga possui uma observação!</summary>
                                    <span id="obs_carga">{{ obs_carga }}</span>
                                </details>
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if result and columns %}
                        <div id="detailedTable" class="hidden">
                            <div style="display: flex; justify-content: space-between; align-items: flex-end;">
                                <p>Lista Detalhada</p>
                                <div class="btn-fancy" style="width: 45px; height: 45px; margin: 0" onclick="toggleTableSubtotal()">
                                    <img class="svg-invert" src="{{ url_for('static', filename='svg/panel-top-close.svg') }}" alt="">
                                </div>
                            </div>
                            <table style="max-height: 500px; overflow-y: auto;">
                                <thead>
                                    <tr>
                                        <th>Pedido SEQ</th>
                                        <th>Item (Código)</th>
                                        <th>Item (Descrição)</th>
                                        <th style="width: 100px;">QTDE (Solicitada)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set items = [] %}
                                    {% set subtotals = {} %}
                                    
                                    {% for row in result %}
                                        {% set cod_item   = row[columns.index('COD_ITEM')] %}
                                        {% set qtde_solic = row[columns.index('QTDE_SOLIC')] | int %}
                                        {% set subtotal   = subtotals.get(cod_item, 0) + qtde_solic %}
                                        {% set subtotals  = subtotals.update({cod_item: subtotal}) or subtotals %}
                                        {% set items      = items.append(row) or items %}
                                    {% endfor %}
                                    
                                    {% for row_cod_item, subtotal in subtotals.items() %}
                                        {% for row in items %}
                                            {% if row[columns.index('COD_ITEM')] == row_cod_item %}
                                                <tr class="unselectable-row" style="vertical-align: baseline;">
                                                    <td class="over-row">{{ row[columns.index('NROPED_SEQ')] }}</td>
                                                    <td>{{ row[columns.index('COD_ITEM')] }}</td>
                                                    <td style="text-wrap: auto;">{{ row[columns.index('DESC_ITEM')] }}</td>
                                                    <td>{{ row[columns.index('QTDE_SOLIC')] | int }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        <tr 
                                            class="selectable-row sub-total {% if row_cod_item == cod_item %}active{% endif %}"
                                            onclick="sendCodItem('cargas', '{{ row_cod_item }}', '{{ id_carga }}', '{{ subtotal }}')"
                                        >
                                            <td colspan="3" style="text-align: right;">{{ row_cod_item }}</td>
                                            <td>{{ subtotal }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="standardTable">
                            <div style="display: flex; justify-content: space-between; align-items: flex-end;">
                                <p>Lista Subtotal</p>
                                <div class="btn-fancy" style="width: 45px; height: 45px; margin: 0" onclick="toggleTableSubtotal()">
                                    <img class="svg-invert" src="{{ url_for('static', filename='svg/list-tree.svg') }}" alt="">
                                </div>
                            </div>
                            <table style="max-height: 500px; overflow-y: auto;">
                                <thead>
                                    <tr>
                                        <th>Item (Código)</th>
                                        <th>Item (Descrição)</th>
                                        <th style="width: 100px;">QTDE (Solicitada)</th>
                                        <th style="width: 100px;">QTDE (Separada)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set items = {} %}
                                    
                                    {% for row in result %}
                                        {% set row_cod_item = row[columns.index('COD_ITEM')] %}
                                        {% set desc_item = row[columns.index('DESC_ITEM')] %}
                                        {% set qtde_solic = row[columns.index('QTDE_SOLIC')] | int %}
                                        
                                        {% if row_cod_item in items %}
                                            {% set items = items.update({row_cod_item: {'desc': desc_item, 'qtde': items[row_cod_item]['qtde'] + qtde_solic}}) or items %}
                                        {% else %}
                                            {% set items = items.update({row_cod_item: {'desc': desc_item, 'qtde': qtde_solic}}) or items %}
                                        {% endif %}
                                    {% endfor %}
                                    
                                    {% for row_cod_item, item in items.items() %}
                                        <tr style="vertical-align: baseline;"
                                            class="selectable-row sub-total {% if row_cod_item == cod_item %}active{% endif %}" 
                                            data-cod-item="{{ row_cod_item }}"
                                            onclick="sendCodItem('cargas', '{{ row_cod_item }}', '{{ id_carga }}', '{{ item.qtde }}')"
                                        >
                                            <td>{{ row_cod_item }}</td>
                                            <td style="text-wrap: auto;">{{ item.desc }}</td>
                                            <td style="max-width: 80px;">{{ item.qtde }}</td>
                                            <td class="subtotal-cell"></td>
                                        </tr> 
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        {% if id_carga %}
                            <div class="split-h flex-h" style="margin: 8px 0">
                                <div class="flex-h">
                                    <div class="button-mini btn-fancy" onclick="excludeCarga()" title="APAGAR CARGA">
                                        <img class="svg-inv" style="height: 20px; width: 20px;" src="{{ url_for('static', filename='svg/trash.svg') }}" alt="">
                                    </div>
                                    <div class="button-mini btn-fancy" onclick="baixaCarga()" title="FAZER BAIXA COM JUSTIFICATIVA">
                                        <img class="svg-inv" style="height: 20px; width: 20px;" src="{{ url_for('static', filename='svg/package-minus.svg') }}" alt="">
                                    </div>
                                </div>
                                <div
                                    class="btn-fancy featured"
                                    style="height: 45px; margin: 0; max-width: 200px;"
                                    onclick="window.location.href='{{ url_for('carga_sep_pend', id_carga=id_carga) }}';">
                                    <span>VISUALIZAR</span>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="msg-success">
                            <details>
                                <summary>A carga selecionada já foi finalizada.</summary>
                                Caso necessite visualizá-la, clique no botão abaixo.
                            </details>
                        </div>
                    {% endif %}
                </div>
                
                <!-- prevent non listed item (outside from list) to be selected -->
                {% if cod_item and cod_item in cod_item_list %}
                    <div id="stockTable" class="tables-container glow-logi">
                        <span>
                            <h1>Item <span class="text-main-color">{{ cod_item }}</span> em Estoque:</h1>
                        </span>
                        {% if result %}
                            <table>
                                {% if not result_local %}
                                    <div class="msg-error">
                                        <details>
                                            <summary>Não há saldo disponível para este item!</summary>
                                            Atualmente, não existe saldo suficiente para suprir esta carga.
                                        </details>
                                    </div>
                                {% else %}
                                    <thead>
                                        <tr>
                                            <th>Endereço</th>
                                            <th>Lote (Código)</th>
                                            <th>Validade (Dias)</th>
                                            <th>QTDE (Efetiva)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in result_local %}
                                        {% set qtde_solic = request.args.get('qtde_solic') %}
                                            <tr class="selectable-row" onclick="pushItemIntoSeparacao(
                                                '{{ row['saldo'] }}', '{{ qtde_solic }}',
                                                '{{ row['address'] }}', '{{ row['cod_lote'] }}'
                                            )">
                                                <td>{{ row['address'] }}</td>
                                                <td>{{ row['cod_lote'] }}</td>
                                                <td title="Data Fab.: {{ row['date_fab'] }}">{{ row['validade'] }}</td>
                                                <td {% if qtde_solic|int <= row['saldo'] %} style="color: green"{% else %} style="color: red"{% endif %}>
                                                    {{ row['saldo'] }}
                                                </td>   
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <div id="inputContainer" class="hidden"></div>
                                {% endif %}
                            </table>
                        {% endif %}
                        <br>
                    </div>
                {% endif %}
            {% endif %}

            {% if not cod_item %}
                <div class="tables-container" id="sepListContainer" style="max-width: 20vw">
                    <h1 class="subtitle" style="margin: 0;">Buscar separações...</h1>
                    <select class="address-three inline-input" style="color: var(--main-color); font-size: 12px" onchange="window.location.href='/logi/cargas/separacao/f/{{ id_carga | default(0) }}'">
                        <option style="color: var(--main-color);">Pendentes</option>
                        <option style="color: green;">Finalizadas</option>
                    </select>
                    {% block all_separation_status %}
                    
                    {% endblock all_separation_status %}
                    <div class="table-overflow" style="max-height: 700px">
                        <form onsubmit="preQuickRouting('cargas'); return false;">
                            <div class="flex-h" style="margin: 8px 0; width: 100%;">
                                <input class="address-one" style="margin: 0; height: 32px" type="number" id="navigatorInput" min="1" placeholder="Carga...">
                                <button type="submit" class="button-mini btn-fancy" style="height: 32px; width: 32px;" title="IR PARA CARGA..." >
                                    <img class="svg-invert" style="height: 18px; width: 18px;" src="{{ url_for('static', filename='svg/arrow-right.svg') }}" alt="">
                                </button>
                            </div>
                        </form>
                        <table id="allSeparationsTable" style="border-top: 4px solid var(--main-color)">
                            <tbody>
                                <!-- executa listCargasLocalStorage(); -->
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            <form class="hidden" id="cod_item_form" method="GET" action="">
                <input type="hidden" id="cod_item_input" name="cod_item">
                <input type="hidden" id="carga_id_input" name="carga_id">
                <input type="hidden" id="qtde_item_input" name="qtde_solic">
            </form>
            <!-- PopUp -->
            {% include "components/menus/quantity-popup.j2" %}
        {% endif %}
    </div>

{% endblock content %}

{% block route_script %}

    <script>
        const nroCarga = '{{ id_carga }}';

        var codItem = '{{ cod_item }}';
        var userID  = "{{ session['id_user'] }}";
        var itemCount = 0;

        
        function getSeparacao() {
            return new Promise((resolve, reject) => {
                // busca no localstorage (cache do navegador)
                const localStorageData = localStorage.getItem(getStorageKey());
                if (localStorageData) {
                    // TODO: function 'hasPendingItems' is not defined 
                    console.log('pre hasPendingItems');
                    try {
                        const hasPendingItems = hasPendingItems();
                        hasPendingItems().then(bool => {
                            console.log('after hasPendingItems');
                            if(bool == true) {
                                showToast('A carga está incompleta. Verifique seus itens!', 'warn', 10)
    
                                errorMessage = 
                                `
                                    <div class="msg-alert">
                                        <details>
                                            <summary>A separação foi finalizada, mas está incompleta.</summary>
                                            Para finalizá-la, clique no ícone <img class="svg msg-svg" src="{{ url_for('static', filename='svg/package-badge.svg') }}"> acima..
                                        </details>
                                    </div>
                                `;
                                const alert = document.getElementById('alert-message');
                                const standardTable = document.getElementById('standardTable');
                                const detailedTable = document.getElementById('detailedTable');
    
                                alert.innerHTML = errorMessage;
                                alert.classList.toggle('hidden');
                                standardTable.classList.add('hidden');
                                detailedTable.classList.add('hidden');
                            } else {
                                resolve(JSON.parse(localStorageData));
                            }
                        })
                    } catch(error) {
                        resolve(JSON.parse(localStorageData));
                    }
                } else {
                    fetch(`/get/carga/load-table-data?filename=${getStorageKey()}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erro ao carregar dados do servidor');
                        }
                        return response.json();
                    })
                    .then(data => {
                        reject(new Error('A carga selecionada já foi finalizada.'));
                        hasPendingItems().then(bool => {
                            if(bool == true) {
                                showToast('A carga está incompleta. Verifique seus itens!', 'warn', 10)

                                errorMessage = 
                                `
                                    <div class="msg-alert">
                                        <details>
                                            <summary>A separação foi finalizada, mas está incompleta.</summary>
                                            Para finalizá-la, clique no ícone <img class="svg msg-svg" src="{{ url_for('static', filename='svg/package-badge.svg') }}"> acima..
                                        </details>
                                    </div>
                                `;
                                const alert = document.getElementById('alert-message');
                                const standardTable = document.getElementById('standardTable');
                                const detailedTable = document.getElementById('detailedTable');

                                alert.innerHTML = errorMessage;
                                alert.classList.toggle('hidden');
                                standardTable.classList.add('hidden');
                                detailedTable.classList.add('hidden');
                            }
                        })
                    })
                    .catch(error => {
                        reject(new Error('Nenhuma carga pendente ou iniciada neste código.'));
                    });
                }
            });
        }
        

        function toggleTableSubtotal() {
            const detailedTable = document.getElementById('detailedTable');
            const standardTable = document.getElementById('standardTable');

            detailedTable.classList.toggle('hidden');
            standardTable.classList.toggle('hidden');
        }


        async function getAndCompareItems() {
            try {
                const sepCarga = await getSeparacao();
                const storageKey = getStorageKey();
        
                itemsList = [];
        
                for (const item of sepCarga) {
                    const { cod_item, qtde_solic } = item;
                    const qtde_sep = getQtdeItemLS(storageKey, cod_item);
        
                    itemsList.push({ cod_item, qtde_solic, qtde_sep });
                }
        
                console.log('Lista de Itens:', itemsList);
        
            } catch (error) {
                console.error('Erro ao obter separação:', error);
            }
        }
        

        document.addEventListener('DOMContentLoaded', function() {
            const rows = document.querySelectorAll('.js_query_selector');

            rows.forEach(function(row) {
                row.addEventListener('click', function() {
                    const idCarga = this.getAttribute('data-id');
                    window.location.href = '/logi/cargas/' + idCarga;
                });

                const carga = row.getAttribute('data-id');

                row.addEventListener('mouseenter', function() {
                    rows.forEach(function(r) {
                        if (r.getAttribute('data-id') === carga) {
                            r.classList.add('hover-related');
                        }
                    });
                });

                row.addEventListener('mouseleave', function() {
                    rows.forEach(function(r) {
                        if (r.getAttribute('data-id') === carga) {
                            r.classList.remove('hover-related');
                        }
                    });
                });
            });

            if (!codItem) {
                listSeparations('cargas/separacao/p', source='browser');
            }
        });

    </script>

    <!-- lib for carga logic -->
    <script src="{{ url_for('static', filename='js/lb-cargas.js') }}"></script>

{% endblock route_script %}