{% extends "pages/mov/mov-carga/mov-carga-separacao.j2" %}

{% block title %}
    Carga Sep. (🟢)
{% endblock title %}


{% block switch %}
    <input id="idCargaContainer" class="text-main-color" value="{{ id_carga }}">
    <select id="idCargaContainerSelect" class="hidden">
        <option style="color: var(--main-color);" value="{{ seq }}">{{ id_carga }}-{{ seq }}</option>
    </select>
    {% if seq != 0 %}
    <div style="background-color: var(--main-color); pointer-events: all; cursor: pointer; border-radius: 20px; height: 40px; width: 40px;">
        <img 
            alt="RESET"
            class="svg-invert" 
            src="{{ url_for('static', filename='svg/eraser.svg') }}" 
            onclick="window.location.href='/logi/cargas/separacao/f/{{ id_carga }}';"
        >
    </div>
    {% endif %}
{% endblock switch %}


{% block separation_buttons %}
    <div class="flex-h">
        <div class="button-mini btn-fancy" onclick="reloadTables()" title="RECARREGAR REGISTROS" >
            <img class="svg-invert" src="{{ url_for('static', filename='svg/reload.svg') }}" alt="">
        </div>
    </div>
    <div id="btnGenCargaReport" class="btn-fancy featured" style="height: 45px; margin: 0; max-width: 200px;" onclick="genCargaReport()">
        <img class="svg-invert" style="height: 22px; width: 22px;" src="{{ url_for('static', filename='svg/file-text.svg') }}" alt="">
    </div>
{% endblock separation_buttons %}


{% block all_separation_status %}
    <select class="address-three inline-input" style="color: green; font-size: 12px" onchange="window.location.href='/logi/cargas/separacao/p/{{ id_carga }}'">
        <option class="text-green">Finalizadas</option>
        <option style="color: var(--main-color);">Pendentes</option>
    </select>
{% endblock all_separation_status %}


{% block add_script %}
    <script>
        var nroCarga    = {{ id_carga | tojson }};
        var seq         = {{ seq | tojson }};
        var fantCliente = {{ fant_cliente | tojson }};
        var obs_carga   = {{ obs_carga | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/pages/mov/mov-carga/mov-carga-separacao-done.js') }}"></script>
    <script>
        initMovCargaSeparacaoDone({
            nroCarga: nroCarga,
            seq: seq,
            fantCliente: fantCliente,
            obs_carga: obs_carga
        });
    </script>
{% endblock add_script %}