<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% block title %}
        <title>Carga Sep. {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | LOGÍSTICA</title>
    {% endblock title %}
    
    <link rel="icon" href="{{ url_for('static', filename='tl-logo-only.svg') }}" type="image/x-icon">

    {% include 'shared/header/tl-header.html' %}
    <div style="all: unset; display: flex; min-width: 100%; flex-wrap: wrap; gap: 16px; margin: 0 0 16px 0;">
            <div class="titles-container flex-h title-centerer">
            <h1>
                <a class="id-page filled" href="{{ url_for('home') }}">CDE</a>
                <span style="margin: 0 8px;"></span>
                <a href="{{ url_for('home_logi') }}"title="LOGISTICA">LOGI</a>
                <span class="dash">/</span>
                <a href="{{ url_for('cargas') }}">CARGAS</a>
                <span class="dash">/</span>
                {% block sep_status %}
                    <span>SEPARACAO</span>
                {% endblock sep_status %}
                <span class="id-page">{{session['id_page']}}</span>
            </h1>
        <div class="aux-buttons">
            {% block aux_buttons %}
                
            {% endblock aux_buttons %}
        </div>
    </div>
    </div>
        <div id="divContent" style="flex-wrap: wrap;">
        <div class="tables-container" id="sepContainer" style="min-width: 40vw; min-height: 40vh;">
            <div style="{% if id_carga == '0' %}display: none;{% endif %}">
                <div class="split-h">
                    <div class="flex-v">
                        <h1 class="flex-h" style="align-items: center;">Número de Carga {% block switch %}<input id="idCargaContainer" class="text-main-color" value="{{ id_carga }}">{% endblock switch %}</h1>
                        {% if result %}
                            <h1 class="subtitle">Responsável: <span class="text-main-color">{{ result[0][columns.index('USUARIO')] }}</span></h1>
                        {% endif %}
                    </div>
                    <div class="cart-container">
                        <button class="cart-button" onclick="toggleCart()">Subtotais<span class="item-count" id="item-count">0</span></button>
                        <div class="cart-dropdown hidden" id="cart-dropdown">
                            <ul class="cart-items">
                            </ul>
                        </div>
                    </div>
                </div>
                {% if obs_carga %}
                    {% set obs_carga = obs_carga|trim %}
                    {% if obs_carga and obs_carga | length > 0 %}
                        <div class="msg-info">
                            <details>
                                <summary>A carga possui uma observação!</summary>
                                <span id="obs_carga">{{ obs_carga }}</span>
                            </details>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="split-h">
                    <p style="justify-content: flex-start">
                        Status:<span class="separation_status" style="color: var(--logi-color); margin-left: 4px">Pendente</span>
                    </p>
                    <p style="justify-content: flex-start">
                        Separador: <span id="separador-info" style="color: var(--logi-color); margin-left: 4px">carregando...</span>
                    </p>
                </div>
                <div class="hidden" id="alert-message"></div>
                <div id="contentTable">
                    <div class="table-overflow" style="max-height: revert-layer;">
                        <table id="itemsTable">
                            <thead>
                                <tr>
                                    <th>Endereço</th>
                                    <th>Item (Código)</th>
                                    <th>Item (Descrição)</th>
                                    <th>Lote (Código)</th>
                                    <th>QTDE (Separado)</th>
                                </tr>
                            </thead>
                                <!-- executa renderItems(); -->
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="split-h flex-h" style="margin: 8px 0">
                        {% block separation_buttons %}
                            
                        {% endblock separation_buttons %}
                    </div>
                </div>
            </div>
            {% if id_carga == '0' %}
                <div style="display: flex; justify-content: center; height: 100%;">
                    <p class="disabled">Informe ou selecione um código no menu ao lado...</p>
                </div>
            {% endif %}
        </div>
        <div class="tables-container" id="sepListContainer" style="max-width: 20vw">
            <h1 class="subtitle" style="margin: 0;">Buscar separações...</h1>
            {% block all_separation_status %}
            
            {% endblock all_separation_status %}
            <div class="table-overflow" style="max-height: 700px">
                <form onsubmit="routeMovRedirect('carga/separacao/{{ status }}'); return false;">
                    <div class="flex-h" style="margin: 8px 0; width: 100%;">
                        <input class="address-one" style="margin: 0; height: 32px" type="number" id="idInput" min="1" placeholder="Carga...">
                        <button type="submit" class="button-mini btn-fancy" style="height: 32px; width: 32px;" title="IR PARA CARGA..." >
                            <img class="svg-invert" style="height: 18px; width: 18px;" src="{{ url_for('static', filename='svg/arrow-right.svg') }}" alt="">
                        </button>
                    </div>
                </form>
                <table id="allSeparationsTable" style="border-top: 4px solid var(--main-color)">
                    <tbody>
                        <!-- executa listSeparationsLocalStorage(); -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
    {% block script %}
    
    {% endblock script %}
    <script src="{{ url_for('static', filename='js/lb-cargas.js') }}"></script>
        

    {% include 'shared/footer.html' %}