<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Carga Incompleta {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | LOGÍSTICA</title>
        <link rel="icon" href="{{ url_for('static', filename='tl-logo-only.svg') }}" type="image/x-icon">

        {% include 'shared/header/tl-header.html' %}
        <div style="all: unset; display: flex; min-width: 100%; flex-wrap: wrap; gap: 16px; margin: 0 0 16px 0;">
            <div class="titles-container flex-row title-centerer">
            <h1>
                <a class="id-page filled" href="/home">CDE</a>
                <span style="margin: 0 8px;"></span>
                <a href="{{ url_for('home_logi') }}">LOG</a>
                <span class="dash">/</span>
                <a href="{{ url_for('cargas') }}">CARGAS</a>
                <span class="dash">/</span>
                <span>INCOMPLETAS</span>
                <span class="id-page">{{session['id_page']}}</span>
            </h1>
            <div class="aux-buttons">
                <form onsubmit="routeMovRedirect('carga/incompleta'); return false;">
                    <div class="flex-row" style="margin: 8px 0; width: 100%;">
                        <input class="address-three" style="margin: 0; height: 14px" type="number" id="idInputBrow" min="1" placeholder="Carga...">
                        <button type="submit" class="button-mini btn-fancy" style="height: 26px; width: 26px;" title="IR PARA CARGA..." >
                            <img class="svg-invert" style="height: 14px; width: 14px;" src="{{ url_for('static', filename='svg/arrow-right.svg') }}" alt="">
                        </button>
                    </div>
                </form>
                <hr class="vert">
                <a class="aux-button {% if request.endpoint == 'carga_incomp' or request.endpoint == 'carga_incomp_id' %}active{% endif %}">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/package-badge.svg') }}" title="INCOMPLETAS" alt="" onclick="window.location.href='{{ url_for('carga_incomp') }}';">
                </a>
                <a class="aux-button {% if request.endpoint == 'faturado' %}active{% endif %}">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/package-check.svg') }}" title="FATURADOS" alt="" onclick="window.location.href='{{ url_for('faturado') }}';">
                </a>
                <a class="aux-button {% if request.endpoint == 'cargas' or request.endpoint == 'carga_id' %}active{% endif %}">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/truck.svg') }}" title="SEPARACÃO DE CARGAS" alt="" onclick="window.location.href='{{ url_for('cargas') }}';">
                </a>
                <hr class="vert">
                <form class="disabled">
                    <button type="submit" style="all: unset">
                        <img class="svg-gray" src="{{ url_for('static', filename='svg/list-restart.svg') }}" title="RECARREGAR LISTA DE CARGAS">
                    </button>
                </form>
                <hr class="vert">
                <a class="aux-button {% if request.endpoint == 'carga_sep_pend' or request.endpoint == 'carga_sep_done' %}active{% endif %}">
                    <img class="svg-gray" src="{{ url_for('static', filename='svg/grid-2x2.svg') }}" title="SEPARAÇÃO (CONCLUÍDOS)" alt="" onclick="window.location.href='{{ url_for('carga_sep_done', id_carga=0) }}';">
                </a>
                <img class="svg-gray disabled" src="{{ url_for('static', filename='svg/filter.svg') }}" title="FILTROS (NÃO POSSUI)" alt="" onclick="toggleFilter()">
                <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="VOLTAR" alt="" onclick="goBack()">
            </div>
        </div>
        </div>
        <div id="divContent" style="flex-wrap: wrap;">
        
            <form class="hidden" id="cod_item_form" method="GET" action="">
                <input type="hidden" id="cod_item_input" name="cod_item">
                <input type="hidden" id="carga_id_input" name="carga_id">
                <input type="hidden" id="qtde_item_input" name="qtde_solic">
            </form>
        
            {% if 'user_grant' in session %}
                <div id="incompTable" class="tables-container" style="min-width: 55%;">
                    {% if carga_incomp | count > 0 %}
                    <div class="flex-column">
                        {% if id_carga %}
                            <div class="split-horizontal">
                                <h1 style="margin-bottom: 8px">Número de Carga <input id="idCargaContainer" class="cor-web" value="{{ id_carga }}"></h1>
                                <div style="display: flex; flex-direction: column; gap: 6px">
                                    <div class="cart-container" style="display: none">
                                        <button class="cart-button" onclick="toggleCart()">Subtotais<span class="item-count" id="item-count">0</span></button>
                                        <div class="cart-dropdown hidden" id="cart-dropdown">
                                            <ul class="cart-items">
                                                <!-- Itens serão renderizados aqui -->
                                            </ul>
                                            <button class="checkout-button" onclick="window.location.href='{{ url_for('carga_sep_pend', id_carga=id_carga) }}';">Visualizar Separação</button>
                                        </div>
                                    </div>
                                    <a class="button-mini btn-fancy" style="margin: 0" onclick="window.location.href='{{ url_for('carga_incomp') }}';" title="FECHAR">
                                        <img class="svg-invert" src="{{ url_for('static', filename='svg/xmark.svg') }}" alt="">
                                    </a>
                                </div>
                            </div>
                            <h1 class="subtitle">Cliente: <span class="cor-web">{{ fant_cliente }}</span></h1>
                        {% else %}
                            <h1 style="margin-bottom: 8px">Todas as Cargas</h1>
                            <h1 class="subtitle">Há <span class="cor-web">{{ carga_incomp | count }} produto(s)</span> pendente(s)</h1>
                        {% endif %}
                    </div>
                    <div style="display: flex; justify-content: space-between; align-items: flex-end;">
                        <p>Itens de cargas pendentes</p>
                    </div>
                    <div style="max-height: 540px; overflow-y: auto; width: 100%;">
                        <table>
                            <thead>
                                <tr>
                                    {% if not id_carga %}
                                    <th>Carga (Código)</th>
                                    {% endif %}
                                    <th>Item (Código)</th>
                                    <th>Item (Descrição)</th>
                                    <th style="width: 100px;">QTDE (Solicitada)</th>
                                    {% if id_carga %}
                                    <th style="width: 100px;">QTDE (Separada)</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                <tbody>
                                    {% set items = {} %}
                                    
                                    {% for row in carga_incomp %}
                                        {% set row_cod_item = row[1] %}
                                        {% set priv_id_carga = row[0] %}
                                        {% set priv_desc_item = row[2] %}
                                        {% set priv_qtde_solic = row[4] %}
                                        
                                        {% if row_cod_item in items %}
                                            {% set items = 
                                                items.update({ 
                                                    row_cod_item: {
                                                        'priv_id_carga': priv_id_carga,
                                                        'desc': priv_desc_item,
                                                        'qtde': items[row_cod_item]['qtde'] + priv_qtde_solic
                                                    }
                                                }) 
                                                or items 
                                            %}
                                        {% else %}
                                            {% set items = 
                                                items.update({ row_cod_item: {
                                                    'priv_id_carga': priv_id_carga,
                                                    'desc': priv_desc_item,
                                                    'qtde': priv_qtde_solic
                                                }}) 
                                                or items 
                                            %}
                                        {% endif %}
                                    {% endfor %}
                                    
                                    {% for row_cod_item, item in items.items() %}
                                        <tr 
                                            class="selectable-row sub-total {% if row_cod_item == cod_item %}active{% endif %}" 
                                            data-cod-item="{{ row_cod_item }}"
                                            onclick="sendCodItem('carga/incompleta', '{{ row_cod_item }}', '{{ item.priv_id_carga }}', '{{ item.qtde }}')"
                                        >
                                            {% if not id_carga %}
                                                <td>{{ item.priv_id_carga }}</td>
                                            {% endif %}
                                            <td>{{ row_cod_item }}</td>
                                            <td style="text-wrap: balance;">{{ item.desc }}</td>
                                            <td>{{ item.qtde }}</td>
                                            {% if id_carga %}
                                                <td class="subtotal-cell"></td>
                                            {% endif %}
                                        </tr> 
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                            <div style="margin: 50% 0; padding: 0 160px;">
                                <p class="disabled">Não há cargas incompletas para finalizar.</p>
                            </div>
                        {% endif %}
                        <br>
                        {% if id_carga %}
                        <div class="split-horizontal">
                            <div class="flex-row">
                                <div class="button-mini btn-fancy" onclick="excludeCargaIncompleta()" title="APAGAR CARGA INCOMPLETA">
                                    <img class="svg-inv" style="height: 20px; width: 20px;" src="{{ url_for('static', filename='svg/trash.svg') }}" alt="">
                                </div>
                            </div>
                            <div 
                                class="btn-fancy featured" 
                                style="height: 45px; margin: 0; max-width: 200px;" 
                                onclick="window.location.href='{{ url_for('carga_sep_pend', id_carga=id_carga) }}';">
                                <span>VISUALIZAR</span>
                            </div>
                        </div>
                        {% endif %}
                    </div>
            {% endif %}
            {% if cod_item and cod_item in cod_item_list %}
                <div id="stockTable" class="tables-container glow-tl">
                    <span>
                        <h1>Item <span class="cor-web">{{ cod_item }}</span> em Estoque:</h1>
                    </span>
                        <table>
                            {% if not result_local %}
                                <div class="msg-error">
                                    <details>
                                        <summary>Não há saldo disponível para este item!</summary>
                                        Atualmente, não existe saldo suficiente para suprir esta carga.
                                    </details>
                                </div>
                            {% else %}
                                <thead>
                                    <tr>
                                        <th>Endereço</th>
                                        <th>Item (Código)</th>
                                        <th>Lote (Código)</th>
                                        <th>Validade (Dias)</th>
                                        <th>QTDE (Efetiva)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in result_local %}
                                    {% set qtde_solic = request.args.get('qtde_solic') %}
                                        <tr class="selectable-row" onclick="pushItemIntoSeparacao(
                                            '{{ row['saldo'] }}', '{{ qtde_solic }}',
                                            '{{ row['address'] }}', '{{ row['cod_lote'] }}'
                                        )">
                                            <td>{{ row['address'] }}</td>
                                            <td>{{ row['cod_item'] }}</td>
                                            <td>{{ row['cod_lote'] }}</td>
                                            <td title="Data Fab.: {{ row['date_fab'] }}">{{ row['validade'] }}</td>
                                            <td {% if qtde_solic|int <= row['saldo'] %} style="color: green"{% else %} style="color: red"{% endif %}>
                                                {{ row['saldo'] }}
                                            </td>    
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <div id="inputContainer" class="hidden"></div>
                            {% endif %}
                        </table>
                    <br>
                </div>
            {% else %}
            <div class="tables-container" id="sepListContainer" style="max-width: 20vw">
                <h1 class="subtitle" style="margin: 0;">Buscar cargas...</h1>
                <select class="address-three inline-input" style="color: var(--cor-cde); font-size: 12px" onchange="window.location.href='/mov/carga/separacao/f/{{ id_carga | default(0) }}'">
                    <option style="color: var(--cor-cde);">Incompletas</option>
                </select>
                {% block all_separation_status %}
                
                {% endblock all_separation_status %}
                    <div class="table-overflow" style="max-height: 700px">
                        {% if id_carga %}
                            
                        {% endif %}
                        <form onsubmit="routeMovRedirect('incompleta'); return false;">
                            <div class="flex-row" style="margin: 8px 0; width: 100%;">
                                <input class="address-one" style="margin: 0; height: 32px" type="number" id="idInput" min="1" placeholder="Carga...">
                                <button type="submit" class="button-mini btn-fancy" style="height: 32px; width: 32px;" title="IR PARA CARGA..." >
                                    <img class="svg-invert" style="height: 18px; width: 18px;" src="{{ url_for('static', filename='svg/arrow-right.svg') }}" alt="">
                                </button>
                            </div>
                        </form>
                        <table id="allSeparationsTable" style="border-top: 4px solid var(--cor-destaque)">
                            <tbody>
                                {% if not carga_list %}
                                    <tr>
                                        <td>Nenhuma carga incompleta pendente</td>
                                    </tr>
                                {% else %}
                                    {% for row in carga_list %}
                                        <tr class="selectable-row" onclick="window.location.href='/mov/carga/incompleta/{{ row }}'">
                                            <td>{{ row }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
        {% endif %}

        <form class="hidden" id="cod_item_form" method="GET" action="">
            <input type="hidden" id="cod_item_input" name="cod_item">
            <input type="hidden" id="carga_id_input" name="carga_id">
            <input type="hidden" id="qtde_item_input" name="qtde_solic">
        </form>
        <!-- PopUp -->
        {% include "components/menus/quantity-popup.html" %}
    </div>
            
        <script>
            const nroCarga = '{{ id_carga }}';

            var codItem = '{{ cod_item }}';
            var userID  = '{{ session['id_user'] }}';
            var itemCount = 0;

            if (nroCarga != '') {
                renderCartSubtotals();
            }
     
            
            function getSeparacao() {
                return new Promise((resolve, reject) => {
                    const localStorageData = localStorage.getItem(getStorageKey());
                    if (localStorageData) {
                        resolve(JSON.parse(localStorageData));
                    } else {
                        fetch(`/get/carga/load-table-data?filename=${getStorageKey()}`)
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Erro ao carregar dados do servidor');
                                }
                                return response.json();
                            })
                            .then(data => {
                                reject(new Error('A carga selecionada já foi finalizada.'));
                            })
                            .catch(error => {
                                reject(new Error('Nenhuma carga pendente ou iniciada neste código.'));
                            });
                    }
                });
            }


            function toggleTableSubtotal() {
                const detailedTable = document.getElementById('detailedTable');
                const standardTable = document.getElementById('standardTable');
    
                detailedTable.classList.toggle('hidden');
                standardTable.classList.toggle('hidden');
            }


            async function getAndCompareItems() {
                try {
                    const sepCarga = await getSeparacao();
                    const storageKey = getStorageKey();
            
                    itemsList = [];
            
                    for (const item of sepCarga) {
                        const { cod_item, qtde_solic } = item;
                        const qtde_sep = getQtdeItemLS(storageKey, cod_item);
            
                        itemsList.push({ cod_item, qtde_solic, qtde_sep });
                    }
            
                    console.log('Lista de Itens:', itemsList);
            
                } catch (error) {
                    console.error('Erro ao obter separação:', error);
                }
            }


            document.addEventListener('DOMContentLoaded', function() {
                var rows = document.querySelectorAll('.js_query_selector');
                rows.forEach(function(row) {
                    row.addEventListener('click', function() {
                        var idCarga = this.getAttribute('data-id');
                        window.location.href = '/mov/carga/' + idCarga;
                    });
                });
                if (!codItem) {
                    listSeparationsLocalStorage('carga/incompleta');
                }
            });

        </script>

        <script src="{{ url_for('static', filename='js/lb-cargas.js') }}"></script>

        {% include 'shared/footer.html' %}