{% extends "pages/mov/mov-carga/mov-carga-separacao.html" %}


{% block title %}
    <title>Separação (🟠) {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %} | TRANSLÉGUA</title>
{% endblock title %}


{% block sep_status %}
    <span>SEPARAÇÃO <span style="font-size: 16px">(🟠)</span></span>
{% endblock sep_status %}


{% block aux_buttons %}
    <form onsubmit="routeMovRedirect('separacao-pend'); return false;">
        <div class="flex-row" style="margin: 8px 0">
            <input class="address-three" style="margin: 0; height: 14px" id="idInputBrow" min="1" placeholder="Carga...">
            <button type="submit" class="button-mini btn-fancy" style="height: 26px; width: 26px;" title="IR PARA CARGA..." >
                <img class="svg-invert" style="height: 14px; width: 14px;" src="{{ url_for('static', filename='svg/arrow-right.svg') }}" alt="">
            </button>
        </div>
    </form>
    <hr class="vert">
    <img class="svg-gray" src="{{ url_for('static', filename='svg/package-badge.svg') }}" title="INCOMPLETAS" alt="" onclick="window.location.href='{{ url_for('carga_incomp') }}';">
    <img class="svg-gray" src="{{ url_for('static', filename='svg/package-check.svg') }}" title="FATURADOS" alt="" onclick="window.location.href='{{ url_for('faturado') }}';">
    <img class="svg-gray" src="{{ url_for('static', filename='svg/truck.svg') }}" title="SEPARACÃO DE CARGAS" alt="" onclick="window.location.href='{{ url_for('cargas') }}';">
    <hr class="vert">
    <form action="{{ url_for('cargas') }}" method="post">
        <button type="submit" style="all: unset">
            <img class="svg-gray" src="{{ url_for('static', filename='svg/list-restart.svg') }}" title="RECARREGAR LISTA DE CARGAS">
        </button>
    </form>
    <hr class="vert">
    <a class="aux-button {% if request.endpoint == 'carga_sep_pend' or request.endpoint == 'carga_sep_done' %}active{% endif %}">
        <img class="svg-gray" src="{{ url_for('static', filename='svg/grid-2x2.svg') }}" title="SEPARAÇÃO (CONCLUÍDOS)" alt="" onclick="window.location.href='{{ url_for('carga_sep_done', id_carga=id_carga) }}';">
    </a>
    <img class="svg-gray disabled" src="{{ url_for('static', filename='svg/filter.svg') }}" title="FILTROS (NÃO POSSUI)" alt="" onclick="toggleFilter()">
    <img class="svg-gray" src="{{ url_for('static', filename='svg/circle-arrow-left.svg') }}" title="VOLTAR" alt="" onclick="goBack()">
    {% endblock aux_buttons %}


    {% block separation_buttons %}
    <div class="flex-row">
        <div class="button-mini btn-fancy" onclick="reloadTables()" title="RECARREGAR REGISTROS" >
            <img class="svg-invert" src="{{ url_for('static', filename='svg/reload.svg') }}" alt="">
        </div>
        <div class="button-mini btn-fancy" onclick="clearItems()" title="APAGAR ITENS DA SEPARAÇÃO">
            <img class="svg-invert" src="{{ url_for('static', filename='svg/eraser.svg') }}" alt="">
        </div>
        {% if session['user_grant'] == 1 %}
        <div class="button-mini btn-fancy" onclick="genCargaReport()" title="GERAR RELATÓRIO" >
            <img class="svg-invert" src="{{ url_for('static', filename='svg/file-text.svg') }}" alt="">
        </div>
        {% endif %}
    </div>
    <div id="finalizarBtn" class="btn-fancy safe" style="height: 45px; margin: 0; max-width: 200px;" onclick="concludeSeparacao()">
        <img class="svg-invert" style="height: 22px; width: 22px;" src="{{ url_for('static', filename='svg/circle-check.svg') }}" alt="Finalizar...">
    </div>
{% endblock separation_buttons %}


{% block all_separation_status %}
<p style="justify-content: flex-start; margin: 0 0 12px 0;">Status:
    <select class="address-three inline-input" style="color: var(--cor-destaque); font-size: 14px" onchange="window.location.href='/mov/separacao-done/{{ id_carga }}'">
        <option style="color: var(--cor-destaque);">Pendentes</option>
        <option style="color: green;">Finalizadas</option>
    </select>
</p>
{% endblock all_separation_status %}


{% block script %}
    <script>

        const nroCarga    = '{{ id_carga }}';
        const fantCliente = '{{ fant_cliente }}';
        const obs_carga   = '{{ obs_carga }}';

        function getSeparacao() {
            return new Promise((resolve, reject) => {
                const localStorageData = localStorage.getItem(getStorageKey());
                if (localStorageData) {
                    resolve(JSON.parse(localStorageData));
                } else {
                    fetch(`/get/load-table-data?filename=${getStorageKey()}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Erro ao carregar dados do servidor');
                            }
                            return response.json();
                        })
                        .then(data => {
                            reject(new Error(304));
                        })
                        .catch(error => {
                            reject(new Error(404));
                        });
                }
            });
        }

        
        async function renderItems() {
            showLoading();
            const itemsTable = document.getElementById('itemsTable').getElementsByTagName('tbody')[0];
            const statusElements = document.getElementsByClassName('separation_status');
            itemsTable.innerHTML = '';

            try {
                const sepCarga = await getSeparacao();

                // Obter itens da carga
                let itens_carga;
                try {
                    const response = await fetch(`/api/itens_carga?id_carga=${nroCarga}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    });
        
                    if (!response.ok) {
                        throw new Error(`Erro HTTP: ${response.status}`);
                    }
        
                    const result = await response.json();
                    itens_carga = result.itens;
                } catch (error) {
                    console.error('Erro ao obter itens_carga:', error);
                    return;
                }
        
                // Agrupar os itens por código de item
                const groupedItems = sepCarga.reduce((acc, item) => {
                    if (!acc[item.cod_item]) {
                        acc[item.cod_item] = [];
                    }
                    acc[item.cod_item].push(item);
                    return acc;
                }, {});

                // Iterar sobre os grupos de itens
                for (const [cod_item, items] of Object.entries(groupedItems)) {
                    let subtotal = 0;

                    for (const [index, item] of items.entries()) {
                        await visualDelay(100);
                        await getSeparadorName(item.user_id);

                        const row = itemsTable.insertRow();
                        row.insertCell(0).textContent = `${item.rua_letra}.${item.rua_numero}`;
                        row.insertCell(1).textContent = item.cod_item;

                        const descCell = row.insertCell(2);
                        row.insertCell(3).textContent = item.lote_item;
                        row.insertCell(4).textContent = item.qtde_sep;

                        subtotal += item.qtde_sep;

                        try {
                            const descricao = await fetchItemDescription(item.cod_item);
                            descCell.style.textWrap = "balance";
                            descCell.textContent = descricao;
                        } catch (error) {
                            console.error('Erro ao obter descrição:', error);
                            descCell.textContent = 'Erro ao obter descrição';
                        }
                    }

                    const qtde_solic = await fetchQtdeSolic(nroCarga, cod_item);
                    const subtotalRow = itemsTable.insertRow();

                    subtotalRow.insertCell(0);
                    subtotalRow.insertCell(1);
                    const cell0 = subtotalRow.insertCell(2);

                    cell0.textContent = cod_item;
                    cell0.style.textAlign = 'right';

                    const cell1 = subtotalRow.insertCell(3);
                    cell1.textContent = 'Subtotal:';
                    subtotalRow.insertCell(4).innerHTML = `<span class="cor-web">${subtotal}</span> / ${qtde_solic}`;
        
                    subtotalRow.classList.add('sub-total');
                }
        
                // Criar linhas de subtotal para itens zerados que não estão em sepCarga
                for (const item of itens_carga) {
                    if (!groupedItems[item]) {
                        const subtotalRow = itemsTable.insertRow();

                        subtotalRow.insertCell(0);
                        subtotalRow.insertCell(1);
                        const cell0 = subtotalRow.insertCell(2);

                        cell0.textContent = item;
                        cell0.style.textAlign = 'right';

                        const cell1 = subtotalRow.insertCell(3);
                        cell1.textContent = 'Subtotal:';

                        const qtde_solic = await fetchQtdeSolic(nroCarga, item);
                        subtotalRow.insertCell(4).innerHTML = '<span class="cor-web">0</span> / ' + qtde_solic;

                        subtotalRow.classList.add('sub-total');
                    }
                }

            } catch (error) {
                const alert = document.getElementById('alert-message');
                const content = document.getElementById('contentTable');

                let errorMessage = `<div class="msg-error">Erro: ${error.message}</div>`;

                if (error.message == 304) {
                    hasPendingItems().then(bool => {
                        if(bool == true) {
                            showToast('A carga está incompleta. Verifique seus itens!', 2, 10000)

                            errorMessage = `
                                <div class="msg-alert">
                                    <details>
                                        <summary>A separação foi finalizada, mas está incompleta.</summary>
                                        Para finalizá-la, clique no ícone <img class="svg msg-svg" src="{{ url_for('static', filename='svg/package-badge.svg') }}"> acima..
                                    </details>
                                </div>
                            `;
                        } else {
                            errorMessage = `
                                <div class="msg-success">
                                    <details>
                                        <summary>A carga selecionada já foi finalizada.</summary>
                                        Para visualizá-la, filtre por 'finalizados' clicando no ícone <img class="svg msg-svg" src="{{ url_for('static', filename='svg/grid-2x2-check.svg') }}"> acima.
                                    </details>
                                </div>
                            `;
                        }
                        
                        alert.innerHTML = errorMessage;
                    });
                    console.log(errorMessage)
                    Array.from(statusElements).forEach(element => {
                        element.innerHTML = '<span style="color: green">Finalizada</span>';
                    });

                } else if (error.message == 404) {
                    errorMessage = `
                        <div class="msg-error">
                            <details>
                                <summary>Nenhuma separação pendente ou iniciada neste código!</summary>
                                Inicie a <a class="hyperlink" style="font-size: unset" href="/mov/carga">separação da carga</a> para realizar o faturamento.
                            </details>
                        </div>`
                    ;
                    alert.innerHTML = errorMessage;
                }
                alert.classList.toggle('hidden');
                content.classList.add('hidden');
            }
            await visualDelay(500);
            hideLoading();
        }


        function reloadTables() {
            listSeparationsLocalStorage('separacao-pend');
            renderItems();
            renderCartSubtotals();
        }


        document.addEventListener('DOMContentLoaded', () => {
            reloadTables();
        });
        
    </script>
{% endblock script %}