            <div class="navigation-bar">
                <div style="height: 48px;width: auto;display: flex;justify-content: center;align-items: center; padding: 0 10px; cursor: pointer;" onclick="window.location.href='{{ url_for('home') }}';">
                    <img style="height: 20px; width: auto;" class="svg" src="{{ url_for('static', filename='img/cde-logo.png') }}" alt="">
                </div>
                <div style="margin: 4px;display: flex;">
                    <hr class="vert" style="width: 0;">
                </div>
                
                {% if 'privilegio' in session %}
                    <div class="dropdown">
                        <button class="dropbtn">
                            <span>EXPEDIÇÃO</span>
                            <img style="height: 15px; width: 15px; padding: 0" class="svg-inv" src="{{ url_for('static', filename='svg/chevron-down.svg') }}" alt="">
                        </button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('mov') }}">MOV002 | MOVIMENTAR</a>
                            <a href="{{ url_for('historico') }}">MOV003 | HISTÓRICO</a>
                            <a href="{{ url_for('estoque') }}">MOV004 | ESTOQUE</a>
                            <a href="{{ url_for('faturado') }}">MOV005 | FATURADO</a>
                            <a href="{{ url_for('cargas') }}">MOV006 | CARGAS</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            <span>PRODUTOS</span>
                            <img style="height: 15px; width: 15px; padding: 0" class="svg-inv" src="{{ url_for('static', filename='svg/chevron-down.svg') }}" alt="">
                        </button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('produtos') }}">ITE005 | CADASTROS</a>
                            <a href="{{ url_for('estoque') }}">MOV004 | ESTOQUE</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            <span>OUTROS</span>
                            <img style="height: 15px; width: 15px; padding: 0" class="svg-inv" src="{{ url_for('static', filename='svg/chevron-down.svg') }}" alt="">
                        </button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('etiqueta') }}">OUT014 | ETIQUETA</a>
                        </div>
                    </div>
                    {% if session['privilegio'] == 1 %}
                        <div class="dropdown" onclick="window.location.href='{{ url_for('api') }}';">
                            <button class="dropbtn" style="height: 48px; width: 48px;">
                                <svg style="height: 15px; width: 15px; padding: 0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-database-zap"><ellipse cx="12" cy="5" rx="9" ry="3"/><path d="M3 5V19A9 3 0 0 0 15 21.84"/><path d="M21 5V8"/><path d="M21 12L18 17H22L19 22"/><path d="M3 12A9 3 0 0 0 14.59 14.87"/></svg>
                            </button>
                        </div>
                    {% endif %}
                    <!--
                    {% if session['privilegio'] <= 1 %}
                        <div class="dropdown">
                            <button class="dropbtn" style="height: 48px">
                                <img class="svg-inv" style="padding: 0; height: 18px;width: 18px" src="{{ url_for('static', filename='svg/wbg-logo.svg') }}" alt="">
                            </button>
                            <div class="dropdown-content">

                            </div>
                        </div>
                    {% endif %}
                    -->
                {% endif %}
            </div>
