            <div class="navigation-bar">
                <div style="height: 48px;width: auto;display: flex;justify-content: center;align-items: center; padding-right: 10px; cursor: pointer;" onclick="window.location.href='{{ url_for('home') }}';">
                    <img style="height: 20px; width: auto;" class="svg" src="{{ url_for('static', filename='img/cde-logo-w.png') }}" alt="">
                </div>
                <div style="margin: 4px;display: flex;">
                    <hr class="vert" style="width: 0;">
                </div>
                
                {% if 'user_grant' in session %}
                    <div class="split-h">
                        <div style="display: flex;flex-wrap: nowrap;">
                            <div class="dropdown">
                                <button class="dropbtn" onclick="window.location.href='{{ url_for('home_logi') }}';">
                                    <span class="hyperlink">LOGÍSTICA</span>
                                    <img style="height: 15px; width: 15px; padding: 0" class="chevron svg-inv" src="{{ url_for('static', filename='svg/chevron-down.svg') }}" alt="">
                                </button>
                                <div class="dropdown-content">
                                    <div class="submenu">
                                        <a class="submenu-title" href="{{ url_for('mov') }}">
                                            <div class="split-h" style="align-items: center;">
                                                <span>MOV002 | MOVIMENTAR</span>
                                                <img style="height: 12px; width: 11px; padding: 0;" class="chevron svg-inv" src="{{ url_for('static', filename='svg/bottom-point.svg') }}" alt="">
                                            </div>
                                        </a>
                                        <div class="submenu-content">
                                            <a href="{{ url_for('mov') }}">MOVIMENTAR</a>
                                            <a href="{{ url_for('historico') }}">HISTÓRICO</a>
                                        </div>
                                    </div>
                                    <div class="submenu">
                                        <a class="submenu-title" href="{{ url_for('estoque') }}">
                                            <div class="split-h" style="align-items: center;">
                                                <span>MOV004 | ESTOQUE</span>
                                                <img style="height: 12px; width: 11px; padding: 0;" class="chevron svg-inv" src="{{ url_for('static', filename='svg/bottom-point.svg') }}" alt="">
                                            </div>
                                        </a>
                                        <div class="submenu-content">
                                            <a href="{{ url_for('estoque') }}">AGRUPADO</a>
                                            <a href="{{ url_for('estoque_enderecado') }}">ENDEREÇADO</a>
                                            <a href="{{ url_for('estoque_preset') }}">PRESET</a>
                                        </div>
                                    </div>
                                    <div class="submenu">
                                        <a class="submenu-title" href="{{ url_for('cargas') }}">
                                            <div class="split-h" style="align-items: center;">
                                                <span>MOV006 | CARGAS</span>
                                                <img style="height: 12px; width: 11px; padding: 0;" class="chevron svg-inv" src="{{ url_for('static', filename='svg/bottom-point.svg') }}" alt="">
                                            </div>
                                        </a>
                                        <div class="submenu-content">
                                            <a href="{{ url_for('cargas') }}">CARGAS</a>
                                            <a href="{{ url_for('carga_incomp') }}">INCOMPLETAS</a>
                                            <a href="{{ url_for('faturado') }}">FATURADAS</a>
                                            <a href="{{ url_for('carga_sep_done', id_carga=0) }}">SEPARAÇÃO</a>
                                        </div>
                                    </div>
                                    <div class="submenu">
                                        <a class="submenu-title" href="{{ url_for('mov_request') }}">
                                            <div class="split-h" style="align-items: center;">
                                                <span>MOV007 | REQUISIÇÕES</span>
                                                <img style="height: 12px; width: 11px; padding: 0;" class="chevron svg-inv" src="{{ url_for('static', filename='svg/bottom-point.svg') }}" alt="">
                                            </div>
                                        </a>
                                        <div class="submenu-content">
                                            <a href="{{ url_for('mov_request') }}">REQUISIÇÕES</a>
                                            <a href="{{ url_for('req_sep_done', id_req=0) }}">SEPARAÇÃO</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn" onclick="window.location.href='{{ url_for('home_prod') }}';">
                                    <span class="hyperlink">PRODUÇÃO</span>
                                    <img style="height: 15px; width: 15px; padding: 0" class="chevron svg-inv" src="{{ url_for('static', filename='svg/chevron-down.svg') }}" alt="">
                                </button>
                                <div class="dropdown-content">
                                    <div class="submenu">
                                        <a class="submenu-title" href="{{ url_for('producao') }}">
                                            <div class="split-h" style="align-items: center;">
                                                <span>PRC010 | PROCESSAMENTO</span>
                                                <img style="height: 12px; width: 11px; padding: 0;" class="chevron svg-inv" src="{{ url_for('static', filename='svg/bottom-point.svg') }}" alt="">
                                            </div>
                                        </a>
                                        <div class="submenu-content">
                                            <a href="{{ url_for('producao') }}">PROGRAMAÇÃO</a>
                                            <a href="{{ url_for('calendar_producao') }}">CALENDÁRIO</a>
                                        </div>
                                    </div>
                                    <div class="submenu">
                                        <a class="submenu-title" href="{{ url_for('envase') }}">
                                            <div class="split-h" style="align-items: center;">
                                                <span>ENV006 | ENVASE</span>
                                                <img style="height: 12px; width: 11px; padding: 0;" class="chevron svg-inv" src="{{ url_for('static', filename='svg/bottom-point.svg') }}" alt="">
                                            </div>
                                        </a>
                                        <div class="submenu-content">
                                            <a href="{{ url_for('envase') }}">PROGRAMAÇÃO</a>
                                            <a href="{{ url_for('calendar_envase') }}">CALENDÁRIO</a>
                                        </div>
                                    </div>
                                    <a href="{{ url_for('produtos') }}">ITE005 | PRODUTOS</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <span>OUTROS</span>
                                    <img style="height: 15px; width: 15px; padding: 0" class="chevron svg-inv" src="{{ url_for('static', filename='svg/chevron-down.svg') }}" alt="">
                                </button>
                                <div class="dropdown-content">
                                    <a href="{{ url_for('etiqueta') }}">OUT014 | ETIQUETA</a>
                                    <a href="{{ url_for('rotulo') }}">OUT015 | RÓTULO</a>
                                    <a href="{{ url_for('supply_losses') }}">OUT016 | PERDAS</a>
                                </div>
                            </div>
                        </div>
                        <div class="flex-h" style="gap: 0">
                            <div style="display: flex; justify-content: center; align-items: center; height: 48px; width: 48px;">
                                <img id="toggle-theme" title="Alterar Tema" style="height: 16px; width: 16px; cursor: pointer;" onclick="toggleTheme()" class="svg-inv" src="{{ url_for('static', filename='svg/moon.svg') }}" alt="">
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn" style="cursor: pointer;" onclick="window.location.href='{{ url_for('cde_notifications') }}';">
                                    <img id="svg-notification" style="height: 15px; width: 15px; padding: 0" class="svg-inv" src="{{ url_for('static', filename='svg/bell.svg') }}" alt="">
                                </button>
                                <div class="dropdown-content" id="notifications-container" style="right: 0; left: unset; background-color: var(--light-white-m); ">
                                    <!-- notifications will be automatically added here -->
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <span>SISTEMA</span>
                                    <img style="height: 15px; width: 15px; padding: 0" class="chevron svg-inv" src="{{ url_for('static', filename='svg/chevron-down.svg') }}" alt="">
                                </button>
                                <div class="dropdown-content" style="right: 0; left:unset">
                                    <div class="submenu">
                                        <a class="submenu-title" href="{{ url_for('cde_cfg') }}">
                                            <div class="split-h" style="align-items: center;">
                                                <span>AJUSTES</span>
                                                <img style="height: 12px; width: 11px; padding: 0;" class="chevron svg-inv" src="{{ url_for('static', filename='svg/bottom-point.svg') }}" alt="">
                                            </div>
                                        </a>
                                        <div class="submenu-content" style="left: unset; right: 100%; border-left: unset; border-right: 6px solid var(--dark-or-white);">
                                            {% if session['user_grant'] <= 2 %}
                                                <a href="{{ url_for('permissions') }}">CDE018 | CONTRATOS</a>
                                                <a href="{{ url_for('admin_migrations') }}">DEV000 | MIGRATIONS</a>
                                            {% endif %}
                                            <a href="{{ url_for('api') }}">DEV000 | DATABASE</a>
                                            <a href="{{ url_for('cde_query_list') }}">DEV000 | QUERIES</a>
                                            <a href="{{ url_for('users') }}">CDE016 | USUÁRIOS</a>
                                        </div>
                                    </div>
                                    <a href="{{ url_for('cde_profile') }}">PERFIL</a>
                                    <a href="{{ url_for('about') }}">AJUDA</a>
                                    <a href="{{ url_for('logout') }}">SAIR</a>
                                </div>
                            </div>
                            <div style="margin: 4px; display: flex;">
                                <hr class="vert" style="width: 0;">
                            </div>
                            <div class="user-params-button flex-h" style="margin-left: 10px;" onclick="window.location.href='{{ url_for('cde_profile') }}';">
                                <p style="margin: auto 8px; max-height: 14px" class="id-page white-filled">{{ app_unit }}</p>
                                <div style="margin: auto 4px auto auto;" class="user-button">
                                    {{ session.get('user_initials', '') }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
