
{% extends 'base.j2' %}

{% block title %}Database{% endblock title %}

{% block custom_style %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.0/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.0/theme/material-darker.min.css">

    <style>
        .wrap {
            white-space: pre-wrap;
        }

        .CodeMirror {
            resize: none;
            height: 100%; 
            font-family: 'Fira Code', monospace;
            min-width: -webkit-fill-available;
        }

        .CodeMirror-scrollbar-filler {
            background-color: #212121
        }
    </style>

{% endblock custom_style %}

{% block content %}

    <div class="titles-ruler">
        
        {% from 'components/title-route.j2' import title_container %}
        {{ title_container(
            id_page=session['id_page'],
            breadcrumbs=[
                {'text': 'DATABASE'}
            ],
            aux_buttons=[
                {'type': 'link', 'url': 'cde_cfg', 'icon': 'svg/cog.svg', 'title': 'AJUSTES'},
                {'type': 'link', 'url': 'cde_profile', 'icon': 'svg/circle-user.svg', 'title': 'PERFIL'},
                {'type': 'divider'},
                {'type': 'link', 'url': 'about', 'icon': 'svg/circle-help.svg', 'title': 'AJUDA'},
                {'type': 'divider'},
                {'type': 'action', 'icon': 'svg/circle-arrow-left.svg', 'title': 'VOLTAR', 'onclick': 'goBack()'}
            ]
        ) }}
        
    </div>

    <div id="divContent" style="flex-wrap: wrap;">

        <div class="split-h" style="gap: 20px;">
            
            <form id="query-field" action="/database" method="post" class="tables-container" style="overflow: hidden; padding: 0; min-height: unset" onsubmit="showLoading()">
                {% if app_version[2] %}

                    <div class="split-h" style="margin: 6px; align-items: center">
                        <h1 class="subtitle" style="text-align: left; margin: 0 14px;">Console SQL</h1>
                        <div class="flex-h" style="margin: 6px 14px;">
                            <img id="undoButton" class="svg-invert" style="opacity: 0.6; display: none; cursor: pointer;" onclick="restoreLastQuery()" src="{{ url_for('static', filename='svg/undo.svg') }}" title="DESFAZER">

                            <select title="METHOD" id="sel_schema" name="sel_schema" class="address" style="margin: 0; height: 45px" required>
                                {% if dsn %}
                                    <option value="{{ dsn }}">{{ dsn }} (RECENTE)</option>
                                    <hr>
                                {% endif %}
                                <option>API</option>
                                <option>ODBC-DRIVER</option>
                                <option>LOCAL</option>
                            </select>

                            <select title="SOURCE" id="sel_source" name="sel_source" style="margin: 0; height: 45px; width: 70px;" required>
                                {% if source %}
                                    <option value="{{ source }}">{{ source }}</option>
                                    <hr>
                                {% endif %}
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>

                            <button class="button-mini btn-fancy" type="submit" id="submitform">
                                <img class="svg-invert" src="{{ url_for('static', filename='svg/play.svg') }}" title="EXECUTAR">
                            </button>
                        </div>
                    </div>

                    <div style="background-color: #212121; padding: 0 0 26px 0; height: 100%; min-width: -webkit-fill-available; max-width: -webkit-fill-available; overflow: auto">
                        <textarea 
                            class="query"
                            id="sql_query"
                            name="sql_query"
                            required
                        >{% if query %}{{ query }}{% else %}{% include "pages/cde/db-cfg/standard-query.txt" %}{% endif %}</textarea>
                    </div>
                    
                {% else %}

                    <div style="margin: 50% 0; padding: 0 160px;">
                        <p class="disabled">Seu usuário não possui privilégios para esta ação.</p>
                    </div>

                {% endif %}
            </form>

            <div class="forms-container" style="min-height: unset">
                <h1 class="subtitle">Tabelas</h1>
                <div>
                    {% if not tables %}
                        <p class="disabled" style="text-wrap: auto">Faça a consulta para visualizar as tabelas disponíveis.</p>
                    {% else %}
                        <div style="overflow-y: scroll; max-height: 340px; width: 100%;">
                            <table>
                                <tbody>
                                    {% for row in tables %}
                                        <tr class="selectable-row" onclick="addTableToQuery('{{ row[0] }}')">
                                            <td>{{ row[0] }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>

        {% if app_version[2] %}

            <div class="tables-container" style="max-width: 100%;">
                <h1 style="text-align: left; margin: 0; padding-left: 0" class="text-main-color subtitle">{{ dsn }} Results</h1>
                
                {% if alert_msge %}
                    <p class="alert" id="custom-alert">{{ alert_msge }}</p>
                {% endif %}

                {% if result %}
                    {% set row_count = result|length %}
                    <div>Total de Resultados: <span style="color: var(--main-color); font-weight: bold">{{ row_count }}</span></div>
                    {% if columns %}
                        <div style="max-height: 600px; overflow: auto; max-width: 100%;">
                            <table>
                                <thead>
                                    <tr>
                                        {% for column in columns %}
                                            <th>{{ column }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in result %}
                                        <tr>
                                            {% for value in row %}
                                                <td {% if loop.index0 == 0 %}class="wrap"{% endif %}>{{ value }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        {% for row in result %}
                            <tr>
                                {% for value in row %}
                                    <div class="msg-error" {% if loop.index0 == 0 %}class="wrap"{% endif %}>{{ value }}</div>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <div class="msg-info">Nenhum resultado foi encontrado.</div>
                {% endif %}
            </div>

        {% endif %}

    </div>

{% endblock content %}

{% block route_script %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.0/mode/sql/sql.min.js"></script>

    <script>
        var currentQuery = "";

        var editor = CodeMirror.fromTextArea(document.getElementById('sql_query'), {
            lineNumbers: true,
            mode: "text/x-sql",
            theme: "material-darker"
        });

        function restoreLastQuery() {
            undoButton = document.getElementById("undoButton").style.display = "none";
            editor.setValue(currentQuery);
        }

        function addTableToQuery(table) {
            sel_schema = document.getElementById("sel_schema").value;
            undoButton = document.getElementById("undoButton").style.display = "block";

            currentQuery = editor.getValue();

            schema = "";
            if (sel_schema == "ODBC-DRIVER" || sel_schema == "API") {
                schema = "DB2ADMIN.";
            }

            editor.setValue(`SELECT * FROM ${schema}${table};`);
        }
    
        document.getElementById("form-field").addEventListener("submit", function() {
            document.getElementById("submitform").disabled = true;

        });

    </script>

{% endblock route_script %}