{% extends "pages/error-handler.html" %}

{% block title %}
    Service Unavailable ({{ error_code }})
{% endblock title %}

{% block type %}
    Service Unavailable!
{% endblock type %}

{% block error_code %}
    <h3 style="color: #d13636; text-align: left">ERRO {{ error_code }}</h3>
{% endblock error_code %}

{% block message %}
    <details>
        <summary><h4 style="display: contents; margin-top: 0; margin-bottom: 18px; text-align: center">A página que você tentou acessar está em desenvolvimento ou manutenção, no momento.</h4>
        </summary>
        <span style="opacity: 0.6;">503 Service Unavailable: The requested URL is currently under development or maintenance.</span>
    </details>
{% endblock message %}