<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>
            {% block title %}Página{% endblock %}
            {% if session['id_page'] %} {{'(' + session['id_page'] + ')' }} {% endif %}
            {% if session['module'] == 'logi' %}
                | LOGISTICA
            {% elif session['module'] == 'prod' %}
                | PRODUCAO
            {% else %}
                | CDE
            {% endif %}
        </title>

        <link rel="icon" href="{{ url_for('static', filename='cde-logo-only.svg') }}" type="image/x-icon">
        {% include 'components/model-header.html' %}

        {% if session['module'] == 'logi' %}
            <style>
                :root {
                    --main-color: rgb(var(--logi-color-rgb));
                }
            </style>
        {% elif session['module'] == 'prod' %}
            <style>
                :root {
                    --main-color: rgb(var(--prod-color-rgb));
                }
            </style>
        {% else %}
            <style>
                :root {
                    --main-color: rgb(var(--cde-color-rgb));
                }
            </style>
        {% endif %}
            
    </head>
    <body>
        {% include 'components/dropdown/dropdown-cde.html' %}

        <div class="view-width">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
        
        <!-- footer -->
        {% include 'shared/footer.html' %}

        {% block route_script %}
            <!-- additional scripts here if needed -->
        {% endblock route_script %}
    </body>
</html> 