<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Alerta | CDE</title>
        <link rel="icon" href="{{ url_for('static', filename='cde-logo-only.svg') }}" type="image/x-icon">

        {% include 'shared/header/cde-header.html' %}
    
        <div class="form-login" style="max-width: 460px; max-height: 400px; padding: 32px">
            <h1 class="text-main-color">{{ alert_type | safe }}</h1>
            <p class="alert-more" style="wra">{{ alert_msge | safe }}</p>
            <form style="display: flex;" id="form-field" method="post" action="{{ alert_more }}">
                <div class="split-v">
                    <div class="inputs">
                        <input style="font-size: 14px;" id="input" name="input" type="password" minlength="6" maxlength="30" placeholder="{{ url_return }}" required>
                    </div>
                    <div class="inputs">
                        <input class="btn-fancy" type="submit" value="PROSSEGUIR">
                    </div>
                </div>
            </form>
        </div>

{% include 'shared/footer.html' %}
