<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Alerta | CDE</title>
        <link rel="icon" href="{{ url_for('static', filename='cde-logo-only.svg') }}" type="image/x-icon">

        {% include 'shared/header/cde-header.html' %}

        <div style="display: flex;min-width: 100%; margin: 0 auto; align-items: center; justify-content: center;">
            <div class="form-login" style="padding: 30px">
                <h1 style="color: var(--main-color)">{{ alert_type | safe }}</h1>
                <h1 style="display: block" class="alert-message">{{ alert_msge | safe }}</h1>
                <p style="display: block" class="alert-more">{{ alert_more | safe }}</p>
                <br>
                <a class="btn-fancy" style="max-width: 300px;" onclick="goBack()">Voltar</a>
            </div>
        </div>

{% include 'shared/footer.html' %}
