<div id="quantityPopup" class="dialog-overlay hidden">
    <div class="dialog-box">
        <h1 style="margin-top: 8px; margin-bottom: 14px;">Separar <span class="text-main-color">{{ cod_item }}</span>:</h1>
        <h1 class="sub-label">Separado:</h1>
        <div class="flex-v">
            <h3 id="popupMessage"></h3>
            <p id="popupFaltante"></p>
        </div>
        <h1 class="sub-label">Separar:</h1>
        <div class="flex-v">
            <h3 class="text-main-color" style="display: flex; justify-content: center;">
                <div style="border-bottom: 2px solid var(--main-color); width: max-content;">
                    <span>+</span>
                    <input value="0" style="all: unset; width: 70px;" type="number" style="width: 40px;" id="quantityInput" min="1">
                    <a id="maxBtn">MAX</a>
                </div>
            </h3>
            <p id="popupObs"></p>
        </div>
        <br>
        <button class="btn-fancy" id="submitBtn">CONFIRMAR</button>
        <a class="aux-link" style="margin-top: 6px" onclick="hidePopUp()">Cancelar</a>
    </div>
</div>