            {% include 'components/model-header.j2' %}
                <style>
                    :root {
                        --main-color: rgb(var(--cde-color-rgb));
                    }
                </style>
            {% include 'components/dropdown/dropdown-cde.j2' %}

                <!-- (content) -->
                <div class="view-width">
                    <div class="container">
                    <!-- <template>.j2 -->