{% from 'components/icon.j2' import icon as ui_icon %}
    <!--
<div class="ad-banner flex-v">
    <span class="close-banner" onclick="this.parentElement.style.display='none';">
        {{ ui_icon('svg/xmark.svg', 'Fechar', 'ui-icon-md') }}
    </span>

    <div class="banner-content">
        <h1 class="banner-title">SISTEMA ATUALIZADO!</h1>
        <div class="split-h">
            <p class="banner-text">v{{ app_version[0] }} (beta)</p>
            <a href="/last-version/" class="banner-button">O que há de novo?</a>
        </div>
    </div>
</div>
    -->
