    <!-- header.html -->
        {% include 'components/head.html' %}
    </head>
    <body>
        <div class="user-name">
            <!-- <img id="toggle-theme" class="svg-white" src="{{ url_for('static', filename='svg/moon.svg') }}" alt=""> -->
            <p class="user-name" onclick="window.location.href='{{ url_for('login') }}';">
                {{ session.get('user_name', '') }}
            </p>
            <div style="pointer-events: none" class="user-logger">
                <a style="color: var(--cor-destaque); pointer-events: auto; font-size: 16px;text-shadow: 20px #fff" href="{{ url_for('logout') }}">
                    {{ 'SAIR' if session.get('logged_in', False) else '' }}
                </a>
            </div>
            {% if 'privilegio' in session %}
                <div class="user-button" onclick="window.location.href='{{ url_for('login') }}';">
                    {{ session.get('user_initials', '') }}
                </div>
            {% endif %}
        </div>
        {% if app_version[2] %}
            <p class="vers-info center-page" style="position: fixed; top: 40px; color: red;font-size: 26px; font-weight: bold">CLIENTE: DESENVOLVIMENTO</p>
            <p class="vers-info center-page" style="position: fixed; top: 62px; color: red; font-weight: bold">(APENAS PARA DESENVOLVEDORES)</p>
        {% endif %}
        <div class="split-horizontal">
            <!-- main-sidebar.html -->
            {% include 'shared/main-sidebar.html' %}
            <!-- header.html -->
            <div id="loading-content">
                <div class="back-modal"></div>
                <div class="loader"></div>
            </div>
            <div style="width: 100%">
