    <!-- header.html -->
        {% include 'components/head.html' %}
    </head>
        <div id="loading-content">
            <div class="back-modal"></div>
            <div class="loader-fullscreen"></div>
        </div>
        <div id="toast-container" class="toast-container"></div>
            <script>
                idPage = '{{ session['id_page'] }}'

                function trackRecentPages(pageId, pageName) {
                    // Recupera o histórico existente ou inicia um novo array
                    let recentPages = JSON.parse(localStorage.getItem('recentPages')) || [];
                
                    if (pageId === 'CDE001') {
                        return;
                    } else {
                        // Remove a entrada existente com o mesmo pageId, se existir
                        recentPages = recentPages.filter(page => page.pageId !== pageId);
                
                        // Adiciona o novo registro ao final do histórico
                        recentPages.push({
                            pageId: pageId,
                            pageName: pageName,
                            pageLink: window.location.href
                        });
                
                        // Limita o histórico a 12 registros
                        if (recentPages.length > 12) {
                            recentPages.shift();
                        }
                
                        // Salva o histórico atualizado no localStorage
                        localStorage.setItem('recentPages', JSON.stringify(recentPages));
                    }
                }                              

                trackRecentPages(idPage, `{{ session['id_user'] }}`);
            </script>
        <div style="min-width: min-content;">

