{% macro sidebar(buttons) %}
<div draggable="false" class="forms-container" style="position: relative; max-width: max-content; padding: 8px;">
    {% for button in buttons %}
        <div class="btn-fancy {% if button.active %}active{% endif %}" 
             style="height: 60px; width: 60px; margin: 8px" 
             title="{{ button.title }}" 
             onclick="window.location.href='{{ url_for(button.url) }}';">
            <img class="svg-inv" src="{{ url_for('static', filename=button.icon) }}" alt="">
        </div>
    {% endfor %}
</div>
{% endmacro %} 