<!-- footer.html -->

            </div>
        </div>
        <div id="scroll-to-top-button" class="hidden-opacity">
            <button onclick="scrollToTop()">
                <img style="height: 24px; width: 24px; padding: 0" class="svg-inv" title="Voltar ao topo" src="{{ url_for('static', filename='svg/arrow-big-up-dash.svg') }}" alt="">
            </button>
        </div>
        <div class="pre-footer">
            <div style="display: flex; justify-content: flex-start">
                <img style="height: 14px; width: 14px;" class="svg" src="{{ url_for('static', filename='svg/cde-logo-only-w.svg') }}" alt="CDE">
                <div class="version-info">CDE | v{{ app_version[0] }} (beta)</div>
            </div>
            <div style="display: flex; justify-content: flex-end">
                {% if 'privilegio' in session %}
                    <div class="version-info" id="userInfo" onclick="window.location.href='{{ url_for('login') }}';">
                        {{ session.get('id_user', '') }} - {{ session.get('user_name', '') }}
                    </div>
                {% else %}
                    <div class="version-info" id="userInfo" onclick="window.location.href='{{ url_for('login') }}';">
                        (faça login para acessar o sistema)
                    </div>
                {% endif %}
            </div>
            <div class="version-info" style="display: flex; justify-content: flex-start">
                <span id="current-time"></span>
            </div>
        </div>
        <div id="footer" style="position: static">
            <div class="three-split" style="width: 100%; align-items: start;">
                <div>
                    <p style="font-weight: bold;color: white;margin-bottom: 10px">Desenvolvido por</p>
                    <img style="width: 120px;margin-top: 4px; margin-right: 0" class="logo" src="{{ url_for('static', filename='img/lb-logo.png') }}" alt="">
                    <p style="margin-top: 4px;font-weight: normal; color: white">Lucas G. Bonato</p>
                    <p style="margin-top: -2px;font-weight: bold; color: white">2023-2024</p>
                </div>
                <div>
                    <p style="font-weight: bold; color: white;margin-bottom: 10px">Comunicação</p>
                    <p style="font-weight: normal; color: white">Entre em contato<br> comigo:</p>
                    <ul class="footer-links">
                        <li>
                            <a href="https://linkedin.com/in/lucas-bonato/" target="_blank">
                                <img style="height: 18px; width: 18px" class="svg-invert-hover opaque" src="{{ url_for('static', filename='svg/linkedin.svg') }}" alt="LinkedIn">
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/bon4to" target="_blank">
                                <img style="height: 18px;width: 18px" class="svg-invert-hover opaque" src="{{ url_for('static', filename='svg/github.svg') }}" alt="GitHub">
                            </a>
                        </li>
                        <li>
                            <a href="mailto:lucas.bon4to@gmail.com" target="_blank">
                                <img style="height: 18px;width: 18px" class="svg-invert-hover opaque" src="{{ url_for('static', filename='svg/email.svg') }}" alt="E-Mail">
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <p style="font-weight: bold;color: white;margin-bottom: 10px">Direitos</p>
                    <p style="font-weight: normal; color: white">Todos os direitos<br>reservados</p>
                    <p style="color: white;margin-top: 6px"> &copy; 2024</p>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                const now = new Date();
                const formattedTime = ('0' + now.getHours()).slice(-2) + ':' +
                    ('0' + now.getMinutes()).slice(-2) + ':' +
                    ('0' + now.getSeconds()).slice(-2) + ' | ' +
                    ('0' + now.getDate()).slice(-2) + '/' +
                    ('0' + (now.getMonth() + 1)).slice(-2) + '/' +
                    now.getFullYear()
                    ;
                document.getElementById('current-time').textContent = formattedTime;
            });
        </script>
        {% if request.path == '/mov', '/envase', '/producao' %}
            <script src="{{ url_for('static', filename='js/lb-float-cont.js') }}"></script>
        {% endif %}
        <script src="{{ url_for('static', filename='js/lb-filter.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
