<!-- footer.html -->
        <!-- temporary div closer to non-set base.html -->
        {% if session['module'] == 'unset' %}
            </div>
        </div>
        {% endif %}

        <div id="scroll-to-top-button" class="hidden-opacity">
            <button onclick="scrollToTop()">
                <img style="height: 24px; width: 24px; padding: 0" class="svg-inv" src="{{ url_for('static', filename='svg/arrow-big-up-dash.svg') }}" alt="">
            </button>
        </div>

        <div id="pre-footer" style="text-wrap: nowrap;">
            <div style="display: flex; justify-content: flex-start; width: 260px; margin: 0 8px">
                <img class="svg" src="{{ url_for('static', filename='svg/cde-logo-only-w.svg') }}" alt="CDE">
                <div class="version-info">CDE | v{{ app_version[0] }} (beta)</div>
            </div>
            <div style="display: flex; justify-content: center; width: 260px;">
                <div class="version-info" id="userInfo" onclick="window.location.href='{{ url_for('cde_profile') }}';">
                    {% if 'user_grant' in session %}
                        {{ session.get('id_user', '') }} - {{ session.get('user_name', '') }}
                    {% endif %}
                </div>
            </div>
            <div style="display: flex; justify-content: flex-end; width: 260px;">
                {% if app_version[2] %}
                    <div class="version-info" style="color: #ffffff; mix-blend-mode: overlay">MODO: DESENVOLVEDOR</div>
                {% endif %}
                <span class="version-info" style="margin: 0 8px" id="current-time"></span>
            </div>
        </div>

        <div id="footer">
            <div class="split-h" style="width: 80%; align-items: start;">
                <div class="flex-v" style="width: 460px;">
                    <ul class="flex-h" style="justify-content: flex-start; gap: 12px">
                        <li><a href="https://linkedin.com/in/lucas-bonato/" target="_blank"><img class="svg-invert-hover opaque" src="{{ url_for('static', filename='svg/linkedin.svg') }}" alt="LinkedIn"></a></li>
                        <li><a href="https://github.com/bon4to" target="_blank"><img class="svg-invert-hover opaque" src="{{ url_for('static', filename='svg/github.svg') }}" alt="GitHub"></a></li>
                        <li><a href="mailto:bon4to@icloud.com" target="_blank"><img class="svg-invert-hover opaque" src="{{ url_for('static', filename='svg/inbox.svg') }}" alt="E-Mail"></a></li>
                    </ul>
                    <div>
                        <p class="flex-v" style="gap: 0; align-items: flex-start; text-align: left; font-size: 14px; padding: 0; margin: 0; justify-content: flex-start;">
                            <span>Released under the MIT License.</span>
                            <span style="font-weight: 550">Copyright © 2025 Lucas G. Bonato</span>
                        </p>
                    </div>
                </div>
                <div class="flex-v">
                    <ul class="flex-h" style="gap: 32px; margin: 26px 0">
                        <li><a href="/about" target="_blank">About</a></li>
                        <li><a href="https://github.com/bon4to/cde/blob/main/LICENSE" target="_blank">License</a></li>
                        <li><a href="https://github.com/bon4to/cde" target="_blank">GitHub</a></li>
                        <li><a href="https://github.com/bon4to/cde/issues" target="_blank">Issues</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                const now = new Date();
                const formattedTime = ('0' + now.getHours()).slice(-2) + ':' +
                    ('0' + now.getMinutes()).slice(-2) + ':' +
                    ('0' + now.getSeconds()).slice(-2) + ' | ' +
                    ('0' + now.getDate()).slice(-2) + '/' +
                    ('0' + (now.getMonth() + 1)).slice(-2) + '/' +
                    now.getFullYear()
                    ;
                document.getElementById('current-time').textContent = formattedTime;
            });
        </script>
        {% if request.path == '/logi/mov/' %}
            <script src="{{ url_for('static', filename='js/lb-float-cont.js') }}"></script>
        {% endif %}
        <script src="{{ url_for('static', filename='js/lb-filter.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
