    <!-- header.html -->
        {% include 'shared/head.html' %}
    </head>
    <body>
        <div class="split-horizontal">
            <!-- main-sidebar.html -->
            {% include 'shared/main-sidebar.html' %}
            <!-- header.html -->
            <div id="loading-content">
                <div class="back-modal"></div>
                <div class="loader"></div>
            </div>
            <div style="width: 100%">
                <header class="main-header">
                    <div class="logo-container">
                        <img class="logo"  src="{{ url_for('static', filename='png/logo-typed.png') }}" alt="Trans Légua">
                        <img class="logo" src="{{ url_for('static', filename='png/logo-lb.png') }}" alt="Lucas Bonato">
                    </div>
                </header>
                <div class="user-name">
                    <img class="svg-mobile" onclick="window.location.href='{{ url_for('index') }}';" src="{{ url_for('static', filename='icons/house-mobile.svg') }}" alt="">
                    <p class="user-name" onclick="window.location.href='{{ url_for('login') }}';">
                        {{ session.get('user_name', 'FAÇA LOGIN') }}
                    </p>
                    <div style="pointer-events: none" class="user-logger">
                        <a style="color: var(--cor-destaque); pointer-events: auto; font-size: 16px" href="{{ url_for('logout') }}">
                            {{ 'SAIR' if session.get('logged_in', False) else 'ENTRAR' }}
                        </a>
                    </div>
                    {% if 'privilegio' in session %}
                        <div class="user-button" onclick="window.location.href='{{ url_for('login') }}';">
                            {{ session.get('user_initials', '') }}
                        </div>
                    {% endif %}
                </div>
                <section class="banner text-overlay">
                    <img class="blurable" draggable="false" src="{{ url_for('static', filename='png/banner.jpg') }}" alt="">
                    <div>
                        <img src="{{ url_for('static', filename='png/logo-typed.png') }}" alt="" style="pointer-events: none;position: absolute;height: 55px;width: auto;top: 30px;left: 130px;">
                    </div>
                </section>

                {% include 'components/dropdown/dropdown-general.html' %}

                <!-- (content) -->
                <div>
                    <div class="container">
                    <!-- <template>.html -->